<?php 
    $barcode = Mage::helper('giftvoucher')->getGeneralConfig('barcode_enable');
    $barcode_type = Mage::helper('giftvoucher')->getGeneralConfig('barcode_type');
    $url_barcode = '';
    if($barcode){
        if($barcode_type == 'code128') $url_barcode = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'giftvoucher/template/barcode/default.png';
        else $url_barcode = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'giftvoucher/template/barcode/qr.png';
    }
    if(Mage::getStoreConfig('giftvoucher/print_voucher/logo')) $logo = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'giftvoucher/pdf/logo/'.Mage::getStoreConfig('giftvoucher/print_voucher/logo');
    else $logo = $this->getSkinUrl('images/logo_print.gif');
?>
<div id="giftcard-template-left" style="/*display:none*/overflow:hidden; width: 655px; height: 400px;font-size: 14px">
    <div class="giftcard-template-content-left giftcard-change-image" style="width: 275px; height: 400px; float: left; background-color: #FFFFFF;background-image: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'giftvoucher/template/images/left/default.png' ?>); background-position: center; background-repeat: no-repeat;background-size: 275px 400px">
        <div style="background:#FFFFFF; width: 275px; height: 50px; margin-top: 300px; padding-top: 7px; padding-bottom: 8px">
            <div style="background: url(<?php echo $logo; ?>) center no-repeat; width: 275px; height: 50px;"></div>
        </div>
    </div>
    <div class="giftcard-template-content" style="width: 340px; height: 360px; padding: 20px;margin-left: 275px; background-color:#FFFFFF; background-image: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'giftvoucher/template/background/left/default.png' ?>); background-position: center;background-repeat: no-repeat;background-size: 380px 400px">
        <div class="giftcard-style-color giftcard-title" style="width: 340px; height: 60px; font-size: 40px; font-style: italic; color: orange; font-family: time new roman">
            <?php echo $this->__('Giftcard Title') ?>
        </div>
        <div style="width: 340px;font-size: 16px; height: 25px">
            <span style="margin-right: 15px;max-width: 140px;overflow: hidden;display: table-cell;float: left; max-height: 25px">
                <label class="giftcard-text-color" for="giftcard-from" style="font-style: italic; font-family: time new roman"><?php echo $this->__('from') ?>:</label>
                <span class="giftcard-style-color giftcard-send-from" style="color: orange;">&nbsp;<?php echo Mage::helper('customer')->isLoggedIn() ? Mage::helper('customer')->getCustomerName() : ''; ?></span>
            </span>
            |
            <span style="width: 170px; margin-left: 15px; max-height: 25px">
                <label class="giftcard-text-color" for="giftcard-to" style="font-style: italic; font-family: time new roman"><?php echo $this->__('to') ?>: </label>
                <span class="giftcard-style-color giftcard-send-to" style="color: orange;">&nbsp;</span>
            </span>
        </div>
        <div style="overflow: hidden; width: 340px; height: 100px;margin-top: 10px; ">
            <div style="padding: 6px; padding-bottom: 14px; padding-top: 3px; background: url(<?php echo $this->getSkinUrl('images/giftvoucher/box-message.png') ?>) no-repeat; width: 328px; height: 85px;display:table-cell; vertical-align: middle"><pre class="giftcard-text-color giftcard-custom-message" style="margin: 0; white-space: pre-wrap; max-height: 85px; overflow: hidden; font-size: 11px"></pre></div>
        </div>
        <div style="width: 340px;height: 15px; margin-top: 8px">
            <span class="giftcard-text-color" style="width: 55px; float: left"><?php echo $this->__('Value') ?></span>
            <span style="width: 285px; float: right; text-align: right">
                <label class="giftcard-text-color"><?php echo $this->__('Gift Card Number') ?>:</label>
                <?php if($url_barcode != ''): ?>
                <span class="giftcard-style-color" style="color: orange; font-weight: bold; font-family: time new roman">GIFT-XXXX-XXXX</span>
                <?php endif; ?>
            </span>
        </div>
        <div style="width: 340px;height: 70px">
            <span class="giftcard-style-color giftcard-price-change" style="width: 130px; float: left; font-size: 25px; color: orange; font-weight: bold; font-family: time new roman">$100.00</span>
            <span style="width: 210px; float: right; text-align: right">
                <?php if($url_barcode != ''): ?>
                <img src="<?php echo $url_barcode ?>"/>
                <?php else: ?>
                <span class="giftcard-style-color" style="line-height: 50px; font-size: 20px; color: orange; font-weight: bold; font-family: time new roman">GIFT-XXXX-XXXX</span>
                <?php endif; ?>
            </span>
        </div>
        <div style="width: 340px;height: 65px; overflow: hidden;display:table-cell; vertical-align: bottom">
            <p style="font-size: 11px;line-height: 16px; margin: 0" class="giftcard-text-color"><?php echo Mage::getSingleton('giftvoucher/giftvoucher')->getPrintNotes(); ?></p>
        </div>
    </div>
</div>