<?php $_ecard = $this->getEcard(); ?>
<?php $message = json_decode($this->getMessage(), true); ?>
<div id="contentDiv">
    <div id="cardPreview">
        <div id="previewDiv">
            <a href="#" id="previewButton"><?php echo $this->__('Click to view the card'); ?></a>
            <img id="envelopeFrontAnimation" class="envelopeFrontSet" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'envelope_front')->resize(360,273); ?>" alt="Envelope Front"/>
            <div id="textPreview" class="envelopeFrontSet recipient-name">
                <p><?php echo (strlen($this->getExampleName())) ? $this->getExampleName() : $this->__('Recipient name'); ?></p>
            </div>
        </div>
        <div class="envDiv">
            <div id="envelopeMessage" ><a href='#'><?php echo $this->__('Click to open'); ?></a></div>
            <img id="envelopeBackAnimation" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'envelope_back')->resize(660,508); ?>" alt="Envelope Back"/>
            <img id="envelopeTopBackAnimation" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'envelope_top_back')->resize(660,341); ?>" alt="Envelope To pBack" />
        </div>
        <div class="open-card-block">
            <?php if ($_ecard->getAttributeSetId() == 33) : ?>
                <div id="cardDiv" class="open-card-block">
                    <img id="cardOpenLeftAnimation" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'card_open_left')->resize(650,930); ?>"  alt="Card Open Left"/>
                    <!-- ////////////////////////////////////// -->
                    <?php if(Mage::getSingleton('core/session')->getIsCardDouble()) : ?>
                        <div id="image_card_open_left"> <img src="<?php echo $this->getCardImage(); ?>" alt=""  /></div>
                    <?php endif; ?>
                    <!-- ////////////////////////////////////// -->
                    <img id="cardOpenRightAnimation" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'card_open_right')->resize(650,930); ?>" alt="Card Open Right"/>
                    <textarea readonly class="cardTextAnimation textAnim_size2Opening" style="<?php echo $this->getStyle(); ?>"><?php echo $message['text']; ?></textarea>

                    <p class="open-text" id="open-text1"><?php echo $this->__('Click to open card'); ?></p>
                    <p class="open-text" id="open-text2"><?php echo $this->__('Click to view your gift'); ?></p>
                    <div id="cardFrontDiv">
                        <img id="cardFrontTopAnimation" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'card_front_top')->resize(650,465); ?>" alt="Card Front Top"/>
                        <img id="cardFrontBottomAnimation" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'card_front_bottom')->resize(650,465); ?>" alt="Card Front Bottom" />
                    </div>
                    <img id="cardBackAnimation" class="booksSet" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'card_back')->resize(650,930); ?>" alt="Card Back"/>
                    <div id="booksPrintSize2Div" class="booksSet">
                        <div id="booksPrintSize2">
                            <ul>
                                <?php foreach ($this->getGiftsList() as $_gift)  :?>
                                    <li><img src="<?php echo Mage::helper('catalog/image')->init($_gift, 'thumbnail')->resize(249, null); ?>" title="<?php echo $_gift->getName(); ?>" alt="Book gift" /></li>
                                <?php endforeach; ?>
                            </ul>
                        </div>
                    </div>
                </div>
            <?php else : ?>
                <div id="cardDiv" class="single-card-block">
                    <div id="cardFrontDiv">
                        <img id="cardFrontTopAnimation"  src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'card_front_top')->resize(650,465); ?>" alt="Card Front Top"/>
                        <img id="cardFrontBottomAnimation"  src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'card_front_bottom')->resize(650,465); ?>" alt="Card Front Bottom"/>
                        <textarea class="textAnim_size2NonOpening" style="<?php echo $this->getStyle(); ?>" readonly><?php echo $message['text']; ?></textarea>
                    </div>
                    <img id="cardBackAnimation" class="booksSet" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'card_back')->resize(650,930); ?>" alt="Card Back" />
                    <div id="booksPrintSize2Div" class="booksSet">
                        <div id="booksPrintSize2">
                            <ul>
                                <?php foreach ($this->getGiftsList() as $_gift)  :?>
                                    <li><img src="<?php echo Mage::helper('catalog/image')->init($_gift, 'thumbnail')->resize(249, null); ?>" title="<?php echo $_gift->getName(); ?>" alt="Book gift" /></li>
                                <?php endforeach; ?>
                            </ul>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
        </div>
        <div class="envDiv">
            <img id="envelopeBackNoBottomAnimation" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'envelope_back_no_bottom')->resize(660,508); ?>"  alt="Envelope Back No Bottom"/>
            <img id="envelopeTopFrontAnimation" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'envelope_top_front')->resize(660,341); ?>" alt="Envelope Top Front" />
        </div>
    </div>
</div>