<?php $_ecard = $this->getEcard(); ?>
<?php $_items = $this->getItems(); ?>
<?php $qty = $this->getItemQty(); ?>
<div>
    <div class="ecard-name">
        <table class="data-table">
            <thead>
            <tr>
                <th><?php echo $this->__('Item'); ?></th>
                <th><?php echo $this->__('Quantity'); ?></th>
                <th><?php echo $this->__('Subtotal'); ?></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><?php echo $_ecard->getName(); ?></td>
                <td><?php echo $qty; ?></td>
                <td><?php echo Mage::helper('core')->currency($_ecard->getPrice() * $qty, true, false); ?></td>
            </tr>
            </tbody>
        </table>
    </div>
    <?php if (count($_items) > 0) : ?>
        <span><?php echo $this->__('Gitfts :'); ?></span>
        <table  class="data-table gift-table">
            <thead>
            <tr>
                <th><?php echo $this->__('Item'); ?></th>
                <th><?php echo $this->__('Quantity'); ?></th>
                <th><?php echo $this->__('Subtotal'); ?></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($_items as $_item) : ?>
                <tr>
                    <td><?php echo $_item->getName(); ?></td>
                    <td><?php echo $qty; ?></td>
                    <td><?php echo Mage::helper('core')->currency($this->getPrice($_item) * $qty, true, false); ?></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    <?php else : ?>
        <p><?php echo $this->__('Select a gift'); ?></p>
    <?php endif; ?>
    <div class="totals-block">
        <div class="ecard-subtotal">
            <?php echo $this->__('Subtotal: '); ?><span><?php echo $this->getTotal(); ?></span>
        </div>
        <div class="ecard-grandtotal">
            <?php echo $this->__('Grand Total: '); ?><span><?php echo $this->getTotal(true); ?></span>
        </div>
    </div>
    <div class="ecard-recipients">
        <table  class="data-table">
            <thead>
            <tr>
                <th><?php echo $this->__('Name'); ?></th>
                <th><?php echo $this->__('Email'); ?></th>
                <th><?php echo $this->__('Phone Number'); ?></th>
                <th><?php echo $this->__('Send Date'); ?></th>
            </tr>
            </thead>
            <tbody>
            <?php if ($this->getMethod()) : ?>
                <tr>
                    <td colspan="3"><?php echo $this->__('%s recipient will be uploaded from CSV or XLS file', $qty); ?></td>
                </tr>
            <?php else : ?>
                <?php foreach ($this->getRecipients() as $_recipient) : ?>
                    <tr>
                        <td><?php echo $_recipient->getName(); ?></td>
                        <td><?php echo $_recipient->getEmail(); ?></td>
                        <td><?php echo $_recipient->getPhone(); ?></td>
                        <td><?php echo $_recipient->getDate(); ?></td>
                    </tr>
                <?php endforeach; ?>
            <?php endif; ?>
            </tbody>
        </table>
    </div>

    <input type="submit" name="submit" value="<?php echo $this->__('Add selection to Cart'); ?>" class="add-to-cart-card" onclick="return validate();"/>
</div>

<script type="text/javascript">
    //<![CDATA[
    function validate() {
        var tabs = jQuery('#ecard-tabs').tabs();
        var recipientsTab = 2;
        if(jQuery('#card-type').val() == 'egifts') {
            var giftTab = 2;
            recipientsTab = 3;
        }

        if ( jQuery('#card-type').val() == 'evites' ) {
            if (jQuery('#evite-name').val() == '' || jQuery('#evite-date').val() == '' || jQuery('#evite-time').val() == '' ||
                jQuery('#evite-place').val() == '' || jQuery('#evite-comments').val() == '') {
                tabs.tabs('enable', 1).tabs('select', 1);
                tabs.tabs('select', 1);
                if (1 == (tabs.tabs("length") - 1)) {
                    jQuery("#btnNext").hide();
                } else {
                    jQuery("#btnNext").show();
                }

                if (jQuery('#evite-name').val() == '') {
                    jQuery('#evite-name').addClass('validate-error');
                }
                if (jQuery('#evite-date').val() == '') {
                    jQuery('#evite-date').addClass('validate-error');
                }
                if (jQuery('#evite-time').val() == '') {
                    jQuery('#evite-time').addClass('validate-error');
                }
                if (jQuery('#evite-place').val() == '') {
                    jQuery('#evite-place').addClass('validate-error');
                }
                if (jQuery('#evite-comments').val() == '') {
                    jQuery('#evite-comments').addClass('validate-error');
                }
                return false;
            }
        } else {
            if (jQuery('#cardText').val() == '') {
                tabs.tabs('enable', 1).tabs('select', 1);
                tabs.tabs('select', 1);
                if (1 == (tabs.tabs("length") - 1)) {
                    jQuery("#btnNext").hide();
                } else {
                    jQuery("#btnNext").show();
                }
                jQuery('#cardText').addClass('validate-error');
                return false;
            }
        }

        if (jQuery('#booksListDiv input[type=checkbox]:checked').length == 0 && giftTab) {
            tabs.tabs('enable', giftTab).tabs('select', giftTab);
            tabs.tabs('select', giftTab);
            if (1 == (tabs.tabs("length") - 1)) {
                jQuery("#btnNext").hide();
            } else {
                jQuery("#btnNext").show();
            }
            jQuery('#ecards-gifts-view').addClass('validate-error');
            return false;
        }

        if (jQuery('#input-manually').is(':checked')) {
            var error = 0;
            jQuery.each(jQuery('.name-recipient'), function() {
                if (jQuery(this).val() == '') {
                    jQuery(this).addClass('validate-error');
                    jQuery(this).next().next().addClass('active');
                    error++;
                }
                jQuery(this).on('keyup', function() {
                    jQuery(this).removeClass('validate-error');

                    jQuery(this).next().next().removeClass('active');
                });
            });
            jQuery.each(jQuery('.email-recipient'), function() {
                if (jQuery(this).val() == '') {
                    jQuery(this).addClass('validate-error');

                    jQuery(this).next().addClass('active');
                    error++;
                }
                jQuery(this).on('keyup', function() {
                    jQuery(this).removeClass('validate-error');
                    jQuery(this).next().removeClass('active');
                });
            });
            if (error > 0) {
                tabs.tabs('enable', recipientsTab).tabs('select', recipientsTab);
                tabs.tabs('select', recipientsTab);
                if (recipientsTab == (tabs.tabs("length") - 1)) {
                    jQuery("#btnNext").hide();
                } else {
                    jQuery("#btnNext").show();
                }
                return false;
            }
        } else {
            if (jQuery('#ecard-file').prop('files')[0] == null) {
                tabs.tabs('enable', recipientsTab).tabs('select', recipientsTab);
                tabs.tabs('select', recipientsTab);
                if (3 == (tabs.tabs("length") - 1)) {
                    jQuery("#btnNext").hide();
                } else {
                    jQuery("#btnNext").show();
                }
                jQuery('#ecard-file').addClass('validate-error');
                return false;
            } else {
                var count = '<?php echo $qty; ?>';
                if (count == '0') {
                    tabs.tabs('enable', recipientsTab).tabs('select', recipientsTab);
                    tabs.tabs('select', recipientsTab);
                    if (recipientsTab == (tabs.tabs("length") - 1)) {
                        jQuery("#btnNext").hide();
                    } else {
                        jQuery("#btnNext").show();
                    }
                    jQuery('#ecard-file').addClass('validate-error');
                    alert('<?php echo $this->__('Please upload a valid CSV file'); ?>');
                    return false;
                }
            }
        }
        return true;
    }
    //]]>
</script>
