<form id="type_buy">
    <div id="buying_type">
        <div style="float:left;">
            <input type="radio" id="buy_bundle" name="variant" value="1" checked onclick="swap('target1', 'target2', 1)"><label for="buy_bundle"><?php echo $this->__('Buy a bundle'); ?></label>
        </div>
        <div style="float:left;margin-left:20px;">
            <input type="radio" id="buy_single" name="variant" value="2" onclick="swap('target2', 'target1', 2)"><label for="buy_single"><?php echo $this->__('Buy a single'); ?></label>
        </div>
    </div>
    <input id="card_id"      type="hidden" value="<?php echo $this->getRequest()->getParam('id'); ?>"/>
    <input id="url"          type="hidden" value="<?php echo Mage::getUrl('base/index/getcardtype'); ?>"/>
    <input id="baseurl"      type="hidden" value="<?php echo Mage::getUrl(); ?>"/>

    <input id="card_type"    type="hidden" value="<?php echo Mage::helper('base')->getCardType(); ?>"/>
    <input id="issingle"     type="hidden" value="<?php echo Mage::helper('base')->isBuyAsSingle(); ?>"/>
    <input id="islogin"      type="hidden" value="<?php echo Mage::getSingleton('customer/session')->isLoggedIn(); ?>"/>
</form>
<button type="button" id="buy_single_box" class="button hidden">
    <div id="buy_single_button" class="processing_button"><?php echo $this->__('Buy Single') ?></div>
</button>

<script type="text/javascript">
    jQuery(function() {
        var variant      = jQuery('input[name="variant"]');
        var checkedValue = variant.filter(':checked').val();
        var cardId       = jQuery('#card_id').val();
        var baseUrl      = jQuery('#baseurl').val();
        var cardType     = jQuery('#card_type').val();
        var singlePrice  = jQuery('product-price-single').val();
        var isSingle     = jQuery('#issingle').val();
        var isLogin      = jQuery('#islogin').val();

        if(isSingle == '0' || !(isLogin)){
            jQuery('#buying_type').hide();
        }

        if(checkedValue == '1'){
            jQuery('.single_ecard').hide();
            jQuery('.bundle_ecard').show();

            jQuery('.single-price-box').hide();
            jQuery('.bundle-price-box').show();
        } else {
            jQuery('.single_ecard').show();
            jQuery('.bundle_ecard').hide();

            jQuery('.single-price-box').show();
            jQuery('.bundle-price-box').hide();
        }


        jQuery("#buy_single_box").click(function(){
            jQuery.post(jQuery('#url').val(),
                {
                    id: cardId,
                },
                function(result){
                    cardType = result.replace(/\0/g, '0').replace(/\\(.)|"/g, "$1");
                    var link = baseUrl + cardType + '/index/index/id/' + cardId + '/';
                    window.location = link;
                }
            );
        });

        jQuery("#buy_single").click(function(){
            jQuery('.single_ecard').show();
            jQuery('.bundle_ecard').hide();

            jQuery('.single-price-box').show();
            jQuery('.bundle-price-box').hide();
        });

        jQuery("#buy_bundle").click(function(){
            jQuery('.single_ecard').hide();
            jQuery('.bundle_ecard').show();

            jQuery('.single-price-box').hide();
            jQuery('.bundle-price-box').show();
        });
        swap('one', 'two', checkedValue);
    });

    function swap(one, two, switcher) {
        var buySingle = jQuery("#buy_single_box");
        jQuery('.add-to-box').append(buySingle);
        if (switcher == 1) {
            jQuery('.btn-cart, .qty-block').show();
            buySingle.addClass("hidden");
        } else {
            jQuery('.btn-cart, .qty-block').hide();
            buySingle.removeClass("hidden");
        }
    }

</script>