<?php /* @var $this Cdr_OrderComment_Block_Sales_Order_View_Ordercomment */ ?>

<?php if($this->isActive()) : ?>
<div class="col1-set order-info-box">     
    <div class="col-1">         
        <div class="box">             
            <div class="box-title">                 
                <h2>Order Comment</h2>             
            </div>             
            <div class="box-content">                 
                <?php echo $this->getOrderComment(); ?>         
            </div>         
        </div>     
    </div>              
</div>
<?php endif; ?>
<div id="booksInstruction" style="padding-top: 20px">
	<p style="margin: 0;">
		Please go to <a href="<?php echo $this->getUrl("downloadable/customer/products"); ?>">My Downloadable products</a> to download your books.
	</p>
</div>