@font-face {
  font-family: 'Myriad';
  src: url('Myriad-Condensed.ttf')  format('truetype'), url('Myriad-Condensed.svg#Myriad-Condensed') format('svg');
  font-weight: normal;
  font-style: normal;
}


