<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $_evites = $this->getOrders(); ?>

<div id="all-evints">
        <?php if($_evites->getSize()): ?>
        <?php echo $this->getPagerHtml(); ?>
        <table class="data-table responses-event" id="my-evites-table">
            <col />

            <thead>
            <tr>
            <th><?php echo $this->__('eVite') ?></th>
            <th><?php echo $this->__('Recipient') ?></th>
            <th><?php echo $this->__('Name') ?></th>
            <th><?php echo $this->__('Date') ?></th>
            <th><?php echo $this->__('Time') ?></th>
            <th><?php echo $this->__('Attend') ?></th>
            <th><?php echo $this->__('Guests') ?></th>
            </thead>

            <tbody>
            <?php foreach ($_evites as $_evite): ?>
                <?php $product = $this->getProduct($_evite->getEcardId()); ?>
                <?php $message = json_decode($_evite->getMessage(), true); ?>
                <?php $reply = json_decode($_evite->getReplyText(), true); ?>
                <tr>
                    <td class="evite-id">
                        <img src="<?php echo $this->helper('catalog/image')->init($product, 'thumbnail')->resize(75, null); ?>" width="75" height="75" alt="<?php echo $this->escapeHtml($product->getName()) ?>" />
                        <h3 class="product-name"><?php echo $this->escapeHtml($product->getName()) ?></h3>
						<div class="event-title"><h4><?php echo $this->__('Title:') ?></h4><?php echo $message['title']; ?></div>
                    </td>
                    <td class="evite-recipient-name">
                        <p><?php echo $_evite->getToName(); ?></p>
						<p> <?php echo $_evite->getToEmail(); ?></p>
                    </td>
                    <td class="evite-name">
						<span class="table-label"><?php echo $this->__('Name:') ?></span> <?php echo $message['name']; ?>
                    </td>
                    <td class="evite-date">
						<span class="table-label"><?php echo $this->__('Date:') ?></span> <?php echo $this->formatDate($message['date']); ?>
                    </td>
                    <td class="evite-time">
						<span class="table-label"><?php echo $this->__('Time:') ?></span><?php echo $message['time']; ?>
                    </td>
                    <td class="evite-time">
						<span class="table-label"><?php echo $this->__('Attend:') ?></span><?php echo $reply['attend']; ?>
                    </td>
                    <td class="evite-how">
						<span class="table-label"><?php echo $this->__('Guests:') ?></span><?php echo $reply['how']; ?>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
        <?php echo $this->getPagerHtml(); ?>
        <?php endif?>
</div>
