<?php $_evite = $this->getEcard(); ?>
<div class="ecards cardAppDivWithStyle <?php echo ($_evite->getBackground()) ? 'ecard-background' : ''; ?>" id="tabs">
    <form id="ecard-gifts" action="<?php echo Mage::getUrl('evites/index/sendevite'); ?>" enctype="multipart/form-data" method="post">
        <input type="hidden" name="ecard_id" value="<?php echo $_evite->getId(); ?>">
        <div id="ecard-tabs">
            <?php echo $this->getChildHtml('evites.progress'); ?>

            <div id="ecards-first" class="ui-tabs-panel">
                <h2>Design Step</h2>
                <img src="<?php echo Mage::helper('catalog/image')->init($_evite, 'image')->resize(800,800); ?>" title="<?php echo $_evite->getName(); ?>" alt="<?php echo $_evite->getName(); ?>"/>
            </div>

            <div id="ecards-second" class="ui-tabs-panel">
                <h2>Text Step</h2>
                <?php echo $this->getChildHtml('evites.second'); ?>
            </div>

            <div id="ecards-third" class="ui-tabs-panel">
                <h2>Add a Gift Step</h2>
                <?php echo $this->getChildHtml('evites.third'); ?>
            </div>

            <div id="ecards-fourth" class="ui-tabs-panel ui-tabs-hide">
                <h2>Recipients Step</h2>
                <?php echo $this->getChildHtml('evites.fourth'); ?>
            </div>
        </div>

        <div id="ecards-fifth" class="ui-tabs-panel ui-tabs-hide">
            <h2>Preview Step</h2>
            <?php echo $this->getChildHtml('evites.fifth'); ?>
        </div>

        <div id="ecards-summary" class="ecards-sixth ui-tabs-panel ui-tabs-hide">
            <?php echo $this->getChildHtml('evites.sixth'); ?>
        </div>
</div>
</form>
</div>

<div id="ajax-loader">
    <img src="<?php echo Mage::getDesign()->getSkinUrl('images/ajax-loader.gif'); ?>" alt="Ajax loader" /><br />
    <span> <?php echo $this->__('Please wait... '); ?></span></span>
</div>

<script type="text/javascript">
    jQuery.noConflict();
    jQuery(document).ready(function () {
        jQuery(".myDate").datepicker({minDate: 0});
        jQuery("#btnNext,.ui-tabs .ui-tabs-nav li a,#btnPrevious").live("click", function () {
            if (jQuery('#ecards-fifth').is(':visible')) {
                jQuery('#style').val(jQuery('#cardText').attr('style').replace(/"/g, '\''));
                jQuery('#ajax-loader').show();
                jQuery.ajax({
                    type: 'post',
                    url: '<?php echo Mage::getUrl('evites/index/preview'); ?>',
                    data: jQuery("#ecard-gifts").serialize(),
                    success: function (data) {
                        jQuery('#ajax-loader').hide();
                        if (data.status == 'SUCCESS') {
                            jQuery("#ecards-fifth").html(data.preview);
                            animate();
                        }
                    },
                });
            }
            if (jQuery('#ecards-summary').is(':visible')) {
                jQuery('#style').val(jQuery('#cardText').attr('style').replace(/"/g, '\''));
                jQuery('#ajax-loader').show();
                jQuery.ajax({
                    type: 'post',
                    url: '<?php echo Mage::getUrl('evites/index/summary'); ?>',
                    data: jQuery("#ecard-gifts ").serialize(),
                    success: function (data) {
                        jQuery('#ajax-loader').hide();
                        if (data.status == 'SUCCESS') {
                            jQuery("#ecards-summary").html(data.summary);
                        }
                    }
                });
            }
        });
        jQuery('#ecard-file').live('change', function() {
            var data = new FormData();
            var fileData = jQuery('#ecard-file').prop('files')[0];
            var fileName = fileData.name;
            var type = fileName.split('.');
            if ((type[1].toLowerCase() !== 'csv') &&
                (type[1].toLowerCase() !== 'xls') &&
                (type[1].toLowerCase() !== 'xlsx')) {
                alert('<?php echo $this->__('Please select a CSV or XLS(XLSX) file'); ?>');
                return;
            }
            jQuery('#ajax-loader').show();
            data.append('file', fileData);
            jQuery.ajax({
                type: 'post',
                processData: false,
                contentType: false,
                url: '<?php echo Mage::getUrl('evites/index/upload'); ?>',
                data: data,
                success: function (data) {
                    jQuery('#ajax-loader').hide();
                    jQuery('#ecard_qty').val(data.qty);
                    if (data.errors > 0) {
                        if (data.errors == 1) {
                            var message = data.errors + '<?php echo $this->__(' error have been found. Please correct the file, otherwise incorrect data will not be processed.'); ?>';
                        } else {
                            var message = data.errors + '<?php echo $this->__(' errors have been found. Please correct the file, otherwise incorrect data will not be processed.'); ?>';
                        }
                        alert(message);
                    } else {
                        if ( parseInt(jQuery('#ecard_qty').val()) > parseInt(jQuery('#ecard_count').val()) ) {
                            var message = '<?php echo $this->__('The number of recipients in the CSV exceeds the number of eVites left. Please correct the file.'); ?>';
                        } else {
                            var message = data.qty + '<?php echo $this->__(' recipients will be uploaded from CSV or XLS (XLSX) file'); ?>';
                        }
                        alert(message);
                    }
                }
            });
        });
    })
</script>

<script type="text/javascript">
    //<![CDATA[
    function animate() {
        var animStep = -1;
        jQuery("#previewButton,#previewDiv").click(function (event) {
            event.preventDefault(event);
            jQuery( "#previewButton" ).hide(500);
            jQuery( ".envelopeFrontSet" ).hide(500);
            jQuery( "#previewDiv" ).animate({
                height: '700px'
            },1000,function(){
                jQuery('.envDiv').addClass('envDivAnim0');
                jQuery('#cardDiv').addClass('envDivAnim0');
                animStep = 0;
                jQuery( '#envelopeMessage' ).delay(2500).animate({
                    opacity:'1'
                });
            });
        });
        jQuery("#envelopeMessage a").click(function (event) {
            event.preventDefault(event);
        })
        jQuery( "#contentDiv" ).click(function(event){
            if(jQuery('#cardDiv').hasClass('open-card-block')){
                if (animStep == 0) {
                    jQuery('#envelopeTopFrontAnimation').addClass('envelopeTopFrontAnimated1');
                    jQuery('#envelopeTopBackAnimation').addClass('envelopeTopBackAnimated1');
                    jQuery('#cardFrontDiv').addClass('cardFrontAnimated1');
                    jQuery('#cardDiv').addClass('cardDivAnim1');
                    animStep = 1;
                    jQuery( '#cardDiv' ).animate({
                        zIndex:'0'
                    },2000,function(){
                        jQuery(this).css('zIndex','1');
                        jQuery('#open-text1').css('visibility', 'visible');
                        jQuery('#open-text2').css('visibility', 'visible');
                        jQuery('#open-text4').css('visibility', 'hidden');
                    });
                    jQuery('#open-text1').delay(3500).animate({
                        opacity:'1'
                    });
                }
                else if (animStep == 3) {
                    jQuery('#cardOpenLeftAnimation').css('visibility', 'hidden');
                    jQuery('#cardOpenRightAnimation').css('visibility', 'hidden');
                    jQuery('#cardFrontDiv').css('visibility', 'visible');
                    jQuery('#open-text1').css('visibility', 'visible');
                    jQuery('#open-text2').css('visibility', 'hidden');
                    jQuery('#open-text4').css('visibility', 'hidden');
                    jQuery('.booksSet').addClass('cardBackAnimated3')
                        .removeClass('cardBackAnimated_close');
                    jQuery('#cardOpenLeftAnimation').removeClass('cardOpenLeftAnimated_open');

                    jQuery('#cardOpenRightAnimation').removeClass('cardOpenRightAnimated_close');
                    jQuery('#cardFrontDiv').addClass('cardFrontAnimated3')
                        .removeClass('cardFrontAnimated_close');
                    jQuery('#cardDiv').addClass('cardDivAnim3')
                        .removeClass('cardDivAnim_close');
                    animStep = 4;
                }
                else if (animStep == 2) {
                    jQuery('#cardFrontDiv').css('visibility', 'hidden');
                    jQuery('#open-text1').css('visibility', 'hidden');
                    jQuery('#open-text2').css('visibility', 'hidden');
                    jQuery('#open-text4').css('visibility', 'visible');
                    jQuery('#open-text4').delay(2000).animate({
                        opacity:'1'
                    });
                    jQuery('#cardOpenRightAnimation').addClass('cardOpenRightAnimated_close');
                    jQuery('.cardTextAnimation').addClass('cardOpenRightAnimated_close');
					jQuery('.evitesAnimation').addClass('cardOpenRightAnimated_close');
                    jQuery('.booksSet').addClass('cardBackAnimated_close')
                        .removeClass('cardBackAnimated_open');
                    jQuery('#cardFrontDiv').removeClass('cardFrontAnimated_open');
                    jQuery('#cardDiv').addClass('cardDivAnim_close')
                        .removeClass('cardDivAnim_open');
                    animStep = 3;
                }
                else if (animStep == 1 || animStep == 4) {
                    jQuery('#open-text1').css('visibility', 'hidden');
                    jQuery('#open-text4').css('visibility', 'hidden');
                    jQuery('#open-text2').css('visibility', 'visible');
                    jQuery('#cardOpenLeftAnimation').css('visibility', 'visible');
                    jQuery('#cardOpenRightAnimation').css('visibility', 'visible');
                    jQuery('.cardTextAnimation').css('visibility', 'visible');
					jQuery('.evitesAnimation').css('visibility', 'visible');
                    jQuery('#cardOpenLeftAnimation').addClass('cardOpenLeftAnimated_open')
                        .removeClass('cardOpenLeftAnimated3');
                    jQuery('#image_card_open_left').addClass('image_card_open_left_open').removeClass('cardOpenLeftAnimated3');
                    jQuery('.cardTextAnimation').removeClass('cardOpenRightAnimated_close');
					jQuery('.evitesAnimation').removeClass('cardOpenRightAnimated_close');
                    jQuery('.booksSet').removeClass('cardBackAnimated3');
                    jQuery('#cardFrontDiv').addClass('cardFrontAnimated_open')
                        .removeClass('cardFrontAnimated3')
                        .removeClass('cardFrontAnimated1');
                    jQuery('#cardDiv').addClass('cardDivAnim_open')
                        .removeClass('cardDivAnim3');
                    animStep = 2;
                    jQuery('#open-text2').delay(2000).animate({
                        opacity:'1'
                    });
                }
            }
            if(jQuery('#cardDiv').hasClass('single-card-block')){
                if (animStep == 0) {
                    jQuery('#envelopeTopFrontAnimation').addClass('envelopeTopFrontAnimated1');
                    jQuery('#envelopeTopBackAnimation').addClass('envelopeTopBackAnimated1');
                    jQuery('#cardFrontDiv').addClass('cardFrontAnimated1');
                    jQuery('#cardDiv').addClass('cardDivAnim1');
                    animStep = 1;
                    jQuery( '#cardDiv' ).animate({
                        zIndex:'0'
                    },2000,function(){
                        jQuery(this).css('zIndex','1');
                        jQuery('#open-text1').css('visibility', 'visible');
                        jQuery('#open-text2').css('visibility', 'hidden');
                    });
                    jQuery('#open-text1').delay(3500).animate({
                        opacity:'1'
                    });
                }
                else if (animStep == 2) {
                    jQuery('#open-text4').css('visibility', 'hidden')
                    jQuery('#open-text5').css('display', 'block')
                        .css('font-size', '16px')
                        .css('text-transform', 'uppercase')
                        .css('color', '#8fa5c6')
                        .css('visibility', 'visible');
                    jQuery('#open-text5').delay(2000).animate({
                        opacity:'1'
                    });
                    jQuery('#cardFrontDiv').addClass('cardFrontAnimated3')
                        .removeClass('cardFrontAnimated2');
                    jQuery('.booksSet').addClass('cardBackAnimated3')
                        .removeClass('cardBackAnimated2');
                    animStep = 3;
                }
                else if (animStep == 1 || animStep == 3) {
                    jQuery('#open-text5').css('visibility', 'hidden')
                        .css('display', 'none');
                    jQuery('#open-text4').css('display', 'block')
                        .css('font-size', '16px')
                        .css('text-transform', 'uppercase')
                        .css('color', '#8fa5c6')
                        .css('visibility', 'visible');
                    jQuery('#open-text4').delay(2000).animate({
                        opacity:'1'
                    });
                    jQuery('#cardFrontDiv').addClass('cardFrontAnimated2')
                        .removeClass('cardFrontAnimated3');
                    jQuery('.booksSet').addClass('cardBackAnimated2')
                        .removeClass('cardBackAnimated3');
                    animStep = 2;
                }
            }
        });
    }
    //]]>
    ;(function($) {

        // Browser supports HTML5 multiple file?
        var multipleSupport = typeof $('<input/>')[0].multiple !== 'undefined',
            isIE = /msie/i.test( navigator.userAgent );

        $.fn.customFile = function() {

            return this.each(function() {

                var $file = $(this).addClass('custom-file-upload-hidden'), // the original file input
                    $wrap = $('<div class="file-upload-wrapper">'),
                    $input = $('<input type="text" class="file-upload-input" />'),
                // Button that will be used in non-IE browsers
                    $button = $('<button type="button" class="file-upload-button">Select a File</button>'),
                // Hack for IE
                    $label = $('<label class="file-upload-button" for="'+ $file[0].id +'">Select a File</label>');

                // Hide by shifting to the left so we
                // can still trigger events
                $file.css({
                    position: 'absolute',
                    left: '-9999px'
                });

                $wrap.insertAfter( $file )
                    .append( $file, $input, ( isIE ? $label : $button ) );

                // Prevent focus
                $file.attr('tabIndex', -1);
                $button.attr('tabIndex', -1);

                $button.click(function () {
                    $file.focus().click(); // Open dialog
                });

                $file.change(function() {

                    var files = [], fileArr, filename;

                    // If multiple is supported then extract
                    // all filenames from the file array
                    if ( multipleSupport ) {
                        fileArr = $file[0].files;
                        for ( var i = 0, len = fileArr.length; i < len; i++ ) {
                            files.push( fileArr[i].name );
                        }
                        filename = files.join(', ');

                        // If not supported then just take the value
                        // and remove the path to just show the filename
                    } else {
                        filename = $file.val().split('\\').pop();
                    }

                    $input.val( filename ) // Set the value
                        .attr('title', filename) // Show filename in title tootlip
                        .focus(); // Regain focus

                });

                $input.on({
                    blur: function() { $file.trigger('blur'); },
                    keydown: function( e ) {
                        if ( e.which === 13 ) { // Enter
                            if ( !isIE ) { $file.trigger('click'); }
                        } else if ( e.which === 8 || e.which === 46 ) { // Backspace & Del
                            // On some browsers the value is read-only
                            // with this trick we remove the old input and add
                            // a clean clone with all the original events attached
                            $file.replaceWith( $file = $file.clone( true ) );
                            $file.trigger('change');
                            $input.val('');
                        } else if ( e.which === 9 ){ // TAB
                            return;
                        } else { // All other keys
                            return false;
                        }
                    }
                });

            });

        };

        // Old browser fallback
        if ( !multipleSupport ) {
            $( document ).on('change', 'input.customfile', function() {

                var $this = $(this),
                // Create a unique ID so we
                // can attach the label to the input
                    uniqId = 'customfile_'+ (new Date()).getTime(),
                    $wrap = $this.parent(),

                // Filter empty input
                    $inputs = $wrap.siblings().find('.file-upload-input')
                        .filter(function(){ return !this.value }),

                    $file = $('<input type="file" id="'+ uniqId +'" name="'+ $this.attr('name') +'"/>');

                // 1ms timeout so it runs after all other events
                // that modify the value have triggered
                setTimeout(function() {
                    // Add a new input
                    if ( $this.val() ) {
                        // Check for empty fields to prevent
                        // creating new inputs when changing files
                        if ( !$inputs.length ) {
                            $wrap.after( $file );
                            $file.customFile();
                        }
                        // Remove and reorganize inputs
                    } else {
                        $inputs.parent().remove();
                        // Move the input so it's always last on the list
                        $wrap.appendTo( $wrap.parent() );
                        $wrap.find('input').focus();
                    }
                }, 1);

            });
        }

    }(jQuery));

    jQuery('input[type=file]').customFile();
</script>
