<ul>
    <li class="has-children"><a href="#ecards-first"><?php echo $this->getFirstStep(); ?></a></li>
    <li class="text-tab"><a href="#ecards-second" class="disabled"><?php echo $this->getSecondStep(); ?></a></li>
    <li class="gift-tab"><a href="#ecards-third" class="disabled"><?php echo $this->getThirdStep(); ?></a></li>
    <li class="recipient-tab"><a href="#ecards-fourth" class="disabled"><?php echo $this->getFourthStep(); ?></a></li>
    <li class="preview-tab"><a href="#ecards-fifth" class="disabled"><?php echo $this->getFifthStep(); ?></a></li>
    <li class="summary-tab"><a href="#ecards-summary" class="disabled"><?php echo $this->getSixthStep(); ?></a></li>
</ul>
<div class="nav-sector">
    <a id="returnButtonLink" href="javascript:history.back()"><?php echo $this->__('RETURN TO CARD SELECTION'); ?></a>
    <div class="arrow-block">
        <input type="button" id="btnNext" value="Next" />
        <input type="button" id="btnPrevious" value="Back" style = "display:none"/>
    </div>
</div>