<?php 

$additionalOptions = Mage::registry('additional-options');
if(!empty($additionalOptions)) {
    $options = array('name', 'email', 'text', 'data','sendDate', 'isSent', 'associatedProducts');
    foreach($additionalOptions as $option) {
        
        switch ($option['label']) {
            case 'eCard Name':
                $options['name'] = $option['value'];
                break;
            case 'eCard Email':
                $options['email'] = $option['value'];
                break;
            case 'eCard Text':
                $options['text'] = $option['value'];
                break;
            case 'eCard Data':
                $options['data'] = $option['value'];
                break;
            case 'eCard Send Date':
                $options['sendDate'] = $option['value'];
                break;
            case 'eCard Is Sent':
                $options['isSent'] = $option['value'];
                break;
            case 'eCard Associated Products':
                $options['associatedProducts'] = $option['value'];
                break;
        }
        
    }
    echo "<script>" . $options['data'] . "\ncardText='". str_replace("'", "singlequote", str_replace("\n", "endline", $options['text'])) ."';\n" . 'cardText = cardText.replace(/endline/g, "\n").replace(/singlequote/g, "\'");'. "\nvar editCard = true;\n" .'</script>';
}
$action = Mage::app()->getFrontController()->getAction();
$actionName = $this->getRequest()->getActionName();

$itemId = $action->getRequest()->getParam('id');
if($actionName == "configure" && $itemId && is_numeric($itemId)){
    echo "<script>var itemId=$itemId;</script>";
}
?>

<div class="ecard-selection">
   
    <a id='cardAppExit' href=''></a>

    <!-- app div, keep this id -->
    <!-- put into that div everything that need to disappear once the app starts -->
    <div id="cardAppDiv">
    <div class="top-image-block">
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('ecard-banner')->toHtml() ?></div>
        <!-- for instance you can create a panel with filters -->
        <!-- <div id="filtersDiv"><p>Cards filters</p></div> -->

        <!-- You can use the structure you want do display the cards -->
        <!-- only the img components are mandatory, keep this class and this kind of src as it is used to start the app -->
        <div id="cards-selection">
	        <!-- load from static block -->
			<?php $static_block = Mage::registry('current_category')->getData('landing_page') ;
			      echo $this->getLayout()->createBlock('cms/block')->setBlockId($static_block)->toHtml() ?>
        </div>
    </div>
</div>