<?php
/**
 * Mage SMS - SMS notification & SMS marketing
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the BSD 3-Clause License
 * It is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/BSD-3-Clause
 *
 * @category    TOPefekt
 * @package     TOPefekt_Magesms
 * @copyright   Copyright (c) 2012-2015 TOPefekt s.r.o. (http://www.mage-sms.com)
 * @license     http://opensource.org/licenses/BSD-3-Clause
 */
?><?php $user = $this->profile->user; ?><?php $lang = $this->profile->lang; ?>
<h2><?php echo Mage::helper('magesms')->__('Admin SMS'); ?></h2>
<p><?php echo Mage::helper('magesms')->__('Select events during which shall be shop administrators notified via SMS and customize text of messages.'); ?></p>
<div id="magesms">
    <div class="entry-edit">
        <div class="entry-edit-head"><h4 class="icon-head fieldset-legend head-account"><img
                    src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'magesms/AdminTools.gif'; ?>"
                    alt=""/> <?php echo Mage::helper('magesms')->__('Unicode SMS'); ?></h4></div>
        <div class="fieldset grid">
            <form id="magesms_changeunicode" action="<?php echo Mage::getUrl('*/*/saveunicode') ?>" method="post"><input
                    name="form_key" type="hidden"
                    value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>"/>

                <div class="margin-form">
                    <p><?php echo Mage::helper('magesms')->__('Check only if you want to use Chinese, Arabic, Greek, Hebrew, Korean, Cyrillic, etc. or diacritic in the text of your SMS message (Unicode text allows you to insert characters in all fonts and various other symbols simultaneously. Number of characters in one SMS will be reduced to 70).'); ?></p>
                    <input type="checkbox" id="unicode" name="unicode"
                           value="1" <?php echo ($unicode = Mage::getSingleton('magesms/hooks_unicode')->getCollection()->addFilter('type', 'admin')->getFirstItem()->getUnicode()) ? 'checked' : ''; ?> /><label
                        for="unicode"><?php echo Mage::helper('magesms')->__('Unicode SMS'); ?></label><input
                        type="submit" value="<?php echo Mage::helper('magesms')->__('Save'); ?>" class="form-button"/>
                </div>
            </form>
        </div>
    </div><?php foreach ($this->getGroups() as $group): ?>
        <div class="entry-edit">
        <div class="entry-edit-head"><h4 class="icon-head fieldset-legend head-account"><?php if ($group->icon): ?><img
                    src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . $group->icon; ?>"
                    alt="" /> <?php endif; ?><?php echo Mage::helper('magesms')->__($group->name); ?></h4></div>
        <div class="fieldset grid"><?php if (count($group->getHooks())): ?>
                <table class="data" id="gridData">
                <col/>
                <col width="100px"/><?php $even = 1;
                foreach ($group->getHooks() as $hook): if ($even) $even = 0; else $even = 1; ?>
                    <tr id="hist_<?php echo $hook->getName(); ?>" class="pointer hover <?php if ($even) echo 'even' ?>">
                    <td><span class="img"><img class="toggle"
                                               src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'magesms/i_plus.gif'; ?>"></span><span
                            class="img" style="display:none"><img class="toggle"
                                                                  src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'magesms/i_minus.gif'; ?>"></span><?php if (!$group->getGroup()): ?><?php echo $hook->getInfo(); ?> - <?php echo $statusT = Mage::helper('sales')->__($hook->getStatusName()); ?><?php if ($statusT != $hook->getStatusName()): ?> (<?php echo $hook->getStatusName(); ?>)<?php endif; ?><?php else: ?><?php echo $hook->getName(); ?> - <?php echo $hook->getInfo(); ?><?php endif; ?>
                    </td>
                    <td class="a-center"><?php $title = $hook->getActive() ? Mage::helper('magesms')->__('Sending notifications via SMS is ACTIVE') : Mage::helper('magesms')->__('Sending notifications via SMS is NOT ACTIVE. To activate SMS sending check „Active“ in desired status detail.');
                        $img = $hook->getActive() ? 'i_accepted.gif' : 'i_canceled.gif'; ?><span style="cursor:help;"
                                                                                                 title="<?php echo $title; ?>"
                                                                                                 onclick="popup_title(this)"><img
                                class="toggle"
                                src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'magesms/' . $img; ?>"></span>
                    </td></tr>
                <tr id="histd_<?php echo $hook->getName(); ?>" style="display:none">
                    <td colspan="2">
                        <form id="hook_<?php echo $hook->getName(); ?>"
                              action="<?php echo Mage::getUrl('*/*/savehook') ?>" method="post"><input name="form_key"
                                                                                                       type="hidden"
                                                                                                       value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>"/><input
                                type="hidden" name="type" value="admins"/><input type="hidden" name="name"
                                                                                 value="<?php echo $hook->getName(); ?>"/><?php if ($hook->getPlugin()): ?>
                                <input type="hidden" name="plugin"
                                       value="<?php echo $hook->getPlugin(); ?>" /><?php endif; ?>
                            <div style="display:inline-block;width:350px;"><label
                                    style="font-weight:normal;text-align:left;width:350px;"><?php echo Mage::helper('magesms')->__('SMS text'); ?></label><br><textarea
                                    id="text_<?php echo $hook->getName(); ?>" name="text"
                                    class="required-entry input-text"
                                    style="width:290px;height:100px;border:1px solid grey;"><?php echo ($text = $hook->getSmstext()) ? $text : $hook->getTemplate(); ?></textarea>
                            </div>
                            <div style="display:inline-block;width:320px;"><label
                                    style="font-weight:normal;text-align:left"><?php echo Mage::helper('magesms')->__('Preview'); ?>
                                    (<span id="label_<?php echo $hook->getName(); ?>"></span>)</label><br><textarea
                                    id="textfake_<?php echo $hook->getName(); ?>" name="textfake" disabled="disabled"
                                    style="width:290px;height:100px;border:1px solid grey;"></textarea></div>
                            <div
                                style="display:inline-block;width:310px; padding-top: 20px;"><?php $admins = Mage::getSingleton('magesms/admins')->getCollection();
                                $stores = Mage::getModel('core/store_group')->getCollection()->setLoadDefault(false) ?>
                                <table class="data">
                                    <tr class="headings">
                                        <th colspan="<?php echo $stores->count() + 1; ?>"><?php echo Mage::helper('magesms')->__('Administrators'); ?></th>
                                    </tr><?php foreach ($admins as $admin): ?>
                                        <tr>
                                        <td><?php echo $admin->getName(); ?></td><?php foreach ($stores as $store): ?>
                                            <td><input type="checkbox"
                                                       name="active_<?php echo $hook->getName() . '_' . $admin->getId() . '_' . $store->getId(); ?>"
                                                       id="active_<?php echo $hook->getName() . '_' . $admin->getId() . '_' . $store->getId(); ?>"
                                                       value="1" <?php echo !empty($hook[$admin->getId() . '_' . $store->getId()]) ? 'checked' : ''; ?> /><label
                                                for="active_<?php echo $hook->getName() . '_' . $admin->getId() . '_' . $store->getId(); ?>"><?php echo $store->getName(); ?></label>
                                            </td><?php endforeach; ?></tr><?php endforeach; ?></table>
                                <br/><br/><br/>

                                <div style="float:left;"><input type="submit"
                                                                value="<?php echo Mage::helper('magesms')->__('Save'); ?>"
                                                                class="form-button"/></div>
                                <div style="float:left;padding-left:20px;"><input
                                        value="<?php echo Mage::helper('magesms')->__('Cancel'); ?>"
                                        title="Restore unsaved changes to its original state." class="form-button"
                                        type="button"
                                        onclick="this.form.reset();countitSMS_<?php echo $hook->getName(); ?>.count();"/>
                                </div>
                            </div>
                        </form>
                        <script type="text/javascript">//<![CDATA[
                            countitSMS_<?php echo $hook->getName(); ?> = new countitSMS(document.getElementById('textfake_<?php echo $hook->getName(); ?>'), '<?php echo $unicode; ?>', document.getElementById('label_<?php echo $hook->getName(); ?>'));
                            countitSMS_<?php echo $hook->getName(); ?>.chartext1 = '<?php echo Mage::helper('magesms')->__('Characters: '); ?>';
                            countitSMS_<?php echo $hook->getName(); ?>.chartext2 = '<?php echo Mage::helper('magesms')->__('total sms:'); ?>';
                            countitSMS_<?php echo $hook->getName(); ?>.alert = '';
                            countitSMS_<?php echo $hook->getName(); ?>.translate = {<?php echo Mage::helper('magesms')->hookVariablesJS($hook->getNotice()); ?>};
                            countitSMS_<?php echo $hook->getName(); ?>.copyFrom = document.getElementById('text_<?php echo $hook->getName(); ?>');
                            $('text_<?php echo $hook->getName(); ?>').onkeyup = function () {
                                countitSMS_<?php echo $hook->getName(); ?>.count();
                            };
                            Event.observe(window, "load", function () {
                                countitSMS_<?php echo $hook->getName(); ?>.count();
                                countitSMS_<?php echo $hook->getName(); ?>.help(document.getElementById('notice_<?php echo $hook->getName(); ?>'));
                            });
                            //]]></script>
                        <div class="clear"></div>
                        <span style="font-size:10px;"><?php echo Mage::helper('magesms')->__('Possible variables:'); ?>
                            <br/><div
                                id="notice_<?php echo $hook->getName(); ?>"><?php echo $hook->getNotice(); ?></div></span>
                    </td></tr><?php endforeach; ?></table><?php endif; ?></div></div><?php endforeach; ?>
    <script type="text/javascript">//<![CDATA[
        Event.observe(window, "load", function () {
            var gridData = document.getElementById('magesms');
            var tr_array = gridData.getElementsByTagName('tr');
            for (var i = 0, len = tr_array.length; i < len; i++) {
                if (tr_array[i].className.indexOf('hover') !== -1) {
                    tr_array[i].onmouseover = function () {
                        this.className = this.className + ' on-mouse';
                    };
                    tr_array[i].onmouseout = function () {
                        this.className = this.className.replace(' on-mouse', '');
                    };
                    tr_array[i].onclick = function () {
                        var arr = this.id.split('_');
                        var next = document.getElementById('histd_' + arr[1]);
                        if (next.style.display == 'none') {
                            next.style.display = 'table-row';
                        } else {
                            next.style.display = 'none';
                        }
                        var img = this.getElementsByClassName('img');
                        if (img[0].style.display == 'none') {
                            img[0].style.display = 'inline';
                        } else {
                            img[0].style.display = 'none';
                        }
                        if (img[1].style.display == 'none') {
                            img[1].style.display = 'inline';
                        } else {
                            img[1].style.display = 'none';
                        }
                    };
                }
            }
            if (window.location.hash.substr(1)) {
                $('hist_' + window.location.hash.substr(1)).click();
                $('hist_' + window.location.hash.substr(1)).scrollIntoView(true);
                var messageTo = $('hist_' + window.location.hash.substr(1)).parentNode.parentNode.parentNode;
                var messages = $('messages').cloneNode(true);
                messageTo.insertBefore(messages, messageTo.childNodes[0]);
            }
        });
        //]]></script>
</div>