<?php $qty = $this->getItemQty(); ?>
<?php $ecardsCount = $this->getEcardsCount(); ?>
<div>
    <div class="ecard-recipients">
        <table  class="data-table">
            <thead>
                <tr>
                    <th><?php echo $this->__('Name'); ?></th>
                    <th><?php echo $this->__('Email'); ?></th>
                    <th><?php echo $this->__('Phone Number'); ?></th>
                    <th><?php echo $this->__('Send Date'); ?></th>
                </tr>
            </thead>
            <tbody>
            <?php $method = $this->getMethod(); ?>
            <?php if (!empty($method)) : ?>
                <tr>
                    <td colspan="3"><?php echo $this->__('%s recipient will be uploaded from CSV or XLS file', $qty); ?></td>
                </tr>
            <?php else : ?>
                <?php $count = 1; ?>
                <?php foreach ($this->getRecipients() as $_recipient) : ?>
                    <tr>
                        <td><?php echo $_recipient->getName(); ?></td>
                        <td><?php echo $_recipient->getEmail(); ?></td>
                        <td><?php echo $_recipient->getPhone(); ?></td>
                        <td><?php echo $_recipient->getDate(); ?></td>
                    </tr>
                    <?php $count++; ?>
                <?php endforeach; ?>
            <?php endif; ?>
            </tbody>
        </table>
    </div>

    <?php if (Mage::helper('base')->checkIsBuySingle()) : ?>
        <div>
            <button type="button" id="add_evite_to_cart" onclick="addCardToCart('ecard-gifts'); return false;" class="button add-to-cart-card">
                <div id="add_card_to_cart_button" class="processing_button"><?php echo $this->__('ADD TO CART') ?></div>
            </button>
        </div>
    <?php else : ?>
        <input type="submit" name="submit" value="<?php echo $this->__('Send eVite'); ?>" class="add-to-cart-card" onclick="return validate();"/>
    <?php endif; ?>
    <input id="baseurl" type="hidden" value="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB); ?>"/>
</div>

<script type="text/javascript">

    function addCardToCart(formId)
    {
        var baseUrl = jQuery('#baseurl').val();
        ecardForm   = new VarienForm(formId, true);
        var urlAddToCart = baseUrl + 'index.php/default/evites/index/addtocart/';
        if (validate()) {
            new Ajax.Updater(
                { success:'formSuccess' },
                urlAddToCart,
                {
                    method:       'post',
                    asynchronous: true,
                    evalScripts:  false,
                    onLoading:function(request, json){
                    },
                    onComplete:function(request, json) {
                    },
                    onSuccess :function(request, json) {
                        window.location.assign('<?php echo Mage::getUrl('checkout/cart')?>');
                    },
                    onFailure  : function(request, json) {
                    },
                    parameters :
                        $(formId).serialize(true),
                }
            );
        }
        return false;
    }

    function validate() {
        var tabs = jQuery('#ecard-tabs').tabs();
        var recipientsTab = 3;
        if (document.getElementById('radioBtn1').checked) {
            if ((jQuery('#evite-name').val() == '')
                || (jQuery('#evite-title').val() == '')
                || (jQuery('#evite-date').val() == '')
                || (jQuery('#evite-time').val() == '')
                || (jQuery('#evite-place').val() == '')
                || (jQuery('#evite-hosted').val() == '')
                || (jQuery('#evite-note').val() == '')) {
                tabs.tabs('enable', 1).tabs('select', 1);
                tabs.tabs('select', 1);
                if (1 == (tabs.tabs("length") - 1)) {
                    jQuery("#btnNext").hide();
                } else {
                    jQuery("#btnNext").show();
                }
                    if (jQuery('#evite-name').val() == '') {
                        jQuery('#evite-name').addClass('validate-error');
                    }
                    if (jQuery('#evite-title').val() == '') {
                        jQuery('#evite-title').addClass('validate-error');
                    }
                    if (jQuery('#evite-date').val() == '') {
                        jQuery('#evite-date').addClass('validate-error');
                    }
                    if (jQuery('#evite-time').val() == '') {
                        jQuery('#evite-time').addClass('validate-error');
                    }
                    if (jQuery('#evite-place').val() == '') {
                        jQuery('#evite-place').addClass('validate-error');
                    }
                    if (jQuery('#evite-hosted').val() == '') {
                        jQuery('#evite-hosted').addClass('validate-error');
                    }
                    if (jQuery('#evite-note').val() == '') {
                        jQuery('#evite-note').addClass('validate-error');
                    }
                return false;
            }
        } else if (document.getElementById('radioBtn2').checked) {
            if ((jQuery('#evite-title-own').val() == '')
                || (jQuery('#cardText').val() == '')) {
                tabs.tabs('enable', 1).tabs('select', 1);
                tabs.tabs('select', 1);
                if (1 == (tabs.tabs("length") - 1)) {
                    jQuery("#btnNext").hide();
                } else {
                    jQuery("#btnNext").show();
                }
                if (jQuery('#evite-title-own').val() == '') {
                    jQuery('#evite-title-own').addClass('validate-error');
                }
                if (jQuery('#cardText').val() == '') {
//                    jQuery('#cardText').addClass('validate-error');   // if add class 'validate-error' text editor doesn't work and textarea will resize when typing
                    alert('Write text');
                }
            return false;
            }
        }
        if (jQuery('#evite-reply').val() == '') {
            tabs.tabs('enable', 2).tabs('select', 2);
            tabs.tabs('select', 2);
            if (jQuery('#evite-reply').val() == '') {
                jQuery('#evite-reply').addClass('validate-error');
            }
            jQuery("#btnNext").show();
            return false;
        }
        if (jQuery('#evite-remider').val() != '') {
            if(!jQuery.isNumeric(jQuery('#evite-remider').val())) {
                tabs.tabs('enable', 2).tabs('select', 2);
                tabs.tabs('select', 2);
                jQuery('#evite-remider').addClass('validate-error');
                alert('Please use only numbers.');
                jQuery("#btnNext").show();
                return false;
            }
            var numberOfDaysToAdd = jQuery('#evite-remider').val();
            var sec = numberOfDaysToAdd * 86400000;
            var replyDate = new Date(jQuery('#evite-reply').val());
            var valid = false;
            jQuery('.myDate').each(function(){
                var recipienDate = new Date(Date.parse(jQuery(this).val()) + sec)
                if (recipienDate > Date.parse(replyDate)) {
                    jQuery(this).addClass('validate-error');
                    valid = true;
                }
            });
            if (valid) {
                tabs.tabs('enable', 3).tabs('select', 3);
                tabs.tabs('select', 3);
                alert('The number of days exceeds the "RSVP by" date');
                jQuery("#btnNext").show();
                return false;
            }
        }
        if (jQuery('#input-manually').is(':checked')) {
            var error = 0;
			jQuery.each(jQuery('.name-recipient'), function() {
				if (jQuery(this).val() == '') {
					jQuery(this).addClass('validate-error');
					jQuery(this).next().next().addClass('active');
					error++;
				}
				jQuery(this).on('keyup', function() {
					jQuery(this).removeClass('validate-error');
					jQuery(this).next().next().removeClass('active');
				});
			});
//			jQuery.each(jQuery('.email-recipient'), function() {
//				if (jQuery(this).val() == '') {
//					jQuery(this).addClass('validate-error');
//					jQuery(this).next().addClass('active');
//					error++;
//				}
//				jQuery(this).on('keyup', function() {
//					jQuery(this).removeClass('validate-error');
//					jQuery(this).next().removeClass('active');
//				});
//			});

            var checkValidData = jQuery('.recipients-block-holder .ecards-recipients-to');
            var recipientFlag = true;
            for (var j = 0; j < checkValidData.length; j++) {
                var emailValue = checkValidData[j].querySelector('#ecard-tabs .email-recipient');
                var phoneValue = checkValidData[j].querySelector('#ecard-tabs .phone-recipient');
                if (emailValue.value === '' && phoneValue.value === '') {
                    recipientFlag = false;
                    emailValue.className += ' validate-error';
                    phoneValue.className += ' validate-error';
                    emailValue.next().className += ' active';
                    phoneValue.next().className += ' active';
                    error++;
                }
                else {
                    emailValue.classList.remove('validate-error');
                    phoneValue.classList.remove('validate-error');
                    emailValue.next().classList.remove('active');
                    phoneValue.next().classList.remove('active');
                }
            }

            for(var i=0; i<checkValidData.length; i++) {
                checkValidData[i].onclick = function(x) {
                    return function() {
                        checkValidData[x].querySelector('#ecard-tabs .email-recipient').classList.remove('validate-error');
                        checkValidData[x].querySelector('#ecard-tabs .phone-recipient').classList.remove('validate-error');
                        checkValidData[x].querySelector('#ecard-tabs .email-recipient').next().classList.remove('active');
                        checkValidData[x].querySelector('#ecard-tabs .phone-recipient').next().classList.remove('active');
                    }
                }(i)
            }

            if (error > 0) {
                tabs.tabs('enable', recipientsTab).tabs('select', recipientsTab);
                tabs.tabs('select', recipientsTab);
                if (recipientsTab == (tabs.tabs("length") - 1)) {
                    jQuery("#btnNext").hide();
                } else {
                    jQuery("#btnNext").show();
                }
                return false;
            }
        } else {
            var diff = jQuery('#ecard_qty').val() - jQuery('#ecard_count').val();
            if (diff > 0) {
                tabs.tabs('enable', recipientsTab).tabs('select', recipientsTab);
                tabs.tabs('select', recipientsTab);
                if (recipientsTab == (tabs.tabs("length") - 1)) {
                    jQuery("#btnNext").hide();
                } else {
                    jQuery("#btnNext").show();
                }
                jQuery('#ecard-file').addClass('validate-error');
                alert('<?php echo $this->__('Please upload a valid CSV file'); ?>');
                return false;
            }
            if (jQuery('#ecard-file').prop('files')[0] == null) {
                tabs.tabs('enable', recipientsTab).tabs('select', recipientsTab);
                tabs.tabs('select', recipientsTab);
                if (3 == (tabs.tabs("length") - 1)) {
                    jQuery("#btnNext").hide();
                } else {
                    jQuery("#btnNext").show();
                }
                jQuery('#ecard-file').addClass('validate-error');
                return false;
            } else {
                var count = '<?php echo $qty; ?>';
                if (count == '0') {
                    tabs.tabs('enable', recipientsTab).tabs('select', recipientsTab);
                    tabs.tabs('select', recipientsTab);
                    if (recipientsTab == (tabs.tabs("length") - 1)) {
                        jQuery("#btnNext").hide();
                    } else {
                        jQuery("#btnNext").show();
                    }
                    jQuery('#ecard-file').addClass('validate-error');
                    alert('<?php echo $this->__('Please upload a valid CSV file'); ?>');
                    return false;
                }
            }
        }
        return true;
    }
    //]]>
</script>

