<div>
    <h3><?php echo $this->__('Choose image') ?></h3>
    <form id="im_upload" enctype="multipart/form-data">
        <input id="cardimage" type="file" name="cardimage" multiple="true" />
        <input id="card_image" type="hidden" name="card_image" alt="There must be image"/>
    </form>
    <button type="button" id="remove_image" onclick="removeImage(); return false;" class="left"><span><?php echo $this->__('Remove image') ?></span></button>
</div>
<script type="text/javascript">
    jQuery('#cardimage').change(function(){
        formdata = new FormData();
        if(jQuery(this).prop('files').length > 0)
        {
            jQuery('#ajax-loader').show();
	        file =jQuery(this).prop('files')[0];
            formdata.append("cardimage", file);
            jQuery.ajax({
                url: '<?php echo Mage::getUrl('base/index/addimage'); ?>',
                type: "POST",
                data: formdata,
                processData: false,
                contentType: false,
                success: function (result) {
		            jQuery('#ajax-loader').hide();
                    image = result.replace(/\0/g, '0').replace(/\\(.)|"/g, "$1");
                    str = '<img src ="' + image + '" alt="" />'
                    jQuery('#card_image').val(image);
                    jQuery('#image_upload').html(str);
                }
            });

        }
    });

    function removeImage(){
        jQuery('#image_upload').html('');
    }

</script>

<style>
    #image_upload {
        position:         absolute;
        top:              228px;
        left:             112px;
        /*background-color: #6fdaff;*/
        width:            339px;
        height:           462px;
        overflow:         hidden;
        background-size:  cover;
    }
    #image_upload img {
        max-width:        100%;
        max-height:       100%;
        margin:           auto;
        position:         absolute;
        top: 0; left: 0; bottom: 0; right: 0
    }
</style>

