<?php $childCategory = $this->getChildCategories(); ?>
<?php $storeCode = Mage::app()->getStore()->getCode(); ?>
<div class="ecard-block">
    <?php foreach ($childCategory as $category) : ?>
        <?php if ($category->getIsActive()) : ?>
			<?php $products = $category->getProductCollection()->addAttributeToSelect('*'); ?>
            <?php if(count($childCategory) > 1 && $products->getSize()): ?>
                <div id="cards-selection" class="page-title category-title">
                    <h1><?php echo $category->getName(); ?></h1>
                </div>
            <?php endif; ?>
            <?php
            if ($products->getSize()) {
                echo '<ul>';
                foreach ($products as $_product) : ?>
                    <li><a href="<?php echo $_product->getProductUrl(); ?>"><img src="<?php echo Mage::helper('catalog/image')->init($_product, 'image')->resize(337,337); ?>" alt="eCard" /></a></li>
                <?php endforeach;
                echo '</ul>';
            }
            ?>
        <?php endif; ?>
    <?php endforeach; ?>
</div>