<?php $_ecard = $this->getEcard(); ?>
<?php $_ecardData = $this->getEcardData(); ?>
<?php $_gifts = $this->getGifts(); ?>
<?php $message = json_decode($_ecardData->getMessage(), true); ?>
<div id="contentDiv" class="<?php echo ($_ecard->getBackground()) ? 'ecard-background' : ''; ?>">
    <div id="cardPreview">
        <div id="previewDiv">
            <a href="#" id="previewButton"><?php echo $this->__('Click to view the card'); ?></a>

            <img id="envelopeFrontAnimation" class="envelopeFrontSet" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'envelope_front')->resize(360,273); ?>" alt="Envelope Front" />
            <div id="textPreview" class="envelopeFrontSet recipient-name">
                <p><?php echo $_ecardData->getToName(); ?></p>
            </div>

        </div>
        <div class="envDiv">
            <div id="envelopeMessage" ><a href="#""><?php echo $this->__('Click to open'); ?></a></div>
            <img id="envelopeBackAnimation" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'envelope_back')->resize(660,508); ?>" alt="Envelope Back"/>
            <img id="envelopeTopBackAnimation" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'envelope_top_back')->resize(660,341); ?>" alt="Envelope Top Back" />
        </div>
        <div class="open-card-block">
            <?php if ($_ecard->getAttributeSetId() == 33) : ?>
            <div id="cardDiv" class="open-card-block">
                <img id="cardOpenLeftAnimation" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'card_open_left')->resize(650,930); ?>" alt="Card Open Left"/>
                <!-- /////////////////////////// -->
                <?php if(!empty($this->_leftSideCardImage)) : ?>
                <div class="egift-image-block">
                    <div id="image_card_open_left">
                        <img src="<?php echo $this->getLeftSideCardImage() ?>" alt="" />
                    </div>
                </div>
                <?php endif; ?>
                <!-- /////////////////////////// -->
                <img id="cardOpenRightAnimation" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'card_open_right')->resize(650,930); ?>" alt="Card Open Right"/>
                <textarea readonly class="cardTextAnimation textAnim_size2Opening" style="<?php echo json_decode($_ecardData->getMessageStyle()); ?>"><?php echo $message['text']; ?></textarea>

                <p class="open-text" id="open-text1">Click to open card</p>
                <p class="open-text" id="open-text2">Click to view your gift</p>

                <div id="cardFrontDiv">
                    <img id="cardFrontTopAnimation" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'card_front_top')->resize(650,465); ?>" alt="Card Front Top"/>
                    <img id="cardFrontBottomAnimation" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'card_front_bottom')->resize(650,465); ?>" alt="Card Front Bottom" />
                </div>

                <p id="open-text4" style="visibility: hidden;  font-size: 16px; text-transform: uppercase; color: rgb(143, 165, 198); opacity: 1;">
                    <a href="<?php echo Mage::getUrl('egifts/view/downloads', array('id' => $_ecardData->getId())); ?>"><?php echo $this->__('Click Here to Redeem Your Gift'); ?></a>
                </p>
                <img id="cardBackAnimation" class="booksSet" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'card_back')->resize(650,930); ?>" alt="Card Back" />
                <div id="booksPrintSize2Div" class="booksSet" onclick="setLocation('<?php echo Mage::getUrl('egifts/view/downloads', array('id' => $_ecardData->getId())); ?>')";>
                    <div id="booksPrintSize2">
                        <ul>
                            <?php foreach ($this->getGifts() as $_gift) : ?>
                                <li><img src="<?php echo Mage::helper('catalog/image')->init($_gift, 'thumbnail')->resize(268, null); ?>" title="<?php echo $_gift->getName(); ?>" alt="Book gift" /></li>
                            <?php endforeach; ?>
                        </ul>
                    </div>
                </div>
            </div>
            <?php else : ?>
            <div id="cardDiv" class="single-card-block">
                <div id="cardFrontDiv">
                    <img id="cardFrontTopAnimation"  src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'card_front_top')->resize(650,465); ?>" alt="Card Front Top"/>
                    <img id="cardFrontBottomAnimation"  src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'card_front_bottom')->resize(650,465); ?>" alt="Card Front Bottom" />

                    <textarea readonly class="cardTextAnimation textAnim_size2NonOpening" style="<?php echo json_decode($_ecardData->getMessageStyle()); ?>"><?php echo $message['text']; ?></textarea>
                </div>
                <p id="open-text7" class="text-show">ROTATE CARD</p>
                <p id="open-text4" class="text-show"> <a href="<?php echo Mage::getUrl('egifts/view/downloads', array('id' => $_ecardData->getId())); ?>">Click Here to Redeem Your Gift</a></p>
                <p id="open-text6">Click to open card</p>
                <img id="cardBackAnimation" class="booksSet" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'card_back')->resize(650,930); ?>" alt="Card Back"/>
                <div id="booksPrintSize2Div" class="booksSet" onclick="setLocation('<?php echo Mage::getUrl('egifts/view/downloads', array('id' => $_ecardData->getId())); ?>')";>
                    <div id="booksPrintSize2">
                            <ul>
                                <?php foreach ($this->getGifts() as $_gift) : ?>
                                    <li><img src="<?php echo Mage::helper('catalog/image')->init($_gift, 'thumbnail')->resize(268, null); ?>" title="<?php echo $_gift->getName(); ?>" alt="Book gift" /></li>
                                <?php endforeach; ?>
                            </ul>
                    </div>
                </div>
            </div>
            <?php endif; ?>
        </div>
        <div class="envDiv">
            <img id="envelopeBackNoBottomAnimation" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'envelope_back_no_bottom')->resize(660,508); ?>" alt="Envelope Back No Bottom"/>
            <img id="envelopeTopFrontAnimation" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'envelope_top_front')->resize(660,341); ?>" alt="Envelope Top Front"/>
        </div>
    </div>
</div>

<div id="ajax-loader">
    <img src="<?php echo Mage::getDesign()->getSkinUrl('images/ajax-loader.gif'); ?>" alt="Ajax loader" /><br />
    <span> <?php echo $this->__('Please wait... '); ?></span></span>
</div>

<script type="text/javascript">
    //<![CDATA[
    function replayIvite() {
        jQuery('#ajax-loader').show();
        jQuery.ajax({
            type: 'post',
            url: '<?php echo Mage::getUrl('ecards/view/reply')?>',
            data: jQuery("form").serialize(),
                 success: function(data){
                     window.location.replace("<?php echo Mage::getUrl(); ?>");
                 }
        });
    }
    //]]>
</script>
