@charset "utf-8";

/* --- ANIMATIONS --- */
.cardTextAnimation {
	text-align:left;
	font-family: 'times new roman', serif;
	border-style:none;
	position: absolute;
	resize: none;
	font-weight: bold;
	font-style:normal;
	overflow: hidden;
	outline: none;
	text-align: center;
	background-color: transparent;
	cursor: pointer;
	line-height: 120% !important;
}
.textAnim_size1NonOpening {
	top: 90px;
	left: 55px;
	width: 295px;
	height: 170px;
}
.textAnim_size1Opening {
	top: 30px;
	left: 10px;
	width: 360px;
	height: 235px;
	visibility: hidden;
	padding: 0 10px;
}
.textAnim_size2NonOpening {
	top: 87px;
	left: 40px;
	width: 74%;
	height: 450px;
}
.ecard-index-displaycard .textAnim_size2NonOpening{
	top: 100px;
	left: 40px !important;
}
.textAnim_size2Opening {
	top: 38px;
	left: 35px;
	width:72%;
	height: 510px;
	visibility: hidden;
	padding: 0 10px;
}
.ecard-index-displaycard .textAnim_size2Opening{
	top: 55px;
}
.booksSet {
	-webkit-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
}
#booksPrintSize1Div {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 380px;
	height: 270px;
}
#booksPrintSize2Div {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 380px;
	height: 545px;
}


#envelopeFrontAnimation {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
}
.envDiv {
	position: absolute;
	top: 0;
	left: -100px;
	-webkit-transform: translateY(-400px);
	transform:  translateY(-400px);
	width: 100%;
}
#envelopeBackAnimation {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
#envelopeMessage {
	position: absolute;
	top: -40px;
	left: 0;
	width: 100%;
	opacity: 0;
	color:#8fa5c6;
	font-family:Palatino;
	text-transform:uppercase;
	font-size: 16px;
}
.open-text {
	top:-30px;
	color:#8fa5c6;
	font-family:Palatino;
	position:relative;
	text-transform:uppercase;
	font-size: 16px;
	opacity: 0;
}
#open-text2 {
	top:-60px;
}

#open-text2 a {
	color:#8fa5c6;
	font-family:Palatino;
}

#open-text3 {
	opacity: 1;
	top:0px;
}
#open-text4 {
	opacity: 0;
	top: -85px;
	left: -375px;
}
#open-text4 a {
	color:#8fa5c6;
	font-family:Palatino;
}
#envelopeBackNoBottomAnimation {
	position: absolute;
	top: 0;
	left: -5px;
	width: 100%;
}
#envelopeTopFrontAnimation {
	position: absolute;
	top: -2px;
	left: -0px;
	-webkit-transform: rotateZ(180deg);
	transform: rotateZ(180deg);
	width: 100%;
}
#envelopeTopBackAnimation {
	position: absolute;
	top: 6px;
	left: -1px;
	-webkit-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	width: 100%;
}

#cardDiv {
	position: absolute;
	top: 0;
	left: -100px;
	-webkit-transform: translateY(-400px);
	transform:  translateY(-400px);
	width: 100%;
}
#cardFrontDiv {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 300px;
	overflow: hidden;
}
#cardFrontTopAnimation {
	position: absolute;
	top: 25px;
	left: 10px;
	width: 95%;
}
.ecard-index-displaycard .envDivAnim0 #cardBackAnimation{
	padding-top: 20px;
}
.ecard-index-displaycard .envDivAnim0.cardDivAnim_close #cardBackAnimation{
	padding-top: 0;
}
.ecard-index-displaycard  .cardDivAnim3 #cardFrontDiv.cardFrontAnimated3{
	top: -12px;
}
#cardFrontBottomAnimation {
	position: absolute;
	top: 297px;
	left: 10px;
	width: 95%;
}
#cardBackAnimation {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 95%;
}
#cardOpenLeftAnimation {
	position: absolute;
	top: 10px;
	left: -370px;
	-webkit-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
	width: 95%;
	visibility: hidden;
}
#cardOpenRightAnimation {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 95%;
	visibility: hidden;
}


.envDivAnim0 {
	-webkit-animation: envDiv0 2s linear;
	-webkit-animation-fill-mode: forwards;
	animation: envDiv0 2s linear;
	animation-fill-mode: forwards;
}
.envelopeTopFrontAnimated1 {
	-webkit-animation: envelopeTopFront1 1s linear;
	-webkit-animation-fill-mode: forwards;
	-webkit-transform-origin: 50% 100%;
	animation: envelopeTopFront1 1s linear;
	animation-fill-mode: forwards;
	transform-origin: 50% 100%;
}
.envelopeTopBackAnimated1 {
	-webkit-animation: envelopeTopBack1 1s linear;
	-webkit-animation-fill-mode: forwards;
	-webkit-transform-origin: 50% 100%;
	animation: envelopeTopBack1 1s linear;
	animation-fill-mode: forwards;
	transform-origin: 50% 100%;
}
.cardFrontAnimated1 {
	-webkit-animation: cardFront1 3s linear;
	-webkit-animation-fill-mode: forwards;
	animation: cardFront1 3s linear;
	animation-fill-mode: forwards;
}
.cardDivAnim1 {
	-webkit-animation: cardDiv1 3s linear;
	-webkit-animation-fill-mode: forwards;
	animation: cardDiv1 3s linear;
	animation-fill-mode: forwards;
}

.cardFrontAnimated2 {
	-webkit-animation: cardFront2 1s linear;
	-webkit-animation-fill-mode: forwards;
	animation: cardFront2 1s linear;
	animation-fill-mode: forwards;
	z-index: 100000;
}
.cardBackAnimated2 {
	-webkit-animation: cardBack2 1s linear;
	-webkit-animation-fill-mode: forwards;
	animation: cardBack2 1s linear;
	animation-fill-mode: forwards;
	z-index: 100000;
}

.cardDivAnim3 {
	-webkit-animation: cardDiv3 1s linear;
	-webkit-animation-fill-mode: forwards;
	animation: cardDiv3 1s linear;
	animation-fill-mode: forwards;
}
.cardFrontAnimated3 {
	-webkit-animation: cardFront3 1s linear;
	-webkit-animation-fill-mode: forwards;
	animation: cardFront3 1s linear;
	animation-fill-mode: forwards;
}
.cardBackAnimated3 {
	-webkit-animation: cardBack3 1s linear;
	-webkit-animation-fill-mode: forwards;
	animation: cardBack3 1s linear;
	animation-fill-mode: forwards;
}

.cardDivAnim_open {
	-webkit-animation: cardDiv_open 1s linear;
	-webkit-animation-fill-mode: forwards;
	animation: cardDiv_open 1s linear;
	animation-fill-mode: forwards;
}
.cardFrontAnimated_open {
	-webkit-animation: cardFront_open 1s linear;
	-webkit-animation-fill-mode: forwards;
	-webkit-transform-origin: 0%;
	animation: cardFront_open 1s linear;
	animation-fill-mode: forwards;
	transform-origin: 0%;
}
.cardOpenLeftAnimated_open {
	-webkit-animation: cardOpenLeft_open 1s linear;
	-webkit-animation-fill-mode: forwards;
	-webkit-transform-origin: 100%;
	animation: cardOpenLeft_open 1s linear;
	animation-fill-mode: forwards;
	transform-origin: 100%;
}
.cardOpenRightAnimated_open {
	-webkit-animation: cardOpenRight_open 1s linear;
	-webkit-animation-fill-mode: forwards;
	animation: cardOpenRight_open 1s linear;
	animation-fill-mode: forwards;
}

.cardDivAnim_close {
	-webkit-animation: cardDiv_close 1s linear;
	-webkit-animation-fill-mode: forwards;
	animation: cardDiv_close 1s linear;
	animation-fill-mode: forwards;
}
.cardOpenLeftAnimated_close {
	-webkit-animation: cardOpenLeft_close 1s linear;
	-webkit-animation-fill-mode: forwards;
	-webkit-transform-origin: 100%;
	animation: cardOpenLeft_close 1s linear;
	animation-fill-mode: forwards;
	transform-origin: 100%;
}
.cardOpenRightAnimated_close {
	-webkit-animation: cardOpenRight_close 1s linear;
	-webkit-animation-fill-mode: forwards;
	-webkit-transform-origin: 0%;
	animation: cardOpenRight_close 1s linear;
	animation-fill-mode: forwards;
	transform-origin: 0%;
}
.cardBackAnimated_close {
	-webkit-animation: cardBack_close 1s linear;
	-webkit-animation-fill-mode: forwards;
	-webkit-transform-origin: 0%;
	animation: cardBack_close 1s linear;
	animation-fill-mode: forwards;
	transform-origin: 0%;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes envDiv0 {
	0% {-webkit-transform: translateY(-400px) rotateZ(0)}
	100% {-webkit-transform: translateY(300px) rotateZ(-15deg)}
}
@-webkit-keyframes cardDiv0 {
	0% {-webkit-transform: translateY(-400px) rotateZ(0)}
	100% {-webkit-transform: translateY(300px) rotateZ(-15deg)}
}

@-webkit-keyframes envelopeTopFront1 {
	0% {-webkit-transform: translateY(-100%) rotateX(0) rotateZ(180deg)}
	50% {-webkit-transform: translateY(-100%) rotateX(90deg) rotateZ(180deg)}
	100% {-webkit-transform: translateY(-100%) rotateX(90deg) rotateZ(180deg)}
}
@-webkit-keyframes envelopeTopBack1 {
	0% {-webkit-transform: translateY(-100%) rotateX(-90deg)}
	50% {-webkit-transform: translateY(-100%) rotateX(-90deg)}
	100% {-webkit-transform: translateY(-100%) rotateX(-0deg)}
}
@-webkit-keyframes cardFront1 {
	0% {-webkit-transform: translateY(0); height: 300px;}
	34% {-webkit-transform: translateY(0); height: 300px;}
	67% {-webkit-transform: translateY(-600px); height: 600px;}
	100% {-webkit-transform: translateY(0); height: 600px;}
}
@-webkit-keyframes cardDiv1 {
	0% {-webkit-transform: translateX(0) translateY(300px) rotateZ(-15deg)}
	67% {-webkit-transform: translateX(0) translateY(300px) rotateZ(-15deg)}
	100% {-webkit-transform: translateX(200px) translateY(100px) rotateZ(0deg)}
}

@-webkit-keyframes cardFront2 {
	0% {-webkit-transform: rotateY(0); height: 600px;}
	50% {-webkit-transform: rotateY(90deg); height: 600px;}
	100% {-webkit-transform: rotateY(90deg); height: 600px;}
}
@-webkit-keyframes cardBack2 {
	0% {-webkit-transform: rotateY(-90deg)}
	50% {-webkit-transform: rotateY(-90deg)}
	100% {-webkit-transform: rotateY(0)}
}

@-webkit-keyframes cardDiv3 {
	0% {-webkit-transform: translateX(200px) translateY(100px)}
	100% {-webkit-transform: translateX(200px) translateY(100px)}
}
@-webkit-keyframes cardFront3 {
	0% {-webkit-transform: rotateY(-90deg); height: 600px;}
	50% {-webkit-transform: rotateY(-90deg); height: 600px;}
	100% {-webkit-transform: rotateY(0); height: 600px;}
}
@-webkit-keyframes cardBack3 {
	0% {-webkit-transform: rotateY(0deg)}
	50% {-webkit-transform: rotateY(90deg)}
	100% {-webkit-transform: rotateY(90deg)}
}

@-webkit-keyframes cardDiv_open {
	0% {-webkit-transform:  translateX(200px) translateY(100px)}
	100% {-webkit-transform: translateX(300px) translateY(100px)}
}
@-webkit-keyframes cardFront_open {
	0% {-webkit-transform: rotateY(0deg); height: 600px;}
	50% {-webkit-transform: rotateY(90deg); height: 600px;}
	100% {-webkit-transform: rotateY(90deg); height: 600px;}
}
@-webkit-keyframes cardOpenLeft_open {
	0% {-webkit-transform: rotateY(-90deg)}
	50% {-webkit-transform: rotateY(-90deg)}
	100% {-webkit-transform: rotateY(0deg)}
}

@-webkit-keyframes cardDiv_close {
	0% {-webkit-transform: translateX(300px) translateY(100px)}
	100% {-webkit-transform: translateX(580px) translateY(100px)}
}
@-webkit-keyframes cardOpenRight_close {
	0% {-webkit-transform: rotateY(0deg)}
	50% {-webkit-transform: rotateY(90deg)}
	100% {-webkit-transform: rotateY(90deg)}
}
@-webkit-keyframes cardBack_close {
	0% {-webkit-transform: rotateY(90deg) translateX(-100%)}
	50% {-webkit-transform: rotateY(90deg) translateX(-100%)}
	100% {-webkit-transform: rotateY(0deg) translateX(-100%)}
}


/* Firefox & IE */
@keyframes envDiv0 {
	0% {transform: translateY(-400px) rotateZ(0)}
	100% {transform: translateY(300px) rotateZ(-15deg)}
}
@keyframes cardDiv0 {
	0% {transform: translateY(-400px) rotateZ(0)}
	100% {transform: translateY(300px) rotateZ(-15deg)}
}

@keyframes envelopeTopFront1 {
	0% {transform: translateY(-100%) rotateX(0) rotateZ(180deg)}
	50% {transform: translateY(-100%) rotateX(90deg) rotateZ(180deg)}
	100% {transform: translateY(-100%) rotateX(90deg) rotateZ(180deg)}
}
@keyframes envelopeTopBack1 {
	0% {transform: translateY(-100%) rotateX(-90deg)}
	50% {transform: translateY(-100%) rotateX(-90deg)}
	100% {transform: translateY(-100%) rotateX(-0deg)}
}
@keyframes cardFront1 {
	0% {transform: translateY(0); height: 300px;}
	34% {transform: translateY(0); height: 300px;}
	67% {transform: translateY(-600px); height: 600px;}
	100% {transform: translateY(0); height: 600px;}
}
@keyframes cardDiv1 {
	0% {transform: translateX(0) translateY(300px) rotateZ(-15deg)}
	67% {transform: translateX(0) translateY(300px) rotateZ(-15deg)}
	100% {transform: translateX(200px) translateY(100px) rotateZ(0deg)}
}

@keyframes cardFront2 {
	0% {transform: rotateY(0); height: 600px;}
	50% {transform: rotateY(90deg); height: 600px;}
	100% {transform: rotateY(90deg); height: 600px;}
}
@keyframes cardBack2 {
	0% {transform: rotateY(-90deg)}
	50% {transform: rotateY(-90deg)}
	100% {transform: rotateY(0)}
}

@keyframes cardDiv3 {
	0% {transform: translateX(200px) translateY(100px)}
	100% {transform: translateX(200px) translateY(100px)}
}
@keyframes cardFront3 {
	0% {transform: rotateY(-90deg); height: 600px;}
	50% {transform: rotateY(-90deg); height: 600px;}
	100% {transform: rotateY(0); height: 600px;}
}
@keyframes cardBack3 {
	0% {transform: rotateY(0deg)}
	50% {transform: rotateY(90deg)}
	100% {transform: rotateY(90deg)}
}

@keyframes cardDiv_open {
	0% {transform:  translateX(200px) translateY(100px)}
	100% {transform: translateX(300px) translateY(100px)}
}
@keyframes cardFront_open {
	0% {transform: rotateY(0deg); height: 600px;}
	50% {transform: rotateY(90deg); height: 600px;}
	100% {transform: rotateY(90deg); height: 600px;}
}
@keyframes cardOpenLeft_open {
	0% {transform: rotateY(-90deg)}
	50% {transform: rotateY(-90deg)}
	100% {transform: rotateY(0deg)}
}

@keyframes cardDiv_close {
	0% {transform: translateX(300px) translateY(100px)}
	100% {transform: translateX(580px) translateY(100px)}
}
@keyframes cardOpenRight_close {
	0% {transform: rotateY(0deg)}
	50% {transform: rotateY(90deg)}
	100% {transform: rotateY(90deg)}
}
@keyframes cardBack_close {
	0% {transform: rotateY(90deg) translateX(-100%)}
	50% {transform: rotateY(90deg) translateX(-100%)}
	100% {transform: rotateY(0deg) translateX(-100%)}
}
