@charset "utf-8";

@import url("_fonts/cac_champagne/stylesheet.css");
@import url("_fonts/zapfino/stylesheet.css");
@import url("_fonts/tempus/stylesheet.css");
@import url("_fonts/savoye/stylesheet.css");
@import url("_fonts/myriad/stylesheet.css");
@import url("_fonts/baskerville/stylesheet.css");
@font-face {
	font-family: Brooklyn;
	src: url("_fonts/brooklyn/brooklyn.otf");
}

.download-items li {
    
    float: left;
    display: block;
    margin-right: 43px; 
}
.download-items li:last-child {
    margin-right: 0px;
}
.download-items li img {
    max-width: 250px;
    max-height: 250px;
    margin: 0;
    border: 2px solid #C8DBD9;
    padding: 10px;
    box-shadow: inset 0 0 11px rgba(0,0,0,0.05);
}
.download-items li p {
    max-width: 230px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 10px;
    color: #323232;
    padding: 20px 20px 0  20px;
}
.download-items li a {
    display:block;
    max-width: 230px;
    margin-bottom: 10px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 12px;
    color: #6f6f6f;
    padding: 0 20px;
}
.ecard-index-downloadgift .page-title h1 {
    text-align:center;
}
.other-gifts {
    text-align:center;
    margin-top: 25px;
}

.ecard-index-displaycard .main {
    margin-top: 30px;
}

.ecard-index-displaycard #previewButton {
    padding: 4px;
}

.ecard-selection {
    text-align:center;
}

#featured-banner {
    width: 100%;
}

.ecard-selection div#cards-selection {
    margin: 14px auto 0 auto;
    clear:both;
     width:100%;
    max-width: 1313px;
}
.ecard-selection li img {
    width:100%;
    max-width:257px;
    
    border:1px solid #cadddb;
    border-top:0px;
    
}
.ecard-selection li.not-first-row img {
    border-top:1px solid #cadddb;
}
.ecard-selection li img:nth-child(4n) {
    padding-right:0%;
}
.ecard-selection ul {
    
}
.ecard-selection li {
    float:left;
    display:block;
    margin-bottom:4%;
    margin-right:4%;
    width:22%
}

.ecard-selection li:nth-child(4n) {
    margin-right:0px;
}

.ecard-selection h2 {
    background-color: #c8dbd9;
    text-transform: uppercase;
    color: #FFF;
    font-size: 36px !important;
    padding: 15px 20px 15px;
    clear:both;
    text-align: center;
    margin: 0 auto;
}

.ecard-selection h2 span {
    text-transform: lowercase;
}

/* ----- USED IN THE APP, DO NOT MODIFY ----- */
/* --- GLOBAL --- */
.cardAppDivWithStyle {    
    width:100%;
    max-width:1000px; 
    margin:5px auto;
    overflow: hidden;
    
    border-style:solid;
    border-width:2px;
    border-color: #c8dbd9;
    border-radius:4px;
    text-align:center;
}
#contentDiv {
    float: left;
    width: 100%;
    background-size:auto;
    
}
.cardImage,.openingChoice,#nextButton,#backButton,#textback_text,#textback_back,#previewDiv {
	cursor:pointer;
}
#topbar {
    width: 100%;
    margin:0 auto; 
    float:left;'
}
#textback_text {
    margin-left:10%; 
    float:left;
    width: 7.8%;
}
#textback_back {
    float:left;
    width: 7.8%;   
}
#secondTopBar {
    width:100%; 
    float:left;
}
#backButton {    
    margin-left:-28%; 
    float:left;
    width: 5.1%;
}
#nextButton {
    margin-left:-18%; 
    float:left;
    width: 5.1%;
}

/* --- STEP 1 & 2 --- */
#textTools {
    width:50%; 
    max-width:542px;
    margin-top: 5%;
    font-size: 13px;
    float: right;
    visibility: hidden;
}
#spinner {
    width: 22px;
    height: 22px;
    outline: none;
}
#colorDiv {
    margin: 6px 10px;
}
#format,#align,#spinnerDiv,#colorDiv,#fit {
    float: left;
}
#format {
    margin-left: 2px;
}
.align {
    float:left;
    margin:-1px -7px 4px -8px;
}
#fit {
    outline: none;
    margin: 0;
    padding: 0;
}

#fontsDiv {
    width: 30%;
    max-width: 305px;
	border-style:solid;
	border-width:1px;
	border-color:#bcbdc0;
	border-radius:4px;
    background-color: #bcbdc0;
    overflow: hidden;
	border-top-width:20px;
        border-top-color: #e4e5e6;
    margin: 20% 0 0 2%;
    float: left;
    visibility: hidden;
}
.fonts {
    float: left;
    width: 37%;
    max-width: 150px;
    font-family: 'cac champagne', 'times new roman', serif;
    font-size: 18px;
    text-align: center;
    padding: 10px 5%;
    margin: 1%;
	border-style:hidden;
	border-width:1px;
	border-color:rgba(60,60,60,0.5);
	border-radius:4px;
    line-height: 29px;
}
.fontsOriginal {
    background-color: rgba(170, 170, 170, 0);
}
.fontsHovered {
    background-color: #ffc2cf;
}
.fontsClicked {
    background-color: #8fa5c6;
}
.fontsClickedHovered {
    background-color: #8fa5c6;
}
#Myriad {
    font-family: Myriad, Georgia, sans-serif;
    font-size:  18px;
}
#Zapfino {
    font-family: Zapfino, 'Times New Roman', serif;
    font-size:  28px;
}
#Tempus {
    font-family: Tempus, Georgia, sans-serif;
    font-size:  18px;
}
#Baskerville {
    font-family: Baskerville, 'Times New Roman', serif;
    font-size:  18px;
}
#Savoye {
    font-family: Savoye, 'Times New Roman', serif;
    font-size:  24px;
}

#cardTextDiv {
    float:left; 
/*    width:65%; */
    width: 600px;
    position:relative;
    /*margin: 11% 0 2% 34%;*/
    margin-bottom: 2%;
    z-index: 0;
}
.cardOpenSize1 {
    margin: 25% 0% 25% 0%;
    width:45%;    
}
.cardOpenSize2 {
    margin: 20% 0% 0% 0%;
    width:40%;   
}
.cardFront {
    float: right;
    position:relative;
    margin: 20% 15% 1% 0%;
    width:75%;
}
.cardFrontTop {
    float: right;
    position:relative;
    margin: 5% 15% 0% 0%;
    width:50%;
}
.cardFrontBottom {    
    float: right;
    position:relative;
    margin: 0% 15% 5% 0%;
    width:50%;
}
#cardText {    
    font-family: Zapfino, 'times new roman', serif;
	border-style:none;
    position: absolute;
    resize: none;
    font-weight: bold;
    font-style:normal;
    overflow: hidden;
    outline: none;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    line-height: 120%;
}
.cardTextSize1NonOpening {    
    top: 49%;
    left: 20%;
    width: 56%;
    height: 44%;
}
.cardTextSize1Opening {    
    top: 32%;
    left: 52%;
    width: 40%;
    height: 34%;
}
.cardTextSize2NonOpening {    
    top: 31%;
    left: 41%;
    width: 38%;
    height: 55%;
}
.cardTextSize2Opening {    
    top: 32%;
    left: 52%;
    width: 36%;
    height: 62%;
}

#align .ui-state-active img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
#envelopeAndCard {
    position: relative;
    width: 100%;
    height: 100%
};

#envelopeBack {
    width: 330px;
    position:absolute;
    -ms-transform: rotate(-15deg); /* IE 9 */
    -webkit-transform: rotate(-15deg); /* Chrome, Safari, Opera */
    transform: rotate(-15deg);
    top: 266px;
    left: 369px;
/*    xxmargin: 26.6% 0% 0% -4%*/
}

#envelopeImgTop {
    width: 330px;
    position: absolute;
    -ms-transform: rotate(-15deg); /* IE 9 */
    -webkit-transform: rotate(-15deg); /* Chrome, Safari, Opera */
    transform: rotate(-15deg);
    z-index: 1;
    top: 106px;
    left: 316px;
/*    xxmargin: 25.6% 0% 0% -6%*/
}

#cardFrontTop {
    position: absolute;
    z-index: 2;
    width:240px;
    top: 207px;
    left: 500px;
}

#cardFrontBottom {
    position: absolute;
    z-index: 2;
    width:240px;
    top: 379px;
    left: 500px;
}

#previewButton.editButton {
    position: absolute;
    -ms-transform: rotate(-15deg); /* IE 9 */
    -webkit-transform: rotate(-15deg); /* Chrome, Safari, Opera */
    transform: rotate(-15deg);
    margin: 20% 0% 0 -2%;
}
/* --- STEP 3 --- */
#booksListDiv {
    width: 35%;
    margin-left: 1%;
    padding-top: 1%;
    float: left;
    text-align: center;
}
#booksList {
    width: 100%;
     max-width: 180px;
    height: 350px;
    /*max-height: 350px;*/
	border-style:solid;
	border-width:1px;
	border-color:rgba(230,230,230,0.7);
	border-radius:4px;
    background-color: rgba(230,230,230,0.3);
	border-top-width:20px;
    margin: 10% auto 0;
    padding-top: 3%;
    overflow-y:scroll;
}
.books {
    width: 90%;
    max-width: 120px;
    padding: 5%;
}
.booksOriginal {
    background-color: rgba(170,170,170,0);
}
.booksHovered {
    background-color: rgba(170,170,170,0.2);
}
.booksClicked {
    background-color: rgba(170,170,170,0.6);
}
.booksClickedHovered {
    background-color: rgba(170,170,170,0.8);
}
#booksInstruction {
	border-radius:4px;
    background-color: #FFF;
    color: #ec008c;
    margin-top: 13px;
}
#cardBackDiv {
    float:right; 
    width:59%; 
    margin: 5% 5% 0 0;
    position: relative;
}
#booksPrintSize1 {
    position: absolute;
    width: 60%;
    height: 45%;
    top: 5%;
    left: 15%;
    padding: 12.5% 4.5%;
}
#booksPrintSize2 {
    position: absolute;
    width: 242px !important;
/*    width: 30%;*/
/*    height: 65%;*/
    top: 5%;
    left: 30%;
    padding: 12.5% 4.5%;
}
#booksPrintSize2Div #booksPrintSize2 {
    width: 278px !important;
    top: 5%;
    left: 14%;
}
.booksOnCard {
    width: 100%;
    margin: 1%;
}
#cardBackSize1 {
    width: 75%;
}
#cardBackSize2 {
    width: 50%;
}

/* --- STEP 4 --- */
#previewButton {
    margin:2%;
    font-family: 'cac champagne', 'times new roman', serif; 
    font-size: 22px;
    outline: none;
    border: 1px solid #8fa5c6;
}
#previewDiv {
    position: relative;
    width:90%;
    font-family: 'cac champagne', 'times new roman', serif;
    padding-bottom: 1%;
    margin: 0 auto;
    overflow: hidden;
    -webkit-perspective: 800px; 
    -webkit-transform-style: preserve-3d;
    perspective: 800px;
    transform-style: preserve-3d;
}
#cardPreview {
    /*width: 100%;
    max-width: 400px;*/
    width: 400px;
    margin: 0 auto;
    position: relative;
}
#textPreview {
    position: absolute;
    top: 36%;
    left: 0%;
    font-style: italic;
    font-weight: bold;
    font-size: 22px;
    width: 100%;
}
#envelope {
    position:absolute;
    top: 3%;
    left: 5%;
    -ms-transform: rotate(-15deg); /* IE 9 */
    -webkit-transform: rotate(-15deg); /* Chrome, Safari, Opera */
    transform: rotate(-15deg);
    width:55%;
    z-index: -1;
}
.envelopeTopBack {
    position:relative;
    width: 100%;
    display: block;
}
.envelopeBack {
    position:relative;
    margin-top: -1.5%;
    width: 100%;
    display: block;
}

/* --- STEP 5 --- */
.formDiv {
    width: 95%;
    margin: 5% auto;
    background-color: #8fa5c6;
    border-radius: 4px;
    padding: 1%;
    font-size: 20px;
}
.textField {
    border-radius: 4px;   
    resize: none;
    vertical-align:middle;
    overflow-x: hidden;
    overflow-y: auto;
    outline: none;
    text-align: center;
}
#emailForm {
    margin: 10% 5% 0;
}
#sendCard {
    margin:0% 0 5% 50%;
    background: #ec008c !important;
}
#messagesDiv {
    text-align: center;
    color: red;
    font-weight: bold;
}
span.error {
    display:block;
    text-align: left;
    padding-left: 100px;
    color: #ec008c;
    
}


#jquery-loader{
        border:none;
	padding-top:35px;
	background-color: transparent;
	text-align: center;
        background-image: url(../../images/ajax-loader.gif);
	background-position: center center;
	background-repeat: no-repeat;
}
#jquery-loader-background{
    background-color: silver
}

div.downloadlink {
    text-align:center;
    padding: 15px 0;
}

div.downloadlink a {
    display:block;
    padding: 8px 12px;
    color: #FFF;
    background-color: #8fa5c6;
    margin: 0 auto;
    width: 300px;
    font-size: 16px;
}

td#ecard-cell p {
    color: #f68cc9;
    text-align: center;
}
td#ecard-cell p span {
    font-size: 30px;
    padding: 0px 4px;
}
td#ecard-cell p a {
    display:block;
    padding: 8px 12px;
    color: #FFF;
    background-color: #8fa5c6;
    float:right;
}

#emailForm p.pink {
    color: #f60894;
}
div#cart-table {
    overflow-y: scroll;
    height: 100px;
    width: 300px;
}
div#cart-table table th {
    font-weight: bold;
}

div.cartWrapper {
    height: 115px;
    float: right;
    width: 300px;
    margin-top: 20px;
    margin-right: 5px;
}
p.subtotal {
    float:right;
    width: 300px;
    text-align: left;
    margin-left: 15px;
    font-size: 16px;
}

div.people {
    text-align: left;
    padding-left: 30px;
}


div.to-fields {
    margin-top: 5px;
    text-align: left;
    padding-left: 30px;
}

div.person {
    text-align: left;
    padding-left: 30px;
    margin-bottom: 5px;
}

p.addremove-controls {
    text-align: left;
    font-size: 22px;
    margin-left: 55px;
    margin-top: 20px;
    width: 360px;
    float: left;
}

#emailForm h3 {
    float:right;
    width: 107px;
    margin-top: 20px;
}
.ui-dialog-buttonset .ui-button span {
    background-color: #ffc2cf !important;
}

.toSendDate {
    padding: 6px 12px;
}

/* color picker */
div.colorPicker-picker {
  height: 16px;
  width: 16px;
  padding: 0 !important;
  border: 1px solid #ccc;
  background: url(arrow.gif) no-repeat top right;
  cursor: pointer;
  line-height: 16px;
  font-size:0.75em;
  font-weight:bold;
  text-align: center;
}

div.colorPicker-palette {
  width: 110px;
  position: absolute;
  border: 1px solid #598FEF;
  background-color: #EFEFEF;
  padding: 2px;
  z-index: 9999;
}
  div.colorPicker_hexWrap {width: 100%; float:left }
  div.colorPicker_hexWrap label {font-size: 95%; color: #2F2F2F; margin: 5px 2px; width: 25%}
  div.colorPicker_hexWrap input {margin: 5px 2px; padding: 0; font-size: 95%; border: 1px solid #000; width: 65%; }

div.colorPicker-swatch {
  height: 12px;
  width: 12px;
  border: 1px solid #000;
  margin: 2px;
  float: left;
  cursor: pointer;
  line-height: 12px;
}

/** end color picker **/

@media (max-width: 600px) {
  .ecard-selection h2 {
    font-size: 20px !important;
    padding: 6px 20px 6px;
  }
}