<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $_eventsTitle = $this->getEvents(); ?>
<div class="page-title">
    <h1><?php echo $this->__('My eVites') ?></h1>
</div>
<div class="ecards-tab">
    <div class="tab evites-new"><a href="<?php echo Mage::getUrl('evites/customer/index'); ?>"><?php echo $this->__('Available eVites') ?></a></div>
    <div class="tab evites-sent"><a href="<?php echo Mage::getUrl('evites/customer/sent'); ?>"><?php echo $this->__('Sent eVites') ?></a></div>
    <div class="tab my-events active"><?php echo $this->__('Event Responses') ?></div>
</div>
<div class="account-tab-section">
    <form id="my-event" action="<?php echo Mage::getUrl('evites/index/allevents'); ?>" enctype="multipart/form-data" method="post">
        <select name="event" id="my-events" onchange="getEvents()">
            <option><?php echo $this->__('Select your event...'); ?></option>
        <?php foreach ($_eventsTitle as $_eventTitle): ?>
            <option value="<?php echo $_eventTitle->getEvent(); ?>"><?php echo $_eventTitle->getEvent(); ?></option>
        <?php endforeach; ?>
        </select>
    </form>

    <div id="all-evints"></div>
</div>

<div id="ajax-loader">
    <img src="<?php echo Mage::getDesign()->getSkinUrl('images/ajax-loader.gif'); ?>" alt="Ajax loader" /><br />
    <span> <?php echo $this->__('Please wait... '); ?></span></span>
</div>

<script type="text/javascript">
    //<![CDATA[
    jQuery.noConflict();

    function getEvents()
    {
        jQuery('#ajax-loader').show();
        jQuery.ajax({
            type: 'post',
            url: '<?php echo Mage::getUrl('evites/index/allevents'); ?>',
            data: jQuery("#my-event ").serialize(),
            success: function (data) {
                jQuery('#ajax-loader').hide();
                if (data.status == 'SUCCESS') {
                    jQuery("#all-evints").html(data.event);
                }
            }
        });
    }
    //]]>
</script>