*									{ margin: 0; padding: 0; }
body								{ font: 14px Helvetica, Sans-Serif; }

#page-wrap							{ width: 700px; margin: 25px auto; }


.ui-tabs 							{ zoom: 1; }

.ui-tabs .ui-tabs-nav:after{
    content:'';
    display: block;
    clear: both;
}
.ui-tabs .ui-tabs-nav li 			{ position: relative; float: left;height: 44px;
									  border-bottom-width: 0 !important; background: url(../images/progress-bg.jpg) no-repeat 100% 0;position: relative;z-index: 1}
.ui-tabs .ui-tabs-nav li a 			{ float: left; text-decoration: none; padding: 0 0 0 11px; display: block;width: 91%;   color: #8fa5c6;}
.ui-tabs .ui-tabs-nav 
li.ui-tabs-selected ,.ui-tabs .ui-tabs-nav li.ui-tabs-active				{ padding-bottom: 1px; color:#8fa5c7; border-bottom-width: 0;position: relative;z-index: 999;  }

li.ui-tabs-selected a,.ui-tabs .ui-tabs-nav li.ui-tabs-active a{  color: #f68ccA;}
.ui-tabs .ui-tabs-nav
li.ui-tabs-selected a, .ui-tabs 
.ui-tabs-nav li.ui-state-disabled a, 
.ui-tabs .ui-tabs-nav 
li.ui-state-processing a 			{ cursor: text; }
.ui-tabs .ui-tabs-nav li a, 
.ui-tabs.ui-tabs-collapsible 
.ui-tabs-nav li.ui-tabs-selected a  { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel 			{ display: block; border-width: 0; background: none;
									  position: relative; min-height: 200px; }
.ui-tabs .ui-tabs-hide 				{ display: none ; }


.ui-tabs .ui-tabs-nav li.ui-tabs-active a{
	color: #f68ccA;
}

a.mover 							{ background: #900; padding: 6px 12px; position: absolute;
								      color: white; font-weight: bold; text-decoration: none; }
.next-tab 							{ bottom: 0; right: 0; -moz-border-radius-topleft: 10px; -webkit-border-top-left-radius: 10px; }
.prev-tab 							{ bottom: 0; left: 0; -moz-border-radius-topright: 10px; -webkit-border-top-right-radius: 10px; }
.ui-tabs .ui-tabs-nav 				{ list-style: none; position: relative; padding: 2px 2px 0;
	top: 0; z-index: 1000;background: #fff; }