@font-face {
	font-family: 'Claudette';
	src: url('ClaudetteaimeleChocolat.eot');
	src: url('ClaudetteaimeleChocolat.eot?#iefix') format('embedded-opentype'),
	url('ClaudetteaimeleChocolat.woff') format('woff'),
	url('ClaudetteaimeleChocolat.ttf') format('truetype'),
	url('ClaudetteaimeleChocolat.svg#ClaudetteaimeleChocolat') format('svg');
	font-weight: normal;
	font-style: normal;
}