<?php 
    $barcode = Mage::helper('giftvoucher')->getGeneralConfig('barcode_enable');
    $barcode_type = Mage::helper('giftvoucher')->getGeneralConfig('barcode_type');
    $url_barcode = '';
    if($barcode){
        if($barcode_type == 'code128') $url_barcode = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'giftvoucher/template/barcode/default.png';
        else $url_barcode = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'giftvoucher/template/barcode/qr.png';
    }
    if(Mage::getStoreConfig('giftvoucher/print_voucher/logo')) $logo = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'giftvoucher/pdf/logo/'.Mage::getStoreConfig('giftvoucher/print_voucher/logo');
    else $logo = $this->getSkinUrl('images/logo_print.gif');
?>
<div id="giftcard-template-back" style="/*display:none*/">
    <div class="giftcard-template-content" style="display: none; height: 0px"></div>
<div class="giftcard-change-image" style="overflow:hidden; width: 655px; height: 400px;font-size: 14px;background-color: #FFFFFF; background-image: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'giftvoucher/template/images/default.png' ?>);  background-repeat: no-repeat;background-size: 655px 400px">
    <div style="height: 65px; font-size: 40px; font-style: italic; color: orange; margin-top: 35px">
        <div style="margin-left: 50px; width: 175px; height: 50px; margin-top: 10px; background:url(<?php echo $logo; ?>) center  no-repeat;background-size: contain; float: left"></div>
        <div class="giftcard-style-color giftcard-title" style="margin-left: 10px; margin-top: 7px; float: left; font-family: time new roman"><?php echo $this->__('Giftcard Title') ?></div>
    </div>
    <div style="width: 655px;height: 30px;font-size: 16px;">
        <div style="width: 47%; float: left; text-align: right; padding-right: 20px">
            <label class="giftcard-text-color" for="giftcard-from" style="font-style: italic;font-family: time new roman"><?php echo $this->__('from') ?>:</label>
            <span class="giftcard-style-color giftcard-send-from" id='giftcard-from' style="color: orange;font-weight: bold">&nbsp;<?php echo Mage::helper('customer')->isLoggedIn() ? Mage::helper('customer')->getCustomerName() : ''; ?></span>
        </div>
        <div style="width: 46%; float: left; padding-left: 19px; border-left: 1px solid #5e5e5e; height: 20px; padding-bottom: 5px">
            <label class="giftcard-text-color" for="giftcard-to" style="font-style: italic;font-family: time new roman"><?php echo $this->__('to') ?>: </label>
            <span class="giftcard-style-color giftcard-send-to" id='giftcard-to' style="color: orange;font-weight: bold">&nbsp;</span>
        </div>
    </div>
    <div style="overflow: hidden;width: 600px; height: 100px;margin: 0 auto;margin-top: 10px;">
        <div style=" padding: 6px; padding-bottom: 16px; padding-top: 3px;  width: 588px; height: 80px; display:table-cell; vertical-align: middle;background: url(<?php echo $this->getSkinUrl('images/giftvoucher/box-message2.png') ?>) no-repeat"><pre class="giftcard-text-color giftcard-custom-message" style="margin: 0; white-space: pre-wrap; max-height: 85px; overflow: hidden; font-size: 11px"></pre></div>
    </div>
    <div style="margin: 0 0 10px 0;width: 655px; height: 75px; ">
        <div style="width: 177px; height: 75px;float: left; padding-left: 150px">
            <div class="giftcard-text-color"><?php echo $this->__('Value') ?></div>
            <div class="giftcard-style-color giftcard-price-change" style="font-size: 30px; color: orange; font-weight: bold; font-family: time new roman">$100.00</div>
        </div>
        <div style="width: 328px; height: 75px;float: left">    
            <?php if($url_barcode != ''): ?>
            <div>
                <label class="giftcard-text-color"><?php echo $this->__('Gift Card Number') ?>:</label>
                <span class="giftcard-style-color" style="color: orange; font-weight: bold; font-family: time new roman">GIFT-XXXX-XXXX</span>
            </div>
            <span style="width: 180px; "><img src="<?php echo $url_barcode ?>" /></span>
            <?php else: ?>
            <div class="giftcard-text-color"><?php echo $this->__('Gift Card Number') ?></div>
            <div class="giftcard-style-color" style="font-size: 30px; line-height: 52px; color: orange; font-weight: bold; font-family: time new roman">GIFT-XXXX-XXXX</div>
            <?php endif; ?>
        </div>
    </div>
    <div style="width: 655px; height: 45px;margin-top: 10px;padding: 5px 0; overflow: hidden;background: #FFF;opacity: 0.7; text-align: center;display:table-cell; vertical-align: middle">
        <div style="width: 450px; margin: 0 auto;">
            <p class="giftcard-text-color" style="font-size: 11px;line-height: 15px; margin: 0"><?php echo Mage::getSingleton('giftvoucher/giftvoucher')->getPrintNotes(); ?></p>
        </div>
    </div>
    
</div>
</div>