<?php 
    $barcode = Mage::helper('giftvoucher')->getGeneralConfig('barcode_enable');
    $barcode_type = Mage::helper('giftvoucher')->getGeneralConfig('barcode_type');
    $url_barcode = '';
    if($barcode){
        if($barcode_type == 'code128') $url_barcode = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'giftvoucher/template/barcode/default.png';
        else $url_barcode = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'giftvoucher/template/barcode/qr.png';
    }
    if(Mage::getStoreConfig('giftvoucher/print_voucher/logo')) $logo = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'giftvoucher/pdf/logo/'.Mage::getStoreConfig('giftvoucher/print_voucher/logo');
    else $logo = $this->getSkinUrl('images/logo_print.gif');
?>
<div id="giftcard-template-top" style="/*display:none*/overflow:hidden; width: 655px; height: 400px;font-size: 14px">
    <div class="giftcard-template-content-top giftcard-change-image" style="width: 655px; height: 150px; background-color: #FFFFFF;background-image: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'giftvoucher/template/images/top/default.png' ?>);background-position: center; background-repeat: no-repeat; background-size: 655px 150px">    </div>
    <div class="giftcard-template-content" style="width: 615px; height: 220px; padding: 20px; padding-top: 10px;background-color:#FFFFFF;background-image: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'giftvoucher/template/background/top/default.png' ?>);background-position: center;background-repeat: no-repeat;background-size: 655px 250px">
        <div style="width: 615px; height: 75px;">
            <div style="width: 455px; height: 75px; font-size: 40px; font-style: italic; color: orange;float: left">
                <div style="width: 175px; height: 50px; margin-top: 15px; background:url(<?php echo $logo ?>) center  no-repeat;background-size: contain; float: left"></div>
                <div class="giftcard-style-color giftcard-title" style="margin-left: 10px;width: 270px; margin-top: 10px; float: left; font-family: time new roman"><?php echo $this->__('Giftcard Title') ?></div>
            </div>
            <div style="width: 160px; height: 65px; float: left; padding-top: 10px">
                <div  class="giftcard-text-color" style="text-align: right; width: 160px;"><?php echo $this->__('Value') ?></div>
                <div class="giftcard-style-color giftcard-price-change" style="width: 160px; text-align: right; font-size: 30px; color: orange; font-weight: bold; font-family: time new roman">$100.00</div>
            </div>
        </div>
        <div style="width: 615px; height: 25px;margin-top: 5px;">
            <div style="width: 331px; height: 25px; padding-left: 5px; float: left;font-size: 16px;">
                <span style="margin-right: 15px;max-width: 140px;overflow: hidden;display: table-cell;float: left; max-height: 25px">
                    <label  class="giftcard-text-color" for="giftcard-from" style="font-style: italic;font-family: time new roman"><?php echo $this->__('from') ?>:</label>
                    <span class="giftcard-style-color giftcard-send-from" style="color: orange;">&nbsp;<?php echo Mage::helper('customer')->isLoggedIn() ? Mage::helper('customer')->getCustomerName() : ''; ?></span>
                </span>
                |
                <span style="width: 160px; margin-left: 15px; max-height: 25px">
                    <label  class="giftcard-text-color" for="giftcard-to" style="font-style: italic;font-family: time new roman"><?php echo $this->__('to') ?>: </label>
                    <span class="ggiftcard-style-color giftcard-send-to" style="color: orange;">&nbsp;</span>
                </span>
            </div>
            <div style="width: 279px; float: left; text-align: right;font-size: 14px;">
                <span style="width: 290px;">
                    <label  class="giftcard-text-color"><?php echo $this->__('Gift Card Number') ?>:</label>
                    <?php if($url_barcode != ''): ?>
                    <span class="giftcard-style-color" style="color: orange; font-weight: bold; font-family: time new roman">GIFT-XXXX-XXXX</span>
                    <?php endif; ?>
                </span>
            </div>
        </div>
        <div style="width: 615px; height: 120px;">
            <div style="overflow: hidden; float: left;width: 340px; height: 100px;margin-top: 20px; ">
                <div style="padding: 6px; padding-bottom: 14px; padding-top: 3px;  background: url(<?php echo $this->getSkinUrl('images/giftvoucher/box-message.png') ?>) no-repeat;width: 328px; height: 85px;display:table-cell; vertical-align: middle"><pre class="giftcard-text-color giftcard-custom-message" style="margin: 0; white-space: pre-wrap;  max-height: 85px; overflow: hidden; font-size: 11px"></pre></div>
            </div>
            <div style="float: left; width: 275px;text-align: right">
                <span style="width: 180px; height: 50px ">
                    <?php if($url_barcode != ''): ?>
                    <img src="<?php echo $url_barcode ?>" />
                    <?php else: ?>
                    <div class="giftcard-style-color" style="font-size: 24px;line-height: 35px; color: orange; font-weight: bold;font-family: time new roman">GIFT-XXXX-XXXX</div>
                    <?php endif; ?>
                </span>
                <div style="height: 5px"></div>
                <div style="width: 260px; height: 65px; overflow: hidden; padding-left: 15px; margin-top: 5px;display:table-cell; vertical-align: bottom">
                    <p style="font-size: 11px; line-height: 16px; margin: 0" class="giftcard-text-color"><?php echo Mage::getSingleton('giftvoucher/giftvoucher')->getPrintNotes(); ?></p>
                </div>
            </div>
        </div>
    </div>
</div>