div{
	height: 0px;
}

.white_background div{
	height: auto;
}

body{
	height: 100%;
}

.white_background{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-image: url('../images/login/background.png');
	z-index: 1000;
	overflow: scroll;
}

.login_form{
	width: 290px;
	top: 50%;
	left: 50%;
	position: absolute;
	margin-top: -160px;
	margin-left: -145px;
	text-align: center;
	background-image: url('../images/login/box_background.png');
}

.box{
	margin-top: 1px;
	border-top: 1px solid #ededed;
	background-color: #d8d8d8;
	padding: 8px 0;
}

#itoris_login{
	margin-top: 0;
}

#itoris_login_box .border_t{
	position: absolute;
	top: -10px;
	left: 0px;
	width: 100%;
	height: 10px;
	background-image: url('../images/login/border_t.png');
}

#itoris_login_box .border_r{
	position: absolute;
	top: 0px;
	right: -10px;
	width: 10px;
	height: 100%;
	background-image: url('../images/login/border_r.png');
}

#itoris_login_box .border_b{
	position: absolute;
	bottom: -10px;
	left: 0px;
	width: 100%;
	height: 10px;
	background-image: url('../images/login/border_b.png');
}

#itoris_login_box .border_l{
	position: absolute;
	top: 0px;
	left: -10px;
	width: 10px;
	height: 100%;
	background-image: url('../images/login/border_l.png');
}

#itoris_login_box .corner_lt, #itoris_login_box .corner_lb,
#itoris_login_box .corner_rt, #itoris_login_box .corner_rb{
	position: absolute;
	width: 10px;
	height: 10px;
}

#itoris_login_box .corner_lt{
	top: -10px;
	left: -10px;
	background-image: url('../images/login/corner_lt.png');
}

#itoris_login_box .corner_lb{
	bottom: -10px;
	left: -10px;
	background-image: url('../images/login/corner_lb.png');
}

#itoris_login_box .corner_rt{
	top: -10px;
	right: -10px;
	background-image: url('../images/login/corner_rt.png');
}

#itoris_login_box .corner_rb{
	bottom: -10px;
	right: -10px;
	background-image: url('../images/login/corner_rb.png');
}

.label{
	margin-top: 10px;
	color: #336699;
	font-size: 14px;
}

#itoris_login_box .line{
	width: 220px;
	margin: 10px auto;
	height: 1px;
	background-image: url('../images/login/box_background.png');
	border-bottom: 1px solid #ededed;
	position: relative;
}

#itoris_login_box .fields{
	width: 220px;
	margin: 0 auto;
}

#itoris_login_box .fields{
	text-align: left;
	color: #474747;
	padding-bottom: 15px;
}

#itoris_login .field_box{
	margin-top: 15px;
}

#itoris_login_box .red{
	color: #ff0000;
}

#itoris_login .input_text_box{
	border: 1px solid #919191;
	border-right-color: #efefef;
	border-bottom-color: #efefef;
}

#itoris_login .validation-failed{
	border: 1px solid #EB340A !important;
}

#itoris_login .validation-advice{
	background: url("../images/login/validation.png") no-repeat scroll 4px 2px transparent;
	padding-left: 15px !important;
}

#itoris_login .input_text{
	width: 216px;
	height: 30px;
	border: 1px solid #c8c8c8;
	color: #000000;
	font-size: 14px;
	background-image: url('../images/login/input_background.png') !important;
	background-repeat: repeat-x;
}

#itoris_login a{
	color: #909090;
	font-size: 11px;
	float: right;
	cursor: pointer;
}

#itoris_login .login_link{
	margin: 3px 0;
	float: left;
}

#itoris_login .button{
	width: 70px;
	height: 32px;
	cursor: pointer;
	color: #ffffff;
	background-image: url('../images/login/button_n.png');
	position: relative;
	text-align: center;
	margin-top: 15px;
}

#itoris_login .button_label{
	padding-top: 6px;
	font-weight: bold;
}

#itoris_login .button_a{
	background-image: url('../images/login/button_a.png');
}

#itoris_login .button_password{
	width: 160px;
}

#itoris_login .button_nl{
	width: 9px;
	height: 31px;
	background-image: url('../images/login/button_nl.png');
	position: absolute;
	top: 0;
	left: 0;
}

#itoris_login .button_al{
	background-image: url('../images/login/button_al.png');
}

#itoris_login .button_nr{
	width: 8px;
	height: 31px;
	background-image: url('../images/login/button_nr.png');
	position: absolute;
	top: 0;
	right: 0;
}

#itoris_login .button_ar{
	background-image: url('../images/login/button_ar.png');
}

#itoris_login_box .switch_box{
	width: 220px;
	margin: 0 auto;
	color: #474747;
	text-align: left;
	position: relative;
}

#error_box{
	color: red;
	font-size: 20px;
}

#dropdown{
	position: absolute;
	left: 90px;
	top: -2px;
	width: 130px;
	cursor: pointer;
	color: #474747;
}

#dropdown .dropdown_text{
	margin-left: 3px;
}

#dropdown_value, #dropdown_list{
	background-color: #ffffff;
	border: 1px solid #b6b6b6;
}

#dropdown_value{
	position: relative;
	height: 20px;
}

#dropdown_value .arrow{
	background-image: url('../images/login/arrow.png');
	width: 18px;
	height: 17px;
	position: absolute;
	top: 1px;
	right: 1px;
}

#dropdown_list .hover{
	background-color: #b6b6b6;
}

#itoris_loading{
	background-image: url('../images/ajax-loader.gif');
	background-position: center;
	background-repeat: no-repeat;
	background-color: #000000;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1010;
	opacity: 0.7;
	filter: alpha(opacity=70);
	background-color: #f5f0ea;
}

#itoris_login_box.register-form {
	margin-top: 0px;
	width: 580px;
	margin-left: -300px;
}
#itoris_login_box.custom-reg-form {
	width: 940px;
	margin-left: -460px;
}
#itoris_login_box.custom-reg-form .input-box input.date {
	width: 230px;
}
#itoris_login_box.register-form .fields {
	width: 480px;
}
#itoris_login_box.custom-reg-form .fields {
	width: 880px;
}
#itoris_login_box.register-form .field_box {
	width: 220px;
	display: inline-block;
	margin-right: 40px;
	vertical-align: top;
}

#itoris_login_box.register-form .field_box.checkbox {
	vertical-align: bottom;
	width: ;
	height: 30px;
}

#itoris_login_box.register-form .field_box.checkbox input{
	width: auto;
	height: auto;
}

#itoris_login_box.register-form .field_box.dob input {
	width: 185px;
}

#itoris_login_box.register-form .field_box.dob .calendar-trig {
	float: right;
	cursor: pointer;
	background-image: url(../images/calendar.png);
	width: 30px;
	height: 30px;
}
.calendar {
	z-index: 15000;
}
.calendar thead .headrow {
	height: 25px;
}
#itoris_login_box.register-form .field_box.last {
	margin-right: 0;
}

#itoris_login_box.register-form .field_box .dob2 {
	width: 45px;
	margin-right: 10px;
}

#itoris_login_box.register-form .field_box .dob4 {
	width: 90px;
}

#itoris_login_box .reload-captcha {
	height: 16px;
	width: 16px;
	background-image: url(../images/refresh.gif);
	cursor: pointer;
	float: left;
}

#itoris_login_box .captcha-image {
	width: 100%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 1){

#dropdown{left:90px !important;}
#itoris_login_box.custom-reg-form{width:400px !important; margin-left:-200px !important;}
#itoris_login_box.custom-reg-form .fields {width: 290px !important;}
#itoris_login_box.custom-reg-form .form-list input.input-text{width: 290px !important;}
}

@media only screen and (min-device-width: 800px){
   #itoris_login_box.custom-reg-form{ width:700px !important; margin-left:-350px!important;}
   #itoris_login_box.custom-reg-form .fields {width: 720px !important;}
   #itoris_login_box.custom-reg-form .form-list input.input-text{width: 290px !important;}
   #itoris_login_box.custom-reg-form .account-create{margin-left:30px !important;}
   #itoris_login .button_password {margin-left:30px !important;}
   #itoris_login .login_link{margin-left:30px !important;}
 }