
.top-container {
	border-bottom: 2px solid #C8DBD9;
	position:relative;
	z-index:1000;
}

.product-img-box { margin:0 30px 0 0}


.my-account p {

	text-align:left;}
.customer-account-edit #email,
.customer-account-edit #current_password{
	width: 254px;

}
#co-billing-form .wide input {
	width:315px;
}

.form-list li div{
	display:inline-block;
	float:left;}

.form-list li div input {
	margin:0;
	padding:0 0 0 10px;

}
.video-holder{
	margin: 20px 30px
}
#checkout-step-payment input{
	float:left ;
	margin:0 10px 0 0 ;
	padding:0;
	border:1px solid green
}

.col-sm-9 {
	width:73% !important;
}
.wholesale-link{
	display: none;
}
/*//////////////////// Chapter /////////////// */

div.chapter div{
	float:left;
	text-align:left;
}

div.chapterImg {
	width:100%;
}

div.chapterImg img{
	float:left;
	margin:0 30px 0 30px;}

div.chapterImg h1 {
	margin-top:50px;
	border:none !important}

div.chapterRec{
	padding:20px;
}


/*////////////////////////////////////////////////Nav /////////////////*/

.nav-container{
	width:100%;
}

.nav-container .container {
	background-color:white;
}

.nav-container .container, .header-container .container, .main_wrapper .container {
	margin:0 auto 0 auto;
	padding:0;

}
.ecard-index-displaycard .main_wrapper .container{
	max-width: 490px;
}
.ecard-index-displaycard .main_wrapper .container.active{
	max-width: inherit;
}
.catalog-product-view .padding-s img{
	max-width: 100%;
}
.block-price-holder{
	overflow: hidden;
	height:auto;
}
.block-price-holder .availability.in-stock{
	float: left;
	margin: 0 35px 0 0;
	padding-top: 5px;
}
.product-view .product-shop .block-price-holder .price-box{
	float: left;margin-top: 0;
}
.nav-container .sf-menu{
	padding:0;
	margin:0 20px;
}

.nav-container .row, .nav-container .col-xs-12,
.header-container .row,
.header-container .col-xs-12,
.main_wrapper .col-xs-12,
.main_wrapper .row,
.col2-right-layout .col-main,
.main_wrapper .catalog-product-view .col-right,
.catalog-product-view .col-right
{
	padding:0;
	margin:0;
}

.header-container {
	background:none;
	padding:20px 0 0 0}

.header-container .container{
	background-color:white;
	padding:20px;
}
.accept-block{
	float:right;
	margin-top:-25px;
}
.main_wrapper .main {
	margin:0;
}

.main_wrapper .breadcrumbs{
	display:none;
	padding:20px;
	margin:0 0 20px 0;
}

.products-grid li.item {
	text-align:left;
	padding:0;
}
.my-account .my-wishlist table tr td{
	vertical-align: top;
}

.checkout-onepage-index .form-list li.wide .input-box{
	width: 100%;
	max-width: 535px;
}
.sp-methods #payment_form_authorizenet input,
#payment_form_giftvoucher input#giftvoucher_code{
	padding: 0 0 0 10px;
	border: 1px solid #cbcbcb;
	height: 34px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	background-color: #fff;
}
.image-cell{
	width: 95px;
}
.image-cell a{
	display: block;
	width: 100%;
}
.image-cell img{
	margin: 0 auto;
	display: block;
	max-width: 100%;
}
.sp-methods #payment_form_authorizenet select{
	padding: 6px 12px;
	max-width: 535px;

}
#shopping-cart-table .btn-remove.btn-remove2{
	display: block;
	text-indent: 0;
	background: transparent;
	font-size: 13px;
	text-decoration: underline;
	margin: 0 0 8px;
}

#shopping-cart-table .btn-remove2:before{
	content: '';
}
.edit-linck,
.link-wishlist.use-ajax{
	display: block;
	text-decoration: underline;
	font-size: 13px;
	font-weight: normal;
	margin: 0 0 8px;
}
.action-cell{
	width: 110px;
}
.name-cell{
	width: 450px;
}
.v-fix .validation-advice{
	width: 100% !important;
}
#authorizenet_cc_type_exp_div select{
	width: 98%;
	margin: 0 0 0 2%;
}
#authorizenet_cc_type_exp_div .v-fix:first-child select{
	margin: 0;
}
#authorizenet_cc_type_exp_div div.v-fix{
	width: 50%;
}
.sp-methods #payment_form_authorizenet.form-list .input-box{
	max-width: 535px;
}
.sp-methods #payment_form_authorizenet.form-list .input-box{
	width: 100%;
}
.sp-methods #payment_form_authorizenet.form-list .input-box input{
	width: 100% ;
	max-width: 535px;
}
.sp-methods #payment_form_authorizenet.form-list #authorizenet_cc_type_cvv_div input{
	width: 100% !important;
}
.account-create form{
	overflow: hidden;
	display: block;
	max-width: 560px;
}
/*.qty-block,*/
/*.actions-block{*/
/*display: none;*/
/*}*/
.account-create form
.products-grid .product-shop {
	padding:20px;
}
.account-create .form-list li div input#email_address{
	width: 254px;
}
.products-grid ul.add-to-links {
	width:100%;
	padding-top:20px;
	display:block;
}

ul.products-grid ul.add-to-links li{
	width:50%;
	padding:0;
}
.customer-account-edit input[type='checkbox']{
	float: left;width: auto;
	margin: 0 0 0 7px;
}
.customer-account-edit  .form-list li.control label{
	padding: 0;
}

ul.products-grid ul.add-to-links li a{
	text-decoration:underline;
	font-weight:normal;
}
.homePanel span{
	font-size: 36px;
	font-family: 'Litos';
}
.col2-right-layout .col-main, .main_wrapper .catalog-product-view .col-right, .main_wrapper .col1-layout .col-main, .main_wrapper .homefeatures {
	margin:0;
	padding:0;
	padding-bottom: 20px;
}

.main {
	padding:20px 20px 20px 20px;
}

.main-container{
	margin:0 0 20px 0;
}

div.homePage{
	float:left;
	width:100%;
	/* padding:20px; */
	font-size: 36px;
	line-height: 42px;
	/* border:2px solid #C8DBD9; */
	font-family: 'Italianno','Georgia',serif;
	text-align:center;
	margin-bottom:20px;
}
.padding-s img{
	max-width: inherit;
}
.padding-s video{
	width: 100% !important;
	height: auto !important;
}
.homePage div{
	float:left;
}
.homePage img{
	float:left;
	width: 1130px;
}

.homePage div.tulip{
	display:block;
	float:left;
	text-align:center;
	margin:30px 0 0 0;
	padding:0 0 40px 0;
	background:url("http://magento.thegatheringoffriends.com/media/wysiwyg/tulip.png") center bottom no-repeat;}


.homePage span img {
	margin:20px auto;
	width:200px;

}

.homePage img{
	float:left;
	margin:0 40px 0 0;}

.homePanel, .category-title{
	clear:both;
	text-align:center;
}

.category-title {
	margin:0;
	font-size:36px !important;
	color:#FFF;
}

.person-block,
.sender-block{
	overflow: hidden;
}
.person-block .person-to,
.person-block .person-email,
.person-block .person-schedule,
.sender-block .sender-from,
.sender-block .sender-email{
	float: left;
	margin: 0 4px 0 0;
	position: relative;
	padding: 0 0 20px;
	font-size: 20px;
}
#emailForm .close{
	float: left;
}
.person-block label.person-to,
.person-block label.person-email,
.person-block label.person-schedule{
	font-weight: normal;
}
.checkout-cart-index .product-name,
.wishlist-index-index .product-name{
	font-size: 16px;
}
.person-block .person-schedule{
	margin: 0;
}
.customer-account-forgotpassword .form-list input.input-text{
	width: 100%;
}
.formDiv.to-fields,
.formDiv.person{
	padding-bottom: 0;
	padding-top: 20px;
}
.person-block  span.error,
.sender-block  span.error{
	position: absolute;
	bottom: 3px;
	right: 3px;
	font-size: 12px;
	line-height: 12px;
	padding: 0;
	color: red;
}
.customer-account-create input[type=checkbox]{
	float: left;
	margin: 0;
}
#remember-me-box .input-box{
	float: left;
}
.homePanel{
	float:left;
	border:2px solid #C8DBD9;
	width:100%;
	margin-bottom:20px;
}

.zoomWrapper{
	width: auto !important;
	height: auto !important;
}
.homePanel .home-panel-content{
	padding:0 20px 20px 0 ;
	float:left;
	height:210px;
}

.homePanel .home-panel-content p{
	float:left;
	font-size: 30px;
	padding:40px 0 0 0;
	line-height: 30px;
	font-family: 'Italianno','Georgia',serif;

}

.homePanel .home-panel-content p a{
	display:block;
	background-color:#BDD3D0;
	padding:10px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	width:150px;
	line-height:19px;
	color:white;
}

.homePanel .home-panel-content p a:hover{
}




.homePanel .home-panel-content img {float:left;
	margin:20px 10px 0 20px;
	width:170px;

}
.homePanel .home-panel-image{
	float: left;
	min-height: 120px;
}
.homePanel .homePanelMid {
	border-right:2px dashed #EF74C6;
	border-left:2px dashed #EF74C6;}

/*//////////////////////////////////////*/

.products-grid a.product-image {
	margin:0;
	border:2px solid #C8DBD9;
	width:100%;
	padding:10px;
	box-shadow:inset 0 0 11px rgba(0,0,0,0.05);
}



.homefeatures ul.products-grid li.item{
	float:left;
	display:block;
	padding:0 ;
	width:250px;
	margin:-2px 43px 0 0;
}

.homefeatures ul.products-grid li.last{
	margin:-1px 0 0 1px;
}


.homefeatures ul.products-grid{
	margin:0;

}

.homefeatures .products-grid a.product-image
{
	background:none;
	border:none;
	padding:10px;
	width:100%;
	margin:0;
	border:2px solid #C8DBD9;
	box-shadow:inset 0 0 11px rgba(0,0,0,0.05);
}
.catalog-category-view .padding-s img{
	max-width: 100%;
}
#checkout-step-login input[type=radio]{
	float: left;
}
#checkout-step-login .opc .form-list li{
	overflow: hidden;
}
.coupon-block{
	float: left;
	width: 43%;
	margin: 0 6% 0 0;
}
.shipping-block select,
.cart .shipping .form-list .input-box{
	width: 100%;
}
.shipping-block{
	float: left;
	width: 43%;
}
.cart .discount, .cart .shipping{
	width: 100%;
}
.giftvoucher .form-list .input-box{
	width: 100%;
}
.cart-collaterals .col2-set .col-2{
	width: 100%;
}
.homefeatures .products-grid .grid_wrap {
	border:none;
	border:none;
	padding-bottom:20px;
	margin:0 ;
}
.shipping-block #co-shipping-method-form dt{
	border-bottom: 2px solid #3A3A3A;
	font-size: 17px;
	line-height: 24px;
	color: #3a3a3a;
	text-transform: uppercase;
	padding: 0 0 8px;
	margin: 0 0 15px;
	font-weight: normal;
}
.shipping-block #shipping-zip-form{
	margin: 0 0 15px;
	display: block;
}
.shipping-block  #s_method_flatrateperproduct_flatrateperproduct{
	float: left;
	margin-top: 0;
}
ul.products-grid li.item{
	float:left;
	display:block;
	padding:0 ;
	width:250px;
	margin:0 43px 0 0;
}

ul.products-grid li.last{
	margin:-1px 0 0 1px;
}

.page-title h1{
	padding:0;
	margin:0
}

.toolbar {
	padding:0;
	margin:0;
}


.col1-layout .product-view .product-shop {
	float: left;
	text-align: left;
	width: 55%;
}
.col1-layout .product-view .product-img-box{
	width: 40%;
}
.col1-layout .product-view .product-img-box img{
	max-width: 100%;
	height: auto;
}
#product-options-wrapper{
	text-align: left;

}

.product-options-bottom{

	text-align: left;

}

.product-view .product-shop {
	float: left;
	width: 59%;
	text-align: left;
}

.recipes {
	margin:0;
}

.recipes .grid_wrap {
	margin:0;
	height:320px;
}

.customer-address-form .form-list li.wide input.input-text,
.customer-address-form .form-list li.wide .input-box{
	width: 532px;
}
.customer-address-form .form-list input.input-text,
.customer-address-form .form-list select{
	width: 257px;
}
.customer-address-form .form-list .field{
	width: 275px;
}
.recipes .products-grid .grid_wrap {
	border-right:none;
	margin-top:-2px;}

.recipes .products-grid .last .grid_wrap {
	border:none;
	margin-top:-2px;}

.us {
	float:left;
	margin-bottom:20px;
	border:2px solid #C8DBD9;
	padding:20px;
	font-size: 14px; font-family: georgia, 'Times New Roman', times, serif; line-height: 16px; font-style: italic; text-align:left}


.us img {
	float:left;
	margin:0 40px 0 0;
}

.us p{
	padding:0 40px 50px 40px;
}

.us h1{
	padding:0;
	margin:0;
}

.us .tulip{
	background:url("http://magento.thegatheringoffriends.com/media/wysiwyg/tulip.png") center bottom no-repeat;
}

.col-main {
	width:100%;
}

.header .logo {
	width:100%;
	margin:0 auto;
	padding:0;
}


.header .logo img{
	margin:0;
}

.header .logo strong{
	display:none;}

.header #social-phone {
	margin-bottom: 10px;
	text-align: center;
	font-size: 19px;
	font-family: Palantino;
}
.header .social-media a{
	display:inline-block;
}

.header .social-media br {
	display:none;
}

.recipes .add-to-links a.link-compare {
	display:none;
}

.recipes .add-to-links li{
	list-style:none;
}

.recipes .add-to-links ul{
	list-style:none;
}



/* small ///*/
@media (max-width: 1195px) {
	.ui-tabs .ui-tabs-nav li{
		width: 164px;
	}
	.ui-tabs .ui-tabs-nav li a{
		width: 92%;
	}
}
@media (max-width: 1177px) {
	.flex-viewport{
		width: 90%;
		margin: 0 auto;
	}

}
.form-list li.control input.radio{
	float: left;margin-top: 0;
}
.opc #opc-billing .form-list #remember-me-box .input-box{
	width: 20px;
}
.giftvoucher-index-index .balance{
	padding: 0 0 10px ;
}
td#ecard-cell{
	padding-left: 3px;
}
#my-evites-table .table-label,
#my-ecards-table .table-label{
	display: none;
}
@media (max-width: 990px) {
	body #image_upload{
		left: 25px;
		width: 286px;
		top: 125px;
	}
	body #image_card_open_left{
		left: -297px;
		width: 286px;
		top: 141px;
	}
	body.evites-index-index #ecards-second {
		padding-top: 0;
	}
	body .evite-radio-butoons.open-card {
		margin: 100px 43px 0 0;
	}
	.evite-radio-butoons.open-card {
		margin: 100px 99px 0 0;
	}
	.evite-radio-butoons{
		margin: 100px 158px 0 0;
	}
	.egifts-view-index #previewDiv{
		margin: 15px auto 0 13px !important;
	}
	.egifts-view-index .single-card-block #booksPrintSize2Div{
		left: 43px;
	}
	.egifts-view-index .textAnim_size2NonOpening,
	.egifts-index-index .textAnim_size2NonOpening{
		width: 71%;
	}
	.egifts-view-index #cardPreview,
	.egifts-index-index #cardPreview{
		width: 467px;
	}
	.egifts-view-index #cardPreview.active,
	.egifts-index-index #cardPreview.active{
		width: 407px;
	}
	.egifts-view-index .textAnim_size2NonOpening,
	.egifts-index-index .textAnim_size2NonOpening {
		height: 430px;
	}
	.evite-id img{
		float: left;
		margin: 0 15px 10px 0;
	}
	#my-evites-table .table-label{
		display: inline-block;
		font-weight: bold;
		margin: 0 7px 0 0;
	}
	.responses-event th{
		display: none;
	}
	.responses-event tr,.responses-event td{
		display: block;
	}
	.responses-event td{
		border: none;
		overflow: hidden;
		padding: 0;
		margin: 0 0 7px;
	}
	.responses-event tr{
		border: 1px solid #cbcbcb;
		padding: 10px;
	}
	.responses-event thead tr{
		padding: 0;
		border: none;
	}
	#fontsDiv{
		width: 49%;
	}
	#evite-front-side.eviteInsideSize2Opening{
		top: 167px !important;
		width: 281px !important;
	}
	#evite-front-side.eviteInsideSize2Opening.preview-evite{
		right: 73px !important;
		top: 46px !important;
	}
	#evite-front-side.eviteInsideSize2Opening.back-card{
		top: 65px !important;
		right: 167px !important;
		width: 312px !important;
	}
	#booksPrintSize2Div #booksPrintSize2 {
		top: 6.5% !important;
	}
	#ecards-second #evite-front-side.eviteInsideSize2Opening div,
	#evite-front-side.eviteInsideSize2Opening.preview-evite div,
	#ecards-second #evite-front-side div,
	#evite-front-side.eviteTextSize2NonOpening.preview-evite div{
		margin: 0;
	}
	.evite-date input, .evite-time input, .evite-place textarea {
		font: 26px/33px 'Litos',Georgia, sans-serif;
	}
	.evite-title textarea, .evite-join-us, .evite-hosted textarea, .evite-own textarea{
		font: 30px/33px 'script_33normal' ,sans-serif;
	}
	.evite-note textarea {
		font: 24px/37px 'Litos',Georgia, sans-serif;
	}
	.evite-name input, .evite-date input, .evite-time input, .evite-place textarea, .evite-note textarea{
		font: 38px/46px 'Litos',Georgia, sans-serif;
	}
	.evite-own input{
		font: 38px/46px 'Litos',Georgia, sans-serif;
	}
	#evite-front-side.eviteTextSize2NonOpening.back-card .evite-rsvp, #evite-front-side.eviteInsideSize2Opening.back-card .evite-rsvp, #booksPrintSize2.back-card .evite-rsvp {
		font: 38px/44px 'Litos',Georgia, sans-serif !important;
		margin: 0 0 5px !important;
	}
	#evite-front-side div.evite-attend.unable-attend, #booksPrintSize2.back-card div.evite-attend.unable-attend{
		margin-bottom: 15px;
	}
	#evite-front-side div.evite-how, #evite-front-side.eviteInsideSize2Opening div.evite-how, #booksPrintSize2.back-card div.evite-how{
		margin: 0 auto 28px;
	}
	#evite-front-side div.evite-how, #evite-front-side.eviteInsideSize2Opening div.evite-how, #booksPrintSize2.back-card div.evite-how, #evite-front-side div.evite-replay{
		font-size: 25px !important;
	}
	#evite-front-side.eviteTextSize2NonOpening.back-card, #evite-front-side.eviteInsideSize2Opening.back-card, #booksPrintSize2.back-card{
		font: 26px/34px 'Litos',Georgia, sans-serif !important;
	}
	#booksPrintSize2.back-card{
		right: 8px !important;
	}
	#cardTextDiv.single-crt-holder.evites{
		width: 95%;
		margin: 0 auto 4% 8% !important;
	}
	#evite-front-side.eviteTextSize2NonOpening{
		top: 72px !important;
		right: 109px !important;
	}
	#evite-front-side.eviteTextSize2NonOpening.preview-evite {
		top: 63px !important;
		right: 62px !important;
	}
	#evite-front-side.eviteTextSize2NonOpening.back-card {
		top: 85px !important;
		right: 121px !important;
	}
	.open-card-block #booksPrintSize2.back-card {
		right: 0px !important;
	}
	.evite-note textarea {
		font: 26px/37px 'Litos',Georgia, sans-serif !important;
	}
	#cardTextDiv.single-crt-holder.evite {
		width: 96%;
		margin: -10px auto 4% 5%;
	}
	.open-card-block #cardOpenRightAnimation,
	.open-card-block #cardFrontTopAnimation,
	.open-card-block #cardFrontBottomAnimation{
		width: 84% ;
	}
	.textAnim_size2Opening {
		height: 420px !important;
	}
	.open-card-block #cardBackAnimation{
		width: 85% ;
		left: 12px;
	}
	.open-card-block #cardFrontBottomAnimation{
		top: 263px;
	}
	#booksPrintSize2Div{
		width: 332px !important;
	}
	.open-crt-holder .cardTextSize2Opening{
		top: 176px;
	}
	.open-crt-holder .cardOpenSize2{
		width: 50%;
	}
	.open-card-block #cardOpenLeftAnimation{
		width: 84% !important;
		left: -325px;
	}

	.sender-block.formDiv {
		padding-top: 15px;
		padding-left: 10px;
	}
	.ecards-recipients-from dt{
		padding: 0 0 10px;
	}
	.ecards-recipients-to.formDiv.person .close{
		margin-top: -39px;
	}
	#ecards-second .open-crt-holder {
		margin: -4px 0 3% 3%;
	}
	.world-count{
		margin-left: 10px !important;
	}
	#booksListDiv li label img{
		max-width: 100%;
	}
	#booksListDiv ul li{
		width: 31%;
	}
	.ui-tabs .ui-tabs-nav li {
		width: 128px;
		font-size: 17px;
	}

	.ui-tabs .ui-tabs-nav{}
	td#ecard-cell p{
		font-size: 30px !important;
	}
	td#ecard-cell p.customize-text {
		font-size: 25px !important;
	}
	td#ecard-cell p{
		font-size: 27px !important;
	}
	#my-orders-table tbody td,#my-orders-table  th{
		padding: 10px 2px;
	}
	#giftvoucher_grid th,#giftvoucher_grid td{
		padding: 7px 3px;
	}
	#giftvoucher_grid th{
		font-size: 12px;
	}
	#giftvoucher_grid .giftvoucher-grid-title th{
		font-size: 11px;
	}
	#giftvoucher_grid .data-range .label{
		padding-left: 0;
	}
	#checkout-step-login .col2-set .col-1,
	#checkout-step-login .col2-set .col-2,.checkout-onepage-index #co-billing-form .wide input{
		float: none;
		width: 100%;
	}
	.opc #opc-billing .field,
	.opc #opc-billing .form-list .input-box,
	.opc #opc-billing .form-list .input-box input,
	.opc #opc-shipping .field,
	.opc #opc-shipping .form-list .input-box,
	.opc #opc-shipping .form-list .input-box input,
	.opc #opc-billing .form-list li div,
	.opc #opc-billing .fields select,
	.opc #opc-billing .field select,
	.opc #opc-shipping .form-list li div,
	.opc #opc-shipping .fields select,
	.opc #opc-shipping .field select{
		width: 100%;
	}
	#checkout-step-login .col2-set .col-1 .buttons-set button.button{
		float: left;margin: 0 0 20px;
	}
	.block .block-title strong{
		font-size: 17px;
	}
	.coupon-block,.shipping-block{
		float: none;width: 92%;
		margin: 0;
	}
	.action-cell {
		width: 150px;
	}
	.customer-account-edit #form-validate .field .input-text,
	.customer-account-edit .form-list .input-box,
	.customer-account-edit #form-validate .field,
	.customer-account-edit .customer-name,
	.customer-account-edit #email,
	.customer-account-edit #current_password,
	.customer-address-form .form-list .field,
	.customer-address-form .form-list .input-box,
	.customer-address-form .form-list input.input-text,
	.customer-address-form .form-list select,
	.customer-address-form .form-list li div,
	.customer-address-form .form-list li.wide input.input-text,
	.customer-address-form .form-list li.wide .input-box{
		width: 100%;
	}
	.accept-block{
		float: none;
		width: 100%;
		margin: 0;
		overflow: hidden;
		padding: 10px 0 0 0;
	}
	.homePanel span{
		display: block;
		margin: 0 ;
	}
	.homePanel a span{
		margin: 0 auto;
	}
	.homePanel .home-panel-content img{
		display: block;
		margin: 0 auto 10px;
		float: none;

	}
	.homePanel .home-panel-content p{
		float: none;text-align: center;
	}
	.header .welcome-msg a { display: inline-block;}
	.header .welcome-msg img {
		height: 66px !important;
	}

	.homePage p a {
		margin-left: 0;
	}
	.flex-viewport{
		width: 80%;
		margin: 0 auto;
	}
	.header{
		overflow: hidden;
	}
	.header .welcome-msg{
		width: 20%;
		margin: 0;
	}
	.header .logo{
		float: none;
		width: 100%;
		margin: 0 0 57px;
	}
	.header .welcome-msg{
		width: 50%;
		float: left;
	}
	.header .logo img{
		width: 80%;
		margin: 0 auto;
	}
	.header .logo:after,.social-media:before{
		clear: both;
		display: block;
		content: '';
	}
	.header .social-media{
		float: left;
		margin: 0 !important;
		width: 50%;
		text-align: right;
	}
	.header .social-media,.header #social-phone{
		text-align: right;
		margin: 0 0 10px 0;
	}
	.welcome-msg.logged{
		margin: 20px 0 10px 0;
	}
}
#wishlist-view-form #wishlist-table a.bnt-wish-remove,
#wishlist-view-form #wishlist-table a.wishlist-image{
	display: none;
}

@media (max-width: 640px) {
	.ecards-tab .tab a,.ecards-tab .tab.active{
		padding: 10px 12px;
	}
	.my-account .my-wishlist table tr td:nth-child(1),
	.my-account .my-wishlist table tr th:nth-child(1),
	.my-account .my-wishlist table tr td:nth-child(4),
	.my-account .my-wishlist table tr th:nth-child(4){
		display: none;
	}
	#wishlist-view-form #wishlist-table a.bnt-wish-remove,
	#wishlist-view-form #wishlist-table a.wishlist-image{
		display:block;
	}
	.sp-methods .form-list{
		padding: 0;
	}
	#form-validate .field .input-text,
	.account-create .form-list li div input#email_address,
	.account-create .form-list .input-box,
	#form-validate .field,
	.field.name-lastname,
	.account-create .form-list li div,
	.footer .footer-col{
		width: 100%;
		float: none;
	}

	.flex-viewport{
		width: 92%;
		margin: 0 auto;
	}
	header .social-media{
		margin-right: 0px;
	}

}
@media (min-width: 50px) and (max-width: 767px) {
	.remember-me-popup{
		width: 80%;
		margin-left: -40%;
	}
	.block-cart-header .cart-content{
		right: 0;
		left: auto;
	}
	.customer-account-create input[type=checkbox]{
		margin: 0 0 0 10px;
	}
	p.subtotal{
		width: 100% !important;
	}
	.totals .checkout-types .button.button{
		float: right;
	}
	.totals .checkout-types li{
		overflow: hidden;
	}
	.totals .checkout-types li a{
		float: right;
	}
	.totals{
		margin: 0 0 25px;
	}
	.cart .totals,.cart .cart-collaterals .col2-set{
		float: none;width: 100%;

	}
	.coupon-block,.shipping-block{
		width: 100%;
	}
	#shopping-cart-table .product-name{
		margin: 0 0 15px;
	}
	.image-cell{
		width: 60px !important;
		padding: 0;
	}
	.qty-block,
	.actions-block{
		display:block;
	}
	.actions-block{
		padding: 15px 0 0;
	}
	.qty-cell,.action-cell{
		display: none;
	}
	.top_block {
		padding: 19px 0px 20px 0;
	}
	.block-cart-header{
		margin: 3px 0 0 12px;
	}
	.container {
		width: 100%;
	}
	.footer{
		padding: 0 10px;
	}
	.main{
		margin:0 !important;
		padding:10px !important;
	}

	.homePage img {
		width:100% !important;
	}
	.homePage p {
		font-family: Palantino;
		font-size: 16px;
		padding: 0px 0px 0px 0px;

	}
	.homePage p span {
		font-size: 16px;
	}

	.homePage p a {
		color: #ec008c;
		margin-left: 0px;
		font-size: 22px;
	}

	.tulip {
		width:100% !important;
	}

	.homePanel .homePanelMid {
		border-top: 2px dashed #EF74C6;
		border-bottom: 2px dashed #EF74C6;
		border-left:none;
		border-right:none;
	}

	.homePanel .home-panel-image {
		padding: 0 ;
		margin:0 ;
		float: left ;
		height:120px;
		text-align:center;
		min-height : inherit;
	}
	.homePanel .home-panel-image img{
		max-height: 120px;
	}
	.homePanel div img {
		padding:0 !important;
		width:100px;
		margin:10px 0 10px ;
	}

	.homePanel div p a {
		width:120px !important;
		font-size:14px !important;
	}

	.homePanel div p{
		padding:20px 0 0 0
	margin:0;
		font-size:23px;
	}

	h2.category-title{
		font-size:21px !important;
	}




	.header .logo a{
		display:block !important;
		width:100%;
	}


	ul.products-grid li.item{
		width:161px !important;
		margin:-2px 21px 0 0 !important;
	}

	ul.products-grid li.last{
		margin:-2px 0 0 3px ;
	}

	.col-main {
		width:100% !important;
	}



	element {
		margin:-10px 0 0 0 !important;
	}




	/*
    .social-media img {
        width:40px !important;
        }
    */


	.social-media {
		/*
            float:none !important;
            position:absolute !important;
            z-index:2000;
            left:110px !important;
            top:60px !important;
            width:200px !important;

            margin:-110px 0 0 0 !important;*/
	}
	.header .welcome-msg img {
		height: 70px !important;
	}
	.product-view .product-shop {
		width: 65% ;


	}

	.container-slider {
		width: 220px;

	}
	.top_block .links{
		float:left ;
		margin:0 ;
	}

	.top-container{
		border:none;
	}

	div.homePage {
		padding:10px !important;
	}

	.tulip {
		font-size:23px !important;
		line-height:20px !important;
	}


	.main_tile{
		padding:15px 0 0 0;
		background-color:#FFF;
	}


	.sf-menu-phone {
		z-index:300 !important;
	}

	.links {
		font-size:10px !important;
		font-family:Tahoma, Geneva, sans-serif;
	}



}

.homePanel span{
	font-size: 36px;
}
.homePanel a span{
	font-size: 18px;
}

/*Medium medium///*/

@media (min-width: 768px) and (max-width: 990px) {
	.container {
		width: 750px;
	}



	.homePage img {
		width:100% !important;
	}


	.tulip {
		width:100% !important;
	}

	.homePanel .home-panel-content {
		padding: 10px 0;
		margin:0 ;
		float: left;
		width: 33% ;
		height:250px ;
		text-align:center ;}
	.homePanel .home-panel-image{
		float: none;width: 100%;
	}

	.homePanel .home-panel-content img {
		padding:0 ;
		width:120px;
	}

	.homePanel .home-panel-content p a {
		width:150px;
		font-size:18px ;
		margin: 0 auto;
	}

	.homePanel .home-panel-content p{
		padding:0 !important;
		margin:0 !important;
		font-size:18px !important;
	}

	h2.category-title{
		font-size:21px !important;
	}


	ul.products-grid li.item{
		width:161px !important;
		margin:-2px 21px 0 0 !important;
	}

	ul.products-grid li.last{
		margin:-2px 0 0 3px !important;
	}





	.social-media {
		margin-top:-100px !important;
	}

	.product-view .product-shop {
		width: 50% !important;

	}


	.container-slider {
		width: 220px;

	}
}
/*medium///*/
.homePage div.bx-pager.bx-default-pager{
	float: none;
}

@media (min-width: 990px) and (max-width:1199px) {
	td#ecard-cell p{
		font-size: 29px !important;
	}
	.container {
		width: 970px
	}
	td#ecard-cell p.customize-text {
		font-size: 25px !important;
	}
	.opc #opc-billing .fields input,
	.opc #opc-billing .field input,
	.opc #opc-shipping .fields input,
	.opc #opc-shipping .field input,
	.opc #opc-billing .form-list .input-box,
	.opc #opc-shipping .form-list .input-box,
	.opc #opc-shipping .field,
	.opc #opc-billing .field,
	#co-billing-form .wide input,
	.opc #opc-shipping .wide input,
	.opc #opc-billing .fields select,
	.opc #opc-billing .field select,
	.opc #opc-shipping .form-list li div,
	.opc #opc-shipping .fields select,
	.opc #opc-shipping .field select{
		width: 100%;
	}
	.opc #opc-billing .form-list,
	.opc #opc-shipping .form-list
	{
		max-width: 457px;
	}
	.checkout-onepage-index .form-list li.wide .input-box{
		max-width: inherit;
	}
	.opc #opc-billing .form-list li div{
		display: block;
		width: 100%;
	}
	.header .logo img{
		width:436px;
		margin: 0 17% 0 0;
	}

	.social-media {
		margin-top: -88px !important;
	}
	.header .welcome-msg{
		margin: -129px 0 0 0 ;
	}

	.homePage p a{
		margin-left: 0;
	}
	.sf-menu li {
		margin:0 !important;
	}


	ul.products-grid li.item{
		width:212px !important;
		margin:-2px 26px 0 0 !important;
	}

	ul.products-grid li.last{
		margin:-2px 0 0 2px !important;}

	ul.products-grid li.first{
		margin:-2px 28px 0 0 !important;}

	h2.category-title{
		font-size:21px !important;
	}

	.homePanel .home-panel-content img {
		width:120px;
	}

	.homePanel .home-panel-content{
		padding:0 7px 0 0 ;
		height:150px;
	}

	.homePage .tulip{
		line-height:33px !important;
		padding:0 0 60px 0 !important;
		margin:0 !important;
	}

	.product-view .product-shop {
		float: left;
		width: 50%;
		text-align: left;
	}

}
/*large///*/

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
@media (max-width: 578px) {
	.block-cart-header {
		margin: 3px 12px 0 0;
	}
}
@media (max-width: 1200px) {

}

@media  (max-width: 450px) {

	.product-view .product-shop {
		width: 100% !important;

	}

	ul.products-grid li.item{
		width:250px !important;
		margin:-2px 0 0 0 !important;
	}


}
.form-list li.control input.checkbox{
	float: left;
	margin-top: 0;
}
.cms-shopping-lists-html .padding-s img{
	max-width: 100%;
}
@media (max-width: 767px){
	.account-login .new-users-wrapper,
	.account-login .registered-users-wrapper{
		float: none;width: 100%;
	}
	.checkout-onepage-index .form-list li.wide .input-box{
		max-width: inherit;
	}
	.video-holder{
		margin: 20px 0;
	}
	.homePanel .home-panel-content img{
		float: left;
		height: auto;
		width: auto;
		max-width: 100%;
	}
	.homePanel span{
		font-size: 36px;
		font-family: 'Litos';
	}
	.homePanel .home-panel-image{
		width: 147px;
		margin: 0 20px 0 10px;
	}
	.homePanel .home-panel-content p{
		float: inherit;
	}
	.homePanel .home-panel-content{
		overflow: hidden;
		padding: 14px 0 14px;
		width: 100%;
		height: auto;

	}
	.homePanel span{
		display: inline;
	}
	.homePanel .home-panel-content p a{
		font-size: 14px;
	}
	.homePanel .home-panel-content img{
		min-height: inherit;
	}
	.homePanel a span{
		font-size: 14px;
	}
}

@media (max-width: 640px) {
	.opc .step .tool-tip{
		right: 0;
		top: 50%!important;
		margin-top: -60px;
	}
	#wishlist-view-form #wishlist-table a.bnt-wish-remove{
		display: block;
		text-indent: 0;
		font-size: 13px;
	}
	#wishlist-view-form #wishlist-table a.bnt-wish-remove:before{
		content: '';
	}
	.header .logo img{
		max-width: 100%;
		display: block;
	}
	.header .logo a{
		margin: 0 0 15px;
	}
	.col1-layout .product-view .product-img-box,
	.col1-layout .product-view .product-shop{
		width: 100% !important;
		float: none;
	}
	.col1-layout .product-view .product-img-box img{
		height: auto;
	}
	.zoomContainer{
		display: none;
	}
}
#giftvoucher_grid  tbody .mobile-title{
	display: none;
}
#giftvoucher_grid .label{
	padding-left: 0;
}
#shopping-cart-table .product-image.mobile-img-cart{
	display: none;
}
.mobile-order-linck{
	display: none;
}
#my-orders-table tbody td strong{
	display: none;
}
@media (min-width: 481px) and (max-width: 610px) {
	.block-cart-header{
		margin: 3px 0 0 0;

	}
	.top_block .links{
		width: 100%;
		overflow: hidden;
	}
	.block-cart-header .cart-content{
		right: auto;
		left: 0;
	}
}
@media (max-width: 580px) {
	#my-orders-table tbody td strong{
		display: block;
		float: left;
	}
	#my-orders-table thead{
		display: none;
	}
	#my-orders-table tbody td,#my-orders-table tbody  tr{
		display: block;
	}
	#my-orders-table tbody tr{
		border-bottom: 1px solid #ccc;
		border-top: 1px solid #ccc;
		padding: 10px 0;
	}
	#my-orders-table tbody td{
		border: none;
	}
	#giftvoucher_grid  tbody .mobile-title{
		display: block;
		float: left;font-weight: bold;
	}
	#giftvoucher_grid  td,
	#giftvoucher_grid  tr{
		display: block;
		overflow: hidden;
	}
	#giftvoucher_grid  tr{
		padding: 10px 0;
	}
	#giftvoucher_grid thead,
	.giftvoucher-search-button{
		display: none;
	}
	#giftvoucher_grid  tbody td{
		border: none;
	}
	#giftvoucher_grid  tbody tr:first-child{
		border-top: 1px solid #ccc;
	}
	#giftvoucher_grid  tbody tr{
		border-bottom: 1px solid #ccc;
	}
}
@media (max-width: 480px) {
	#my-ecards-table .table-label{
		display: inline-block;
		font-weight: bold;
		margin: 0 7px 0 0;
	}
	.ecard-sent th{
		display: none;
	}
	.ecard-sent tr,.ecard-sent td{
		display: block;
	}
	.ecard-sent td{
		border: none;
		overflow: hidden;
		padding: 0;
		margin: 0 0 7px;
	}
	.ecard-id img{
		float: left;
		margin: 0 15px 10px 0;
	}
	.ecard-sent tr{
		border: 1px solid #cbcbcb;
		padding: 10px;
	}
	.ecard-sent thead tr{
		padding: 0;
		border: none;
	}
	.evites-customer-events select#my-events{
		margin: 20px 12%;
	}
	.evites-customer-sent .pager .amount{
		margin: 0;
		width: 100%;
	}
	.evites-customer-sent .pager {
		text-align: left;
	}
	.evites-customer-sent .pager .pages {
		margin: 0;
	}
	.ecards-tab .tab a, .ecards-tab .tab.active {
		padding: 10px 5px;
	}
	.block-cart-header{
		float: right;
	}
	.ecards-tab .tab{
		font: bold 12px Helvetica, Sans-Serif;
	}
	#wishlist-table th{
		font-size: 12px;
		padding: 10px 6px;
	}
	#wishlist-table td{
		padding: 10px 5px;
	}
	#shopping-cart-table td#ecard-cell p a{
		float: none;
	}
	.customer-address-index .my-account .col2-set .col-1,
	.customer-address-index .my-account .col2-set .col-2{
		float: none;
		width: 100%;
	}
	.customer-address-index .my-account{
		position: relative;
	}
	.customer-address-index .my-account .title-buttons button{
		position: absolute;
		top: 62px;
		right: 0;
	}
	.page-title h1{
		font-size: 17px;
	}
	.customer-address-index .my-account .page-title{
		margin: 0 0 45px;
	}
	.customer-account-index .my-account .col2-set .col-1,
	.customer-account-index .my-account .col2-set .col-2{
		float: none;width: 100%;
	}
	#product-attribute-specs-table td,#product-attribute-specs-table th{
		display: block;
	}
	#product-attribute-specs-table th{
		width: 125px;
		margin: 0 0 15px;
	}
	#product-attribute-specs-table td{
		width: 100%;
	}
	.homePanel .home-panel-content p{
		padding: 17px 0 0 0;
	}
	.homePanel span{
		font-size: 30px;
	}
	.wholesale-link{
		display: block;
		float: left;

	}
	.block-cart-header{
		margin: 0 0 0 57px;
	}
	.block-cart-header .cart-content{
		right: -8px;
		left: auto;
	}
	.links{
		overflow: hidden;
		padding: 0 0 27px 0;
		width: 100%;
	}
	.top_block .links li.first a{
		margin-left: 12px;
	}

	ul.links {
		text-align: justify;
		overflow: hidden;
		padding: 0;
	}
	.top_block .links li{
		display: inline;
		float: none;
	}
	.top_block .links li.last{
		display: none;
	}
	ul.links li a{
		display: inline-block;
	}
	ul.links:after {
		content: "1";
		margin-left: 100%;
		display: inline-block;
	}
	.links li:nth-child(4){
		display: none;
	}
	.links .last{
		display: none;
	}
	.links{
		margin: 0;
	}
	.homePanel .home-panel-image{
		min-height: inherit;
		width: 121px;
	}
	.header .welcome-msg{
		width: 33%;
	}
	.header .social-media{
		width: 67%;
		padding: 27px 0 0 0 ;
	}

	.flex-viewport {
		width: 62% !important;

	}
	.header .social-media img{
		padding-right: 1px;
	}
	.header .logo{
		float: none;
		width: 100%;
		text-align: left;
		margin: 0 0 25px;
	}
	.header .logo img{
		width: 100%;
	}
	.header .welcome-msg img{
		height: 46px !important;
	}
	.header .social-media img{
		height: 39px;
	}
	#shopping-cart-table button.button.btn-continue{
		float: left;

	}
	#shopping-cart-table button.button.btn-empty{
		float: left; overflow: hidden;
		margin: 15px 0 0 0;
	}
	#shopping-cart-table button.button span span{
		padding: 0 8px;
	}
}
@media (max-width: 321px) {
	.account-tab-section{
		padding: 0 6px 0;
	}
	#my-evites-table.data-table th,
	#my-ecards-table.data-table th {
		padding: 4px;
		font-size: 12px;
	}
}
.giftvoucher_credit input[type=checkbox]{
	float: left;
	margin: 0 15px 0 0;
}

#addredeem-giftvoucher-code .form-list input.input-text{
	width: 100% !important;
}
#addredeem-giftvoucher-code  .buttons-set button.button{
	margin: 0 0 0 5px;
}
@media (max-width: 380px) {
	#shopping-cart-table .product-image.mobile-img-cart{
		display: block;
		margin: 0 0 10px;
	}
	.mini-products-list .product-image{
		float: none;width: 100%;
		display: block;
	}
	.mini-products-list .product-image img{
		display: block;
		margin: 0 auto 15px;
	}
	.block-related .product{
		text-align: center;
	}
	.image-cell{
		display: none;
	}

}
ul.sitemap {
	width:100%;
	padding:0 0 0 40px;
	text-align:left;
	list-style:disc;
}
