.nav-container {  position: relative;  z-index: 4; margin: 0 auto 0 auto; background:none;}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  .nav-container { margin: -40px 231px -40px;}
}

.sf-menu { background:#fff; border: 2px solid #C8DBD9; padding:0px 8px 0px 8px; margin:20px 34px 30px 25px; }
.sf-menu li {
  float: left;
  text-align: left;
  position: relative;
  z-index: 99;
		font-family: 'Adamina', "Times New Roman", serif;
		font-size:18px;
		text-transform:none;
		margin:0 2px 0 10px;
}


.sf-menu li.parent {z-index: 999;}
.sf-menu li a {
  display: block;
  color: #6f6f6f;
  text-decoration: none;
  position: relative;
  padding: 35px 15px 27px 15px;
}
.sf-menu > li > a > span {
  cursor: pointer;
  white-space: nowrap;
}
.sf-menu li ul a span {  white-space: normal;}

.sf-menu > li.sfHover > a,
.sf-menu> li > a:hover
{background: #ffc2cf; color:#fff; }
/*removed .sf-menu > li.active > a */

.sf-menu li a:hover {text-decoration: none;}

.sf-menu ul {
  position: absolute;
  top: -999em;
  z-index: 99;
  width: 197px;
  display: none;
  background: #8fa5c6;
  padding:10px 25px 10px 25px;
  border-top: 2px soild #000
  }
  
.sf-menu li li { font-size:14px; margin:0 0 10px; background: #8fa5c6; }
.sf-menu li li.parent > a:before { content: "\f101"; float: right; }
.sf-menu li li.last {  border-bottom-width: 0px; padding-bottom: 0px; margin-bottom:0px;}
.sf-menu li li {  
   position: relative; 
   float: none; 
   border-bottom: 1px solid #ffffff; 
   padding-bottom: 10px;  
   padding-left:15px; 
   padding-right:10px; 
   margin-left:-25px;
   margin-right:-25px;
   font-style:italic;
   }
   
.sf-menu li li a {
  display:inline;
  padding:0;
  color: #ffffff;
  }
  
.sf-menu li li > a:hover,
.sf-menu li li.sfHover > a,
.sf-menu li li.active > a {  color: #ffc2cf;}

.sf-menu ul ul {
  position: absolute;
  top: -999em;
  z-index: 99;
  width: 197px;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  left: 0px;
  top: 83px;
  /* match top ul list item height */
}

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
  top: -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
  left: 193px;
  /* match ul width */
  top: 0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
  top: -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
  left: 193px;
  /* match ul width */
  top: 0;
}
@media only screen and (min-width: 992px) {
    #menu-icon,
    .sf-menu-phone,
    .sf-menu-block {  display: none !important;}

}
@media only screen and (max-width: 991px) {
  .sf-menu,
  .sf-menu-phone {display: none;}
  /* menu icon */
 .sf-menu-block {display: block; position: relative;}
  #menu-icon {
    display: block;
    background:#fff;
    border: 1px solid #ccc;
    font-size: 17px;
    line-height: 21px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
				font-family: 'Open Sans', sans-serif;
				color:#6f6f6f;

  }
  #menu-icon:before {content: "\f055"; font-size: 25px; line-height: 50px; float: right; }
  #menu-icon.active:before { content: "\f056"; }

  .sf-menu-phone {
    background: #fff;
    border: 1px solid #ccc;
    border-top: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    moz-box-sizing:border-box;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
  }
  .sf-menu-phone li {  position: relative; font-family: 'Open Sans', sans-serif;  }
  .sf-menu-phone > li { border-bottom: 1px solid #ccc; padding: 10px 20px; font-size: 16px; }
  .sf-menu-phone > li.last {border-bottom: 0;}
  .sf-menu-phone li a { display: inline-block; color: #6f6f6f;  }
  .sf-menu-phone li a:hover { color: #000; }
  .sf-menu-phone li li {font-size: 13px; padding: 4px 8px; }
  .sf-menu-phone li li.last {padding-bottom: 10px;}
  .sf-menu-phone li li:first-child {padding-top: 10px;}
  .sf-menu-phone li li:first-child strong {top:10px;}
  .sf-menu-phone li strong {
    position: absolute;
    display: block;
    top: 4px;
    right: 5px;
    width: 24px;
    font-size: 16px; 
    line-height: 16px;
    text-align: center;
  }
  .sf-menu-phone > li > strong {top: 9px; right: 18px; font-size: 20px; line-height: 20px;}
  .sf-menu-phone li strong:hover { cursor: pointer; }
  .sf-menu-phone li strong:before {content: "\f067"; }
  .sf-menu-phone li strong.opened:before { content: "\f068"; }

  /* dropdown */
  .sf-menu-phone ul {  width: auto; border: 1px solid #ccc; margin:10px 0 0 0 ;  display: none;  }
  .sf-menu-phone > li.active > a > span {color: inherit;}
  
  .sf-menu-phone > li.active > a,
  .sf-menu-phone > li > a:hover {  }

  .sf-menu-phone li li.active > a,
  .sf-menu-phone li li a:hover {}
}
@media only screen and (max-width: 767px) { 
   .sf-menu-block {margin: 0 10px;}
}
