<?php 
    $ecard = Mage::registry('ecard-object');
    //var_dump($ecard); die;
    $sender = $ecard->getName();
?>
<?php
    $filecontent = $ecard->getData('data');
    
    $textfilecontent = $ecard->getText();
    
?>

<script>
    String.prototype.stripSlashes = function(){
        return this.replace(/\\(.)/mg, "$1");
    }
    <?php 
	echo $filecontent;
        
	//echo "jQuery.get('".$usertextfilename."', function(content) { cardText = content; });"; 
?>
    var cardText="<?php echo str_replace("\n","endline", $textfilecontent);?>";
    cardText = cardText.replace(/endline/g,"\n");
</script>

<div id="cardAppDiv" class='cardAppDivWithStyle'>    
    <div id="contentDiv">
        <div id='previewDiv' class='cardDisplayed'>
            <div id='cardPreview'>
            	<script><?php 
					echo "document.write(\"<button id='previewButton'>Click to view the card</button><img id='envelopeFrontAnimation' class='envelopeFrontSet' src='/_images/cards_size_\"+cardSize+\"/card_\"+cardNumber+\"/envelope_front.png'>\")"; 
				?></script>
				
                <div id='textPreview' class='envelopeFrontSet'>
                    <script>document.write("<p>" + toNameField + "</p>");</script>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="downloadlink"><a href="<?php echo Mage::app()->getStore()->getBaseUrl() . "ecard/index/downloadgift/uid/" . $ecard->getUniqueId()?>?limit=20">Click Here to Redeem Your Gift</a></div>
<script>

jQuery(document).ready(function($){
    $("#contentDiv").css('backgroundImage','url(/_images/cards_size_'+cardSize+'/card_'+cardNumber+'/background.jpg)');

    $( ".cardDisplayed" ).click(function(){
        if ($(this).hasClass('cardDisplayed')) {
            startAnimation();
            $(this).removeClass('cardDisplayed');
        }
    });
    
    $("#previewButton").click(function(){
        $(this).hide();
    })

    function startAnimation() {
        var booksLoaded = false;
        var animStep = -1;

        var cardImg = "";
        cardImg += "<div class='envDiv'>";
        cardImg += "<div id='envelopeMessage'><p>Click to open</p></div>";
        cardImg += "<img id='envelopeBackAnimation' src='/_images/cards_size_"+cardSize+"/card_"+cardNumber+"/envelope_back.png'>";
        cardImg += "<img id='envelopeTopBackAnimation' src='/_images/cards_size_"+cardSize+"/card_"+cardNumber+"/envelope_top_back.png'>";
        cardImg += "</div>";

        cardImg += "<div id='cardDiv'>";  

        if (isOpeningCard) {
            cardImg += "<img id='cardOpenLeftAnimation' src='/_images/cards_size_"+cardSize+"/card_"+cardNumber+"/card_open_left.png'>";
            cardImg += "<img id='cardOpenRightAnimation' src='/_images/cards_size_"+cardSize+"/card_"+cardNumber+"/card_open_right.png'>";
            cardImg += "<textarea class='cardTextAnimation textAnim_size"+cardSize+"Opening' readonly></textarea>";
            cardImg += "<div id='cardFrontDiv'>";  

            if (cardSize >= 2) {
                cardImg += "<img id='cardFrontTopAnimation' src='/_images/cards_size_"+cardSize+"/card_"+cardNumber+"/card_front_top.png'>";
                cardImg += "<img id='cardFrontBottomAnimation' src='/_images/cards_size_"+cardSize+"/card_"+cardNumber+"/card_front_bottom.png'>";
            }
            else cardImg += "<img id='cardFrontTopAnimation' src='/_images/cards_size_"+cardSize+"/card_"+cardNumber+"/card_front.png'>";

            cardImg += "</div>";
        }
        else {
            cardImg += "<div id='cardFrontDiv'>";  

            if (cardSize >= 2) {
            cardImg += "<img id='cardFrontTopAnimation' src='/_images/cards_size_"+cardSize+"/card_"+cardNumber+"/card_front_top.png'>";
                cardImg += "<img id='cardFrontBottomAnimation' src='/_images/cards_size_"+cardSize+"/card_"+cardNumber+"/card_front_bottom.png'>";
            }
            else cardImg += "<img id='cardFrontTopAnimation' src='/_images/cards_size_"+cardSize+"/card_"+cardNumber+"/card_front.png'>";

            cardImg += "<textarea class='cardTextAnimation textAnim_size"+cardSize+"NonOpening' readonly></textarea>";
            cardImg += "</div>";
        }

        cardImg += "<img id='cardBackAnimation' class='booksSet' src='/_images/cards_size_"+cardSize+"/card_"+cardNumber+"/card_back.png'>";
        cardImg += "<div id='booksPrintSize"+cardSize+"Div' class='booksSet'><div id='booksPrintSize"+cardSize+"'></div></div>";
        cardImg += "</div>";

        cardImg += "<div class='envDiv'>";
        cardImg += "<img id='envelopeBackNoBottomAnimation' src='/_images/cards_size_"+cardSize+"/card_"+cardNumber+"/envelope_back_no_bottom.png'>";
        cardImg += "<img id='envelopeTopFrontAnimation' src='/_images/cards_size_"+cardSize+"/card_"+cardNumber+"/envelope_top_front.png'>";
        cardImg += "</div>";

        $('#envelopeFrontAnimation').after(cardImg);

        //alert(parseInt(fontSize)*1.3);
        $('.cardTextAnimation').val(cardText)
        .css('fontFamily',fontFamily)
        //.css('fontSize',parseInt(fontSize)*1.3)
        .css('fontWeight',fontWeight)
        .css('fontStyle',fontStyle)
        .css('color',fontColor)
        .css('textAlign',textAlign);

        if(fontFamily.search('Brooklyn') != -1) {
             $('.cardTextAnimation').css('fontSize',parseInt(fontSize)*1.72 + 'px')
                .css('lineHeight','115%')
                .css('paddingTop', '5px');
        }
        if(fontFamily.search('Baskerville') != -1) {
             $('.cardTextAnimation').css('fontSize',parseInt(fontSize)*1.72 + 'px')
                .css('lineHeight','115%')
        }
        if(fontFamily.search('Savoye') != -1) {
             $('.cardTextAnimation').css('fontSize',parseInt(fontSize)*1.73 + 'px')
                .css('lineHeight','115%')
        }
        if(fontFamily.search('Myriad') != -1) {
             $('.cardTextAnimation').css('fontSize',parseInt(fontSize)*1.76 + 'px')
                .css('lineHeight','115%')
        }

        $('.cardTextAnimation:first').css('fontSize',autoResizeText($('.cardTextAnimation:last')));

        if (cardSize >= 2) {
            $('#booksPrintSize2').css('top','40px').css('left','67px').width('56%');
        }
        else {
            $('#booksPrintSize1').css('top','20px').css('left','30px').width('77%');
        }

        //cardBooks[0] = '_images/books/book_1.png';

        $('#textback_text').hide(500);
        $('#textback_back').hide(500);
        $( "#previewButton" ).hide(500);
        $( ".envelopeFrontSet" ).hide(500);

        $( "#previewDiv" ).animate({
            //marginTop:'+=310px',
            height: '700px'
        },1000,function(){  

            $('.envDiv').addClass('envDivAnim0');
            $('#cardDiv').addClass('envDivAnim0');
            animStep = 0;

            $( '#envelopeMessage' ).delay(2500).animate({
                opacity:'0.9'
            });

        });

        $( "#previewDiv" ).click(function(){ 
            if (animStep == 0) {

                $('#envelopeTopFrontAnimation').addClass('envelopeTopFrontAnimated1');
                $('#envelopeTopBackAnimation').addClass('envelopeTopBackAnimated1');

                $('#cardFrontDiv').addClass('cardFrontAnimated1');  
                $('#cardDiv').addClass('cardDivAnim1');

                animStep = 1;

                $( '#cardDiv' ).animate({
                    zIndex:'0'
                },2000,function(){ 
                    $(this).css('zIndex','1');
                });
            }


            else if (isOpeningCard) {

                if (animStep == 3) {

                    $('#cardOpenLeftAnimation').css('visibility', 'hidden');
                    $('#cardOpenRightAnimation').css('visibility', 'hidden');
                    $('#cardFrontDiv').css('visibility', 'visible');

                    $('.booksSet').addClass('cardBackAnimated3')
                    .removeClass('cardBackAnimated_close');
                    $('#cardOpenLeftAnimation').removeClass('cardOpenLeftAnimated_open');
                    $('#cardOpenRightAnimation').removeClass('cardOpenRightAnimated_close');
                    $('#cardFrontDiv').addClass('cardFrontAnimated3')
                    .removeClass('cardFrontAnimated_close');


                    $('#cardDiv').addClass('cardDivAnim3')
                    .removeClass('cardDivAnim_close');
                    animStep = 4;
                }
                else if (animStep == 2) {

                    $('#cardFrontDiv').css('visibility', 'hidden');

                    $('#cardOpenRightAnimation').addClass('cardOpenRightAnimated_close');
                    $('.cardTextAnimation').addClass('cardOpenRightAnimated_close');
                    $('.booksSet').addClass('cardBackAnimated_close')
                    .removeClass('cardBackAnimated_open');
                    $('#cardFrontDiv').removeClass('cardFrontAnimated_open');

                    $('#cardDiv').addClass('cardDivAnim_close')
                    .removeClass('cardDivAnim_open');
                    animStep = 3;
                }
                else if (animStep == 1 || animStep == 4) {

                    if (!booksLoaded) {
                        loadBooks('cardBackAnimation');
                        booksLoaded = true;
                    }
                    $('#cardOpenLeftAnimation').css('visibility', 'visible');
                    $('#cardOpenRightAnimation').css('visibility', 'visible');
                    $('.cardTextAnimation').css('visibility', 'visible');
                    //$('#cardFrontTopAnimation').css('zIndex', '1');

                    $('#cardOpenLeftAnimation').addClass('cardOpenLeftAnimated_open')
                    .removeClass('cardOpenLeftAnimated3');
                    $('.cardTextAnimation').removeClass('cardOpenRightAnimated_close');
                    $('.booksSet').removeClass('cardBackAnimated3');
                    $('#cardFrontDiv').addClass('cardFrontAnimated_open')
                    .removeClass('cardFrontAnimated3')
                    .removeClass('cardFrontAnimated1');

                    $('#cardDiv').addClass('cardDivAnim_open')
                    .removeClass('cardDivAnim3');
                    animStep = 2;
                }
            }
            else {

                if (animStep == 2) {

                    $('#cardFrontDiv').addClass('cardFrontAnimated3')
                    .removeClass('cardFrontAnimated2');
                    $('.booksSet').addClass('cardBackAnimated3')
                    .removeClass('cardBackAnimated2');

                    animStep = 3;
                }
                else if (animStep == 1 || animStep == 3) {

                    if (!booksLoaded) {
                        loadBooks('cardBackAnimation');
                        booksLoaded = true;
                    }

                    $('#cardFrontDiv').addClass('cardFrontAnimated2')
                    .removeClass('cardFrontAnimated3');
                    $('.booksSet').addClass('cardBackAnimated2')
                    .removeClass('cardBackAnimated3');

                    animStep = 2;
                }
            }
        });
    }


    function loadBooks(thisImage) {
        for (var i = 0; i < cardBooks.length; i++) {
            $("#booksPrintSize"+cardSize).append($("<img class='booksOnCard' src="+cardBooks[i]+"></img>"));
        }
        resizeBooks(cardBooks.length, thisImage);
    }

    function resizeBooks(numberOfBooks, thisImage){
        var w = $('#'+thisImage).width();
        var h = $('#'+thisImage).height();
        //alert(h);
        if (cardSize <= 1) {
            switch (numberOfBooks){
                case 1: 
                    $(".booksOnCard").width("50%");
                    $("#booksPrintSize1").css("paddingTop",h*0.093);//"5%");
                    //alert($("#booksPrintSize1").css("paddingTop"));
                    //alert(h);
                    break;
                case 2:
                    $(".booksOnCard").width("40%");
                    $("#booksPrintSize1").css("paddingTop",h*0.14);//"7.5%");
                    break;
                case 3:
                    $(".booksOnCard").width("30%");
                    $("#booksPrintSize1").css("paddingTop",h*0.233);//"12.5%");
                    break;
                case 4:
                case 5:
                case 6:
                    $(".booksOnCard").width("25%");
                    $("#booksPrintSize1").css("paddingTop",h*0.074);//"4%");
                    break;
                default: // 7 books
                    $(".booksOnCard").width("20%");
                    $("#booksPrintSize1").css("paddingTop",h*0.14);//"7.5%");
                    //$(".booksOnCard").width("31%");
                    //$("#booksPrint").css("paddingTop","12.5%");
                    break;
            }
        }
        else {
            switch (numberOfBooks){
                case 1: 
                    $(".booksOnCard").width("100%");
                    $("#booksPrintSize2").css("paddingTop",h/5.75);//"12.5%");
                    break;
                case 2:
                    $(".booksOnCard").width("60%");
                    $("#booksPrintSize2").css("paddingTop",h/9.58);//"7.5%");
                    break;
                case 3:
                case 4:
                    $(".booksOnCard").width("45%");
                    $("#booksPrintSize2").css("paddingTop",h/5.75);//"12.5%");
                    break;
                case 5:
                case 6:
                    $(".booksOnCard").width("45%");
                    $("#booksPrintSize2").css("paddingTop",h/12);//"6%");
                    break;
                default: // 7 books
                    $(".booksOnCard").width("35%");
                    $("#booksPrintSize2").css("paddingTop",h/20.54);//"3.5%");
                    //$(".booksOnCard").width("31%");
                    //$("#booksPrint").css("paddingTop","12.5%");
                    break;
            }
        }
    }


    function autoResizeText(thisText){
        while (thisText.prop('scrollHeight') > thisText.prop('clientHeight')) {
            thisText.css('font-size', '-=1');
        }     
        $( "#spinner" ).spinner( "value", parseInt(thisText.css('font-size')) );

        return thisText.css('font-size');
    }
});	
</script>