<?php 

$additionalOptions = Mage::registry('additional-options');
if(!empty($additionalOptions)) {
    $options = array('name', 'email', 'text', 'data','sendDate', 'isSent', 'associatedProducts');
    foreach($additionalOptions as $option) {
        
        switch ($option['label']) {
            case 'eCard Name':
                $options['name'] = $option['value'];
                break;
            case 'eCard Email':
                $options['email'] = $option['value'];
                break;
            case 'eCard Text':
                $options['text'] = $option['value'];
                break;
            case 'eCard Data':
                $options['data'] = $option['value'];
                break;
            case 'eCard Send Date':
                $options['sendDate'] = $option['value'];
                break;
            case 'eCard Is Sent':
                $options['isSent'] = $option['value'];
                break;
            case 'eCard Associated Products':
                $options['associatedProducts'] = $option['value'];
                break;
        }
        
    }
    echo "<script>" . $options['data'] . "\ncardText='". str_replace("'", "singlequote", str_replace("\n", "endline", $options['text'])) ."';\n" . 'cardText = cardText.replace(/endline/g, "\n").replace(/singlequote/g, "\'");'. "\nvar editCard = true;\n" .'</script>';
}
$action = Mage::app()->getFrontController()->getAction();
$actionName = $this->getRequest()->getActionName();

$itemId = $action->getRequest()->getParam('id');
if($actionName == "configure" && $itemId && is_numeric($itemId)){
    echo "<script>var itemId=$itemId;</script>";
}
?>

<div class="ecard-selection">
   
    <a id='cardAppExit' href=''></a>

    <!-- app div, keep this id -->
    <!-- put into that div everything that need to disappear once the app starts -->
    <div id="cardAppDiv">
    <div><img id ="featured-banner" src="<?php echo $this->getSkinUrl('images/ecard/featured-banner.jpg'); ?>"/></div>
        <!-- for instance you can create a panel with filters -->
        <!-- <div id="filtersDiv"><p>Cards filters</p></div> -->

        <!-- You can use the structure you want do display the cards -->
        <!-- only the img components are mandatory, keep this class and this kind of src as it is used to start the app -->
        <div id="cards-selection">
            <h2>Birthday</h2>
            <ul>
                <li><!---->
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_3.png" alt="card3 size2">
                </li>
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_32.png" alt="card32 size2">
                </li>
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_28.png" alt="card28 size2">
                </li>
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_12.png" alt="card12 size2">
                </li>
<!--                <li>
                    <img class="cardImage" src="<?php echo $this->getSkinUrl('images/ecard//_images/cards_preview/size_2_card_3.png'); ?>" alt="card3 size2">
                </li>-->
            </ul>
            <h2>For That Someone Special</h2>
            <ul>
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_20.png" alt="card20 size2">
                </li>
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_11.png" alt="card11 size2">
                </li>
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_35.png" alt="card35 size2">
                </li>
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_39.png" alt="card39 size2">
                </li>
            </ul>
            <h2>Thank You</h2>
            <ul> 
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_16.png" alt="card16 size2">
                </li>
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_2.png" alt="card2 size2">
                </li>
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_33.png" alt="card33 size2">
                </li>
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_36.png" alt="card36 size2">
                </li>
            </ul>
            <h2>Wishing You Well</h2>
            <ul> 
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_24.png" alt="card24 size2">
                </li>
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_6.png" alt="card6 size2">
                </li>
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_18.png" alt="card18 size2">
                </li>
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_19.png" alt="card19 size2">
                </li>
            </ul>
            <h2>Wedding</h2>
            <ul> 
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_25.png" alt="card25 size2">
                </li>
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_13.png" alt="card13 size2">
                </li>
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_29.png" alt="card29 size2">
                </li>
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_23.png" alt="card23 size2">
                </li>
            </ul>
            <h2>Holiday</h2>
            <ul> 
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_44.png" alt="card44 size2">
                </li>
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_31.png" alt="card31 size2">
                </li>
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_41.png" alt="card41 size2">
                </li>
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_42.png" alt="card42 size2">
                </li>
                
                <li class="not-first-row">
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_38.png" alt="card38 size2">
                </li>
                <li class="not-first-row">
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_22.png" alt="card22 size2">
                </li>
                <li class="not-first-row">
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_45.png" alt="card45 size2">
                </li>
                <li class="not-first-row">
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_43.png" alt="card43 size2">
                </li>
                
                <li class="not-first-row">
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_46.png" alt="card46 size2">
                </li>
                <li class="not-first-row">
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_47.png" alt="card47 size2">
                </li>
                <li class="not-first-row">
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_21.png" alt="card21 size2">
                </li>
                <li class="not-first-row">
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_48.png" alt="card48 size2">
                </li>
            </ul>
            <h2>For The Cook</h2>
            <ul> 
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_40.png" alt="card40 size2">
                </li>
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_27.png" alt="card27 size2">
                </li>
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_26.png" alt="card26 size2">
                </li>
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_37.png" alt="card37 size2">
                </li>
            </ul>
            <h2>Mom <span>and</span> Mom-To-Be</h2>
            <ul> 
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_30.png" alt="card30 size2">
                </li>
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_34.png" alt="card34 size2">
                </li>
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_14.png" alt="card14 size2">
                </li>
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_15.png" alt="card15 size2">
                </li>
            </ul>
            <h2>Blank</h2>
            <ul>
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_1.png" alt="card1 size2">
                </li>
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_4.png" alt="card4 size2">
                </li>
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_5.png" alt="card5 size2">
                </li>
                <li>
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_7.png" alt="card7 size2">
                </li>
                
                <li class="not-first-row">
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_10.png" alt="card10 size2">
                </li>
                <li class="not-first-row">
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_9.png" alt="card9 size2">
                </li>
                <li class="not-first-row">
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_8.png" alt="card8 size2">
                </li>
                <li class="not-first-row">
                    <img class="cardImage" src="/_images/cards_preview/size_2_card_17.png" alt="card17 size2">
                </li>
            </ul>
        </div>
    </div>
</div>