<?php $qty = $this->getItemQty(); ?>
<?php $ecardsCount = $this->getEcardsCount(); ?>
<div>
    <div class="ecard-recipients">
        <table  class="data-table">
            <thead>
            <tr>
                <th><?php echo $this->__('Name'); ?></th>
                <th><?php echo $this->__('Email'); ?></th>
                <th><?php echo $this->__('Phone Number'); ?></th>
                <th><?php echo $this->__('Send Date'); ?></th>
            </tr>
            </thead>
            <tbody>
            <?php $method = $this->getMethod(); ?>
            <?php if (!empty($method)) : ?>
                <tr>
                    <td colspan="3"><?php echo $this->__('%s recipient will be uploaded from CSV or XLS file', $qty); ?></td>
                </tr>
            <?php else : ?>
                <?php $count = 1; ?>
                <?php foreach ($this->getRecipients() as $_recipient) : ?>
                    <tr>
                        <td><?php echo $_recipient->getName(); ?></td>
                        <td><?php echo $_recipient->getEmail(); ?></td>
                        <td><?php echo $_recipient->getPhone(); ?></td>
                        <td><?php echo $_recipient->getDate(); ?></td>
                    </tr>
                    <?php $count++; ?>
                <?php endforeach; ?>
            <?php endif; ?>
            </tbody>
        </table>
    </div>

    <?php if (Mage::helper('base')->checkIsBuySingle()) : ?>
        <div>
            <button type="button" id="add_ecard_to_cart" onclick="addCardToCart('ecard-gifts'); return false;" class="button add-to-cart-card">
                <div id="add_card_to_cart_button" class="processing_button"><?php echo $this->__('ADD TO CART') ?></div>
            </button>
        </div>
    <?php else : ?>
        <input type="submit" name="submit" value="<?php echo $this->__('Send eCard'); ?>" class="add-to-cart-card" onclick="return validate();"/>
    <?php endif; ?>
    <input id="baseurl" type="hidden" value="<?php echo Mage::getUrl(Mage::getSingleton('core/session')->getCardType() . '/index/addtocart/'); ?>"/>
</div>

<script type="text/javascript">

    function addCardToCart(formId)
    {
        var baseUrl = jQuery('#baseurl').val();
        ecardForm   = new VarienForm(formId, true);
        var urlAddToCart = baseUrl;
        if (validate()) {
            new Ajax.Updater(
                { success:'formSuccess' },
                urlAddToCart,
                {
                    method:       'post',
                    asynchronous: true,
                    evalScripts:  false,
                    onLoading:function(request, json){
                    },
                    onComplete:function(request, json) {
                    },
                    onSuccess :function(request, json) {
                        window.location.assign('<?php echo Mage::getUrl('checkout/cart')?>');
                    },
                    onFailure  : function(request, json) {
                    },
                    parameters :
                        $(formId).serialize(true),
                }
            );
        }
        return false;
    }

    function validate() {
        var tabs = jQuery('#ecard-tabs').tabs();
        var recipientsTab = 2;
        if (jQuery('#cardText').val() == '') {
            tabs.tabs('enable', 1).tabs('select', 1);
            tabs.tabs('select', 1);
            if (1 == (tabs.tabs("length") - 1)) {
                jQuery("#btnNext").hide();
            } else {
                jQuery("#btnNext").show();
            }
            jQuery('#cardText').addClass('validate-error');
            return false;
        }

        if (jQuery('#input-manually').is(':checked')) {
            var error = 0;
            jQuery.each(jQuery('.name-recipient'), function() {
                if (jQuery(this).val() == '') {
                    jQuery(this).addClass('validate-error');
                    jQuery(this).next().next().addClass('active');
                    error++;
                }
                jQuery(this).on('keyup', function() {
                    jQuery(this).removeClass('validate-error');

                    jQuery(this).next().next().removeClass('active');
                });
            });
            jQuery.each(jQuery('.email-recipient'), function() {
                if (jQuery(this).val() == '') {
                    jQuery(this).addClass('validate-error');

                    jQuery(this).next().addClass('active');
                    error++;
                }
                jQuery(this).on('keyup', function() {
                    jQuery(this).removeClass('validate-error');
                    jQuery(this).next().removeClass('active');
                });
            });
            if (error > 0) {
                tabs.tabs('enable', recipientsTab).tabs('select', recipientsTab);
                tabs.tabs('select', recipientsTab);
                if (recipientsTab == (tabs.tabs("length") - 1)) {
                    jQuery("#btnNext").hide();
                } else {
                    jQuery("#btnNext").show();
                }
                return false;
            }
        } else {
            var diff = jQuery('#ecard_qty').val() - jQuery('#ecard_count').val();
            if (diff > 0) {
                tabs.tabs('enable', recipientsTab).tabs('select', recipientsTab);
                tabs.tabs('select', recipientsTab);
                if (recipientsTab == (tabs.tabs("length") - 1)) {
                    jQuery("#btnNext").hide();
                } else {
                    jQuery("#btnNext").show();
                }
                jQuery('#ecard-file').addClass('validate-error');
                alert('<?php echo $this->__('Please upload a valid CSV file'); ?>');
                return false;
            }
            if (jQuery('#ecard-file').prop('files')[0] == null) {
                tabs.tabs('enable', recipientsTab).tabs('select', recipientsTab);
                tabs.tabs('select', recipientsTab);
                if (3 == (tabs.tabs("length") - 1)) {
                    jQuery("#btnNext").hide();
                } else {
                    jQuery("#btnNext").show();
                }
                jQuery('#ecard-file').addClass('validate-error');
                return false;
            } else {
                var count = '<?php echo $qty; ?>';
                if (count == '0') {
                    tabs.tabs('enable', recipientsTab).tabs('select', recipientsTab);
                    tabs.tabs('select', recipientsTab);
                    if (recipientsTab == (tabs.tabs("length") - 1)) {
                        jQuery("#btnNext").hide();
                    } else {
                        jQuery("#btnNext").show();
                    }
                    jQuery('#ecard-file').addClass('validate-error');
                    alert('<?php echo $this->__('Please upload a valid CSV file'); ?>');
                    return false;
                }
            }
        }

        return true;
    }
    //]]>
</script>
