<?php Mage::getSingleton('core/session')->unsIsSingle(); ?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $_evites = $this->getOrders(); ?>
<div class="page-title">
    <h1><?php echo $this->__('My eVites') ?></h1>
</div>
<div class="ecards-tab">
    <div class="tab evites-new active"><?php echo $this->__('Available eVites') ?></div>
    <div class="tab evites-sent"><a href="<?php echo Mage::getUrl('evites/customer/sent'); ?>"><?php echo $this->__('Sent eVites') ?></a></div>
    <div class="tab my-events"><a href="<?php echo Mage::getUrl('evites/customer/events'); ?>"><?php echo $this->__('Event Responses') ?></a></div>
</div>
<div class="account-tab-section">
    <?php echo $this->getPagerHtml(); ?>
    <?php if($_evites->getSize()): ?>
        <table class="data-table" id="my-evites-table">
            <col />
            <col width="1"/>
            <col width="1" />

            <thead>
            <tr>
                <th><?php echo $this->__('eVites') ?></th>
                <th><?php echo $this->__('Number of eVites') ?></th>
                <th class="action-order">&nbsp;</th>
            </tr>
            </thead>

            <tbody>
            <?php foreach ($_evites as $_evite): ?>
                <?php $product = $this->getProduct($_evite->getEcardId()); ?>
                <tr>
                    <td class="ecard-id">
                        <img src="<?php echo $this->helper('catalog/image')->init($product, 'thumbnail')->resize(75, null); ?>" width="75" height="75" alt="<?php echo $this->escapeHtml($product->getName()) ?>" />
                        <h3 class="product-name"><?php echo $this->escapeHtml($product->getName()) ?></h3>
                    </td>
                    <td class="ecards-count">
                        <?php echo $_evite->getCount(); ?>
                    </td>
                    <td class="action-order">
                <span class="nobr">
                    <a href="<?php echo Mage::getUrl('evites/index/index', array('id' => $_evite->getEcardId())); ?>"><?php echo $this->__('Send eVite') ?></a>
                </span>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>

        <script type="text/javascript">decorateTable('my-evites-table');</script>
        <?php echo $this->getPagerHtml(); ?>
    <?php else: ?>
        <p><?php echo $this->__('You don\'t have any eVites'); ?></p>
    <?php endif ?>
</div>