<?php Mage::getSingleton('core/session')->unsIsSingle(); ?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $_evites = $this->getOrders(); ?>
<div class="page-title">
    <h1><?php echo $this->__('My eVites') ?></h1>
</div>
<div class="ecards-tab">
    <div class="tab evites-new"><a href="<?php echo Mage::getUrl('evites/customer/index'); ?>"><?php echo $this->__('Available eVites') ?></a></div>
    <div class="tab evites-sent active"><?php echo $this->__('Sent eVites') ?></div>
    <div class="tab my-events"><a href="<?php echo Mage::getUrl('evites/customer/events'); ?>"><?php echo $this->__('Event Responses') ?></a></div>
</div>
<div class="account-tab-section">
    <?php echo $this->getPagerHtml(); ?>
    <?php if($_evites->getSize()): ?>
        <table class="data-table responses-event" id="my-evites-table">
            <col />
            <col />
            <col width="1"/>
            <col width="1" />
            <col width="1" />
            <col width="1" />
            <col width="1" />
            <col width="1" />

            <thead>
            <tr>
                <th><?php echo $this->__('eVite') ?></th>
                <th><?php echo $this->__('Recipient') ?></th>
                <th><?php echo $this->__('Sent date') ?></th>
                <th><?php echo $this->__('Reply') ?></th>
                <th><?php echo $this->__('Reply date') ?></th>
                <th class="action-order">&nbsp;</th>
            </tr>
            </thead>

            <tbody>
            <?php foreach ($_evites as $_evite): ?>
                <?php $product = $this->getProduct($_evite->getEcardId()); ?>
                <tr>
                    <td class="evite-id">
                        <img src="<?php echo $this->helper('catalog/image')->init($product, 'thumbnail')->resize(75, null); ?>" width="75" height="75" alt="<?php echo $this->escapeHtml($product->getName()) ?>" />
                        <h3 class="product-name"><?php echo $this->escapeHtml($product->getName()) ?></h3>
						<div class="event-title"><h4><?php echo $this->__('Event') ?>:</h4> <?php $message = json_decode($_evite->getMessage(), true); ?>
						<span><?php echo $message['title']; ?></span></div>
                    </td>
                    <td class="evite-event">
						<p><?php echo $_evite->getToName(); ?></p>
						<p><?php echo $_evite->getToEmail(); ?></p>
                    </td>
                    <td class="evite-send-date">
                        <span class="table-label"><?php echo $this->__('Sent date:') ?></span><?php echo $this->formatDate($_evite->getSendAt()); ?>
                    </td>
                    <td class="evite-is-reply">
						<span class="table-label"><?php echo $this->__('Reply:') ?></span><?php echo ($_evite->getIsReply() == 1) ? 'Yes' : 'No' ; ?>
                    </td>
                    <td class="evite-reply-date">
						<span class="table-label"><?php echo $this->__('Reply date:') ?></span><?php if($_evite->getReplyAt()) echo $this->formatDate($_evite->getReplyAt()); ?>
                    </td>
                    <td class="action-order">
                        <span class="nobr">
                            <a href="<?php echo $_evite->getToken() . 'view/read/'; ?>"><?php echo $this->__('Preview') ?></a>
                        </span>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
        <script type="text/javascript">decorateTable('my-evites-table');</script>
        <?php echo $this->getPagerHtml(); ?>
    <?php else: ?>
        <p><?php echo $this->__('You don\'t have any eVites'); ?></p>
    <?php endif ?>
</div>