<?php $_ecard = $this->getEcard(); ?>
<img src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'card_back')->resize(408,583); ?>" title="<?php echo $_ecard->getName(); ?>" />
<?php $_gifts = $this->getGifts(); ?>
<?php if (!is_null($_gifts) && count($_gifts)) : ?>
    <div id="booksPrintSize2" class="add-gift-block">
        <ul>
        <?php foreach ($_gifts as $_gift) : ?>
            <li>
                <img src="<?php echo Mage::helper('catalog/image')->init($_gift, 'thumbnail')->resize(268, null); ?>" title="<?php echo $_gift->getName(); ?>" alt="Gift"/>
            </li>
        <?php endforeach; ?>
        </ul>
    </div>
<?php endif; ?>
