<?php
/**
 * Add/redeem Gift Voucher template
 */
?>
<div class="page-title">
    <h1><?php echo $this->__('Gift card') ?></h1>
</div>

<form id="addredeem-giftvoucher-code" method="post" action="<?php echo $this->getFormActionUrl() ?>">
    <div class="fieldset">
        <h2 class="legend"><?php echo $this->__('Add/Redeem a Gift Card') ?></h2>
        <ul class="form-list">
            <li class="fields">
                <div class="giftvoucher-code">
                    <div class="field">
                        <label for="giftvouchercode" class="required"><em>*</em><?php echo $this->__('Enter Gift Card Code') ?></label>
                        <div class="input-box">
                            <input style="width: 200%;"id="gift-voucher-code" name="giftvouchercode" value="" title="<?php echo $this->__('Enter Gift Card Code') ?>" class="input-text required-entry" type="text">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="buttons-set">
        <p class="required"><em> * </em><?php echo $this->__('Required Fields') ?></p>
        <p class="back-link"><a href="<?php echo $this->getUrl('giftvoucher/index/index') ?>"><small>« </small><?php echo $this->__('Back') ?></a></p>
		<!--edit by  Sally-->
		<div class="button-add-list">
	   <?php if (Mage::helper('giftvoucher')->getGeneralConfig('enablecredit')) { ?>
            <button type="button" onclick="redeemgiftcard()" title="<?php echo $this->__('Redeem Gift Card') ?>" class="button"><span><span><?php echo $this->__('Redeem Gift Card') ?></span></span></button>
        <?php } ?>
        <button type="submit" title="<?php echo $this->__('Add To Your List') ?>" class="button"><span><span><?php echo $this->__('Add To Your List') ?></span></span></button>
		</div>
		<!--end by Sally--->
	</div>
</form>

<script type="text/javascript">
    //<![CDATA[
    var dataForm = new VarienForm('addredeem-giftvoucher-code', true);
    function redeemgiftcard(){
        var clForm = new VarienForm('addredeem-giftvoucher-code', true);
        if (clForm.validator.validate() == false) {
            return false;
        }
        setLocation('<?php echo $this->getUrl("giftvoucher/index/redeem") ?>'+'giftvouchercode/'+ $('gift-voucher-code').value);
    }
    //]]>
</script>