@charset "utf-8";
/*@import url("_fonts/cac_champagne/stylesheet.css");*/
/*@import url("_fonts/tempus/stylesheet.css");*/
/*@import url("_fonts/savoye/stylesheet.css");*/
/*@import url("_fonts/myriad/stylesheet.css");*/
/*@import url("_fonts/baskerville/stylesheet.css");*/
/*@import url("_fonts/palatino/palatino.css");*/
/*@import url("_fonts/somebody/stylesheet.css");*/
/*! SCEditor | (C) 2011-2013, Sam Clarke | sceditor.com/license */body,code:before,html,p,table{margin:0;padding:0;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:13px;color:#111}html{height:100%;overflow:auto;-webkit-overflow-scrolling:touch}body{position:relative;overflow:auto;min-height:100%;word-wrap:break-word}ol,ul{margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0}table,td{border:1px dotted #000;empty-cells:show}code:before{position:absolute;content:'Code:';top:-1.35em;left:0}code{margin-top:1.5em;position:relative;background:#eee;border:1px solid #aaa;white-space:pre;padding:.25em}
.ecards-second {
	overflow: hidden;
}
.download-items{
	text-align: center;
	margin: 0 0 25px;
}
.download-items li {
    display: inline-block;
    margin-right: 43px;
	text-align: left;
	min-height: 119px;
}
.download-items li:last-child {
    margin-right: 0px;
}
.download-items li img,
.egifts-view-downloads  ul li img{
	max-width: 250px;
	max-height: 250px;
    margin: 0 0 15px;
    border: 2px solid #C8DBD9;
    padding: 10px;
    box-shadow: inset 0 0 11px rgba(0,0,0,0.05);
}
.egifts-view-downloads ul{
	width: 700px;
	margin: 0 auto;
	text-align: center;
}
.egifts-view-downloads #booksPrintSize2 a{
	display: block;
	font-size: 15px;
	color: #ec008c;
	padding: 0 20px;
}
.egifts-view-downloads #booksPrintSize2{
    width: 74%;
}
.download-items li p {
    max-width: 230px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 10px;
    color: #323232;
    padding: 20px 20px 0  20px;
	min-height: 120px;
}
.download-items li a {
    display:block;
    max-width: 230px;
    margin-bottom: 10px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 15px;
    color: #ec008c;
    padding: 0 20px;
}

.download-items li span {
    display: block;
    max-width: 230px;
    /* margin-bottom: 10px; */
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 12px;
    color: #6f6f6f;
    padding: 0 20px;
}
.ecard-index-downloadgift .page-title h1,
.egifts-view-downloads .page-title h1{
    text-align:center;
	text-indent: -9999px;
}
.ecard-index-downloadgift .container,.egifts-view-downloads .container{
 	width: 745px !important;
    margin-top: 40px !important;
}
.ecard-index-downloadgift .header-container,
.egifts-view-downloads .header-container {
	padding-top: 60px;
}
.other-gifts {
    text-align:center;
    margin-top: 25px;
}

.ecard-index-displaycard .main,
.egifts-view-index .main,
.ecards-view-index .main,
.evites-view-index  .main
{
    margin-top: 90px;
}

.ecard-index-displaycard #previewButton {
    padding: 4px;
}

.ecard-selection {
    text-align:center;
}

#featured-banner ,.top-image-block img{
    width: 100%;
	max-width: 100%;
}

.ecard-selection div#cards-selection {
    margin: 14px auto 0 auto;
    clear:both;
     width:100%;
    max-width: 1313px;
}
.ecard-selection li img {
    width:100%;
    max-width:257px;

    border:1px solid #cadddb;
    border-top:0px;

}
.ecard-selection li.not-first-row img {
    border-top:1px solid #cadddb;
}
.ecard-selection li img:nth-child(4n) {
    padding-right:0%;
}
.ecard-selection ul {

}
.ecard-selection li {
    float:left;
    display:block;
    margin-bottom:4%;
    margin-right:4%;
    width:22%
}

.ecard-selection li:nth-child(4n) {
    margin-right:0px;
}

.ecard-selection h2 {
    background-color: #c8dbd9;
    text-transform: uppercase;
    color: #FFF;
    font-size: 36px !important;
    padding: 15px 20px 15px;
    clear:both;
    text-align: center;
    margin: 0 auto;
}

.ecard-selection h2 span {
    text-transform: lowercase;
}

/* ----- USED IN THE APP, DO NOT MODIFY ----- */
/* --- GLOBAL --- */
.cardAppDivWithStyle,
.egifts-view-index #contentDiv,
.ecards-view-index #contentDiv,
.evites-view-index #evetiContentDiv
{
    width:100%;
    max-width:1000px;
    margin:5px auto;
    overflow: hidden;

    border-style:solid;
    border-width:2px;
    border-color: #c8dbd9;
    border-radius:4px;
    text-align:center;
}
.egifts-view-index #contentDiv,
.ecards-view-index #contentDiv
{
	max-width: inherit;
}
#contentDiv {
    float: left;
    width: 100%;
    background-size:auto;
    overflow: hidden;

}
.cardImage,.openingChoice,#nextButton,#backButton,#textback_text,
#textback_back,#previewDiv, #returnButton, .ecards-view-index .cardBackAnimated_close {
	cursor:pointer;
}

#ecard-bar {
	float:left;
	width: 100%;
	height: 30px;
	background-color: #c8dbd9;
	float:left;
}
#topbar {
    width: 100%;
    margin:0 auto;
    float:left;
}
#textback_text {
    margin-left:10%;
    float:left;
    width: 7.8%;
}
#textback_back {
    float:left;
    width: 7.8%;
}
#secondTopBar {
    width:100%;
    float:left;
}
#ecard-bar #backButton {
    float:right;
	margin-right: 50px;
    height: 30px;
    width: 75px;
    text-align: center;
    background-color: #8fa5c6;
    color: #ffffff;
    line-height: 31px;
}
#ecard-bar #returnButton {
	margin-right: 500px;
    float:right;
    width: 230px;
	border:1px solid #0000FF;
}
#ecard-bar #returnButtonLink {
    float:right;
    height: 30px;
    width: 230px;
    text-align: center;
    background-color: #8fa5c6;
    color: #ffffff;
    line-height: 31px;
	margin-right: 500px;
	z-index: 100;
}
#ecard-bar #nextButton {
    float:right;
    height: 30px;
    width: 75px;
    text-align: center;
    background-color: #8fa5c6;
    color: #ffffff;
    line-height: 31px;
	margin-right: 5%;

}
/* --- STEP 1 & 2 --- */
#textTools {
    width:100%;
    max-width:542px;
    margin-top: 2%;
    font-size: 13px;
    float: left;
	margin-left: 31px;
/*    visibility: hidden;*/
}
.tools-gift-block{
    float: left;
    width: 60%;
}
#spinner {
    width: 22px;
    height: 22px;
    outline: none;
}
#colorDiv {
    margin: 0px 10px;
}
#format,#align,#spinnerDiv,#colorDiv,#fit {
    float: left;
}
#format {
    margin-left: 2px;
}
.align {
    float:left;
/*    margin:-1px -7px 4px -8px; */
    margin-bottom:2px;
}
#fit {
    outline: none;
    margin: 0;
    padding: 0;
}

#fontsDiv{
	width: 37%;
	max-width: 328px;
	margin: 2% 29px 0 2%;
	float: right;
}
.somediv {
position: relative;
	z-index: 999;
    border-style: solid;
    border-width: 2px;
    border-color: #c8dbd9;
    border-radius: 4px;
    background-color: #FFF;
    overflow: hidden;
    border-top-width: 20px;
    border-top-color: #e4e5e6;
	margin: 0 0 0 2%;
    float: left;
	margin: 0 0 30px;
/*    visibility: hidden;*/
}

.fonts {
    float: left;
    width: 42%;
    max-width: 150px;
    font-family: 'cac champagne', 'times new roman', serif;
    font-size: 18px;
    text-align: center;
    padding: 10px 4%;
    margin: 2% 3%;
	border-style:hidden;
	border-width:1px;
	border-color:rgba(60,60,60,0.5);
	border-radius:4px;
    line-height: 29px;
}
.fontsOriginal {
    background-color: rgba(170, 170, 170, 0);
	border: 2px solid #fff;
}
.fontsHovered {
	border: 2px solid #8fa5c6;
	color: #4a72ae;
}
.fontsClicked {
   border: 2px solid #8fa5c6;
	border-radius: 4px;
	color: #4a72ae;
}
.fontsClickedHovered {
	border: 2px solid #8fa5c6;
	color: #4a72ae;
}
#Myriad {
    font-family: 'Myriad', Georgia, sans-serif;
    font-size:  18px;
}
#Tempus {
    font-family: 'Tempus', Georgia, sans-serif;
    font-size:  18px;
}
#Baskerville {
    font-family: 'Baskerville', 'Times New Roman', serif;
    font-size:  18px;
}
#Savoye {
    font-family: 'Savoye', 'Times New Roman', serif;
    font-size:  24px;
}
#Somebody {
    font-family: 'Somebody', 'Times New Roman', serif;
    font-size:  24px;
}

#cardTextDiv {
    float:left;
    width:65%;
/*    width: 600px;*/
    position:relative;
    /*margin: 11% 0 2% 34%;*/
    margin-bottom: 2%;
    z-index: 0;
}
.product-ecard #cardTextDiv{
	width: 95%;
	margin: 0% 0 3% 4%;
}
.product-ecard #cardTextDiv.open-crt-holder{
	margin: -179px 0 3% 4%;
}
#cardTextDiv.single-crt-holder{
	width: 77%;
	margin: -33px auto 4% 19%;
}
#cardTextDiv.single-crt-holder.evites{
	/*margin: 0 auto 4% 19%;*/
}
.cardOpenSize1 {
    margin: 25% 0% 25% 0%;
    width:45%;
}
.world-count{
	font-size: 14px;
	text-align: left;
	margin-left: -61px;
	color: #4a72ae;
	font-family: 'panatino', 'times new roman', serif;
}
.cardOpenSize2 {
    margin: 20% 0% 0% 0%;
    width:40%;
}
#ecards-second .cardOpenSize2{
	margin: 20% 0% 0% -5px;
}
.cardFront {
    float: right;
    position:relative;
    margin: 20% 15% 1% 0%;
    width:75%;
}
.cardFrontTop {
    float: right;
    position:relative;
    margin: 5% 15% 0% 0%;
    width:50%;
}
.cardFrontBottom {
    float: right;
    position:relative;
    margin: 0% 15% 5% 0%;
    width:50%;
}
/*
#cardText {
    font-family: 'times new roman', serif;
	border-style:none;
    position: absolute;
    resize: none;
    font-weight: bold;
    font-style:normal;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    line-height: 120%;
}
*/
.cardTextSize1NonOpening {
    top: 49%;
    left: 20%;
    width: 56%;
    height: 44%;
}
.cardTextSize1Opening {
    top: 32%;
    left: 52%;
    width: 40%;
    height: 34%;
}
.cardTextSize2NonOpening {
    top: 17%;
    left: 39%;
    width: 39%;
    height: 72%;
}
#evite-front-side.eviteTextSize2NonOpening{
	position: absolute;
	top: 92px;
	right: 148px;
	width: 310px;
	height: 75%;
}
#evite-front-side.eviteInsideSize2Opening{
	position: absolute;
	top: 222px;
	right: 148px;
	width: 310px;
}
.eviteInsideSize2NonOpening {
    height: 68%;
    left: 39%;
    top: 17%;
    width: 38%;
    text-align: left;
    margin: 2%;
}
#evite-inside-block p {
    margin-top: 30px;
    text-align: left;
}
#evite-inside-block label {
    margin: 0;
    font-size: 14px;
    vertical-align: bottom;
    font-weight: normal;
}
#evite-inside-block #evite-name {
    border-bottom: 1px solid #000;
    width: 81%;
}
#evite-inside-block #evite-date, #evite-inside-block #evite-time {
    width: 83%;
    border-bottom: 1px solid #000;
}
#evite-inside-block #evite-place {
    width: 81%;
    border-bottom: 1px solid #000;
}
#evite-inside-block #evite-comments {
    border-bottom: 1px solid #000;
    width: 98%;
    padding: 0;
    height: 30%;
    resize: none;
    overflow: hidden;
    left: 40px;
}
#evite-inside-block p.headVite {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}
.eviteInsideSize2Opening {
    margin: 2%;
    height: 58%;
    top: 32%;
    left: 52%;
}
#evite-inside-block {
    position: absolute;
}
#evite-name, #evite-title, #evite-date, #evite-time, #evite-place, #evite-hosted, #evite-note {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}
.cardTextSize2Opening{
    top: 234px;
    left: 52%;
    width: 31%;
    height: 62%;
}

#align .ui-state-active img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

#envelopeClosed {
    position: absolute;
    top: 3%;
    left: 5%;
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
    width: 55%;
    z-index: 0;
}

#envelopeAndCard {
    position: relative;
    width: 100%;
    height: 250px;
    margin: 0 0 0 20%;
}

#envelopeBack {
/*    width: 50%;
    position:absolute;
    -ms-transform: rotate(-15deg);  IE 9
    -webkit-transform: rotate(-15deg);  Chrome, Safari, Opera
    transform: rotate(-15deg);
    bottom: 19%;
    right: 35%;*/

    position: relative;
    margin-top: -1.5%;
    width: 100%;
    display: block;
}

#envelopeImgTop {
/*    width: 50%;
    position: absolute;
    -ms-transform: rotate(-15deg);  IE 9
    -webkit-transform: rotate(-15deg);  Chrome, Safari, Opera
    transform: rotate(-15deg);
    z-index: 1;
    bottom: 51%;
    right: 43.2%;*/
    position: relative;
    width: 100%;
    display: block;
}

#cardFrontTop {
    position: relative;
    width: 37%;
    /* top: 142px; */
    /* right: 22%; */
    float: left;
    margin: 15% 0 0 35%;
}

#cardFrontBottom {
    position: relative;
    float: left;
    width: 37%;
    clear:both;
    margin: 0px 0 15% 35%;
    /* top: 329px; */
    /* right: 22%; */
}

#previewButton.editButton {
    position: absolute;
    -ms-transform: rotate(-15deg); /* IE 9 */
    -webkit-transform: rotate(-15deg); /* Chrome, Safari, Opera */
    transform: rotate(-15deg);
    margin: 20% 0% 0 -2%;
}
/* --- STEP 3 --- */
#booksListDiv {
    width: 43%;
    margin-left: 1%;
    padding-top: 1%;
    float: left;
    text-align: center;

}
#booksList {
    width: 100%;
    max-width: 180px;
    height: 350px;
    /* max-height: 350px; */
    border-style: solid;
    border-width: 2px;
    border-color: #c8dbd9;
    border-radius: 4px;
    background-color: #FFF;
    border-top-width: 20px;
    margin: 0 auto 0;
    padding-top: 3%;
    overflow-y: scroll;
    border-top-color: #c8dbd9;

}
.booksList-description{
	margin-top:10% ;
	font-family: 'Litos';
	font-size: 25px;
	line-height: 34px;
	text-align: center;
	color: #ec008c;
}
.books {
    width: 90%;
    max-width: 120px;
    padding: 5%;
}
.booksOriginal {
    background-color: rgba(170,170,170,0);
}
.booksHovered {
    background-color: rgba(170,170,170,0.2);
}
.booksClicked {
    background-color: rgba(170,170,170,0.6);
}
.booksClickedHovered {
    background-color: rgba(170,170,170,0.8);
}
#booksInstruction {
    border-radius: 4px;
    background-color: #FFF;
    color: #ec008c;
    margin-top: 13px;
    border-color: #c8dbd9;
    border-width: 2px;
    display: block;
    border-style: solid;
    padding: 3px;
	font-family: 'Litos';
	font-size: 21px;
	line-height: 28px;
	text-align: center;
}
.evite-name input,
.evite-date input,
.evite-time input,
.evite-place textarea,
.evite-note textarea{
	font:42px/46px 'Litos',Georgia, sans-serif ;
	color: #000;
	padding: 2px;
	letter-spacing: 1px;
	width: 100%;
	text-align: center;
	background: transparent;
	border: none;
}
.evite-place textarea,
.evite-note textarea,
.evite-hosted textarea{
	text-align: center;
	overflow: hidden;
	background: transparent;
	border: none;
}
.evite-date input,
.evite-time input,
.evite-place textarea{
	font:29px/35px 'Litos',Georgia, sans-serif;
}
.evite-place textarea,
.evite-hosted textarea{
	max-height: 79px;
}
.evite-note textarea{
	font:28px/37px 'Litos',Georgia, sans-serif;
}
.evite-own textarea{
    /*max-height: 400px;*/
    height: 440px;
}
#evite-front-side div{
	margin: 0 0 9px;
}
#evite-front-side.eviteInsideSize2Opening div{
	margin: 0 0 5px;
}
#evite-front-side.eviteTextSize2NonOpening.back-card,
#evite-front-side.eviteInsideSize2Opening.back-card,
#booksPrintSize2.back-card{
	font: 28px/34px 'Litos',Georgia, sans-serif;
	color: #000;
	padding: 2px;
	letter-spacing: 1px;
	text-align: center;
	top: 96px;
	right: 158px;
	width: 320px;
}
#booksPrintSize2.back-card{
	right: 29px;
	left: auto;
}
#evite-front-side.eviteInsideSize2Opening.back-card{
	right: 293px;
	left: auto;
}
#evite-front-side.eviteInsideSize2Opening.back-card.openingChoice{
	cursor: default;
}
#cardTextDiv.single-crt-holder.evite .cardOpenSize2{
	margin: 7% 0% 0% 17%;
	 width: 50%;
}
#evite-front-side.eviteTextSize2NonOpening.back-card .evite-rsvp,
#evite-front-side.eviteInsideSize2Opening.back-card .evite-rsvp,
#booksPrintSize2.back-card  .evite-rsvp{
	font: 42px/46px 'Litos',Georgia, sans-serif;
	margin: 0 0 22px;
	overflow: hidden;
}
#booksPrintSize2Div .add-to-cart-card{
	float: left;  margin-top: 30px;
}
.open-crt-holder.evite-open-cart#cardTextDiv{
	width: 95%;
	margin-left: 14%;
}
.open-crt-holder.evite-open-cart #envelope{
	top: 6%;
	width: 45%;
}
.open-crt-holder.evite-open-cart .cardOpenSize2{
	margin: 7% 0% 0% 0%;
}
#evite-front-side.eviteTextSize2NonOpening.preview-evite{
	top: 80px;
	right: 40px;
}
#evite-front-side.eviteTextSize2NonOpening.preview-evite .textAnim_size2NonOpening{
 top: auto;
	position: relative;
	left: auto;
	height: auto;
}
#evite-front-side.eviteTextSize2NonOpening.back-card.preview-evite{
	top: 68px;
	right: 30px;
}
#evite-front-side.eviteInsideSize2Opening.preview-evite{
	top: 55px;
	right: 34px;
	left: auto;
	visibility: hidden;
}
#open-text6{
	visibility: hidden;
}
#evetiContentDiv .open-card-block #open-text4{
	left: -240px;
}
#evetiContentDiv #previewDiv{
	cursor: default;
}
#evetiContentDiv .open-text{
	cursor: pointer;
}
#open-text7{
	visibility: hidden;
	opacity: 0;
	cursor: pointer;
	color: #8fa5c6;
	font-family: Palatino;
	text-transform: uppercase;
	font-size: 16px;
	margin-top: -20px;
}
#cardPreview ::-webkit-input-placeholder {
	text-align: center;
	color: #000;
}

#cardPreview :-moz-placeholder {
	text-align: center;
	color: #000;
}

#cardPreview ::-moz-placeholder {
	text-align: center;
	color: #000;
}

#cardPreview :-ms-input-placeholder {
	text-align: center;
	color: #000;
}
#evite-front-side textarea{
	/*padding: 6px 0 0;*/
	min-width: 100%;
	overflow: hidden;
}
#cardFrontBottomAnimation.evite-preview,
#cardFrontTopAnimation.evite-preview{
	width: 95.5%;
}
#cardBackDiv {
    float:right;
    width:41%;
    margin: 5% 7% 2% 0;
    position: relative;
}
#booksPrintSize1 {
    position: absolute;
    width: 60%;
    height: 45%;
    top: 5%;
    left: 15%;
    padding: 12.5% 4.5%;
}
#booksPrintSize2 {
    position: absolute;
/*    width: 242px !important;*/
    width: 90%;
    height: 65%;
    top: 8%;
    left: 5.5%;
    padding: 2.5% 4%;
}
#booksPrintSize2.add-gift-block{
	padding: 6.5% 4%;
}
#booksPrintSize2Div #booksPrintSize2 {

    top: 8.5%;
}
#evetiContentDiv .eviteInsideSize2Opening{
	height: auto;
}
.ecard-index-displaycard #booksPrintSize2{
	margin-top: 26px;
}
.booksOnCard {
    width: 100%;
    margin: 1%;
}
#cardBackSize1 {
    width: 75%;
}
#cardBackSize2 {
    width: 50%;
}

/* --- STEP 4 --- */
#previewButton {
    margin:2%;
    font-family: 'panatino', 'times new roman', serif;
    font-size: 22px;
    outline: none;
	border: none;
	color:#8fa5c6;
	background: none;
        display: block;
        margin: 0 auto;
        width: 209px;
        text-decoration: none;
}
#previewDiv {
    position: relative;
    width:90%;
    font-family: 'panatino', 'times new roman', serif;
    padding-bottom: 1%;
    margin: 15px auto 0 auto;
    overflow: hidden;
    -webkit-perspective: 800px;
    -webkit-transform-style: preserve-3d;
    perspective: 800px;
    transform-style: preserve-3d;
}

#cardPreview {
    /*width: 100%;
    max-width: 400px;*/
    width: 400px;
    margin: 0 auto;
    position: relative;
}

@media only screen and (max-width: 360px) {
    #cardPreview {
        /*width: 100%;
        max-width: 400px;*/
        width: 200px;
        margin: 0 auto;
        position: relative;
    }
}

#textPreview {
    text-align: center;
    position: absolute;
    top: 48%;
    left: 0%;
    font-style: italic;
    font-weight: bold;
    font-size: 28px;
    width: 100%;
}
#envelope {
    position:absolute;
    top: 6%;
    left: 5%;
    -ms-transform: rotate(-15deg); /* IE 9 */
    -webkit-transform: rotate(-15deg); /* Chrome, Safari, Opera */
    transform: rotate(-15deg);
    width:55%;
    z-index: -1;
}
.envelopeTopBack {
    position:relative;
    width: 100%;
    display: block;
}
.envelopeBack {
    position:relative;
    margin-top: -1.5%;
    width: 100%;
    display: block;
}

/* --- STEP 5 --- */
.formDiv {
    width: 95%;
    margin: 1% auto;
	/* background-color: #8fa5c6;*/
		border-radius: 4px;
		padding: 1%;
		font-size: 20px;
	}
	.textField {
		border-radius: 4px;
		resize: none;
		vertical-align:middle;
		overflow-x: hidden;
		overflow-y: auto;
		outline: none;
		text-align: center;
	}
	#emailForm {
		margin: 10% 5% 0;
	}
	#emailForm .pink{
		font-size: 18px;
	}
	#sendCard {
		margin:0% 0 5% 50%;
		background: #ec008c !important;
	}
	#messagesDiv {
		text-align: center;
		color: red;
		font-weight: bold;
	}
	span.error {
		display:block;
		text-align: left;
		padding-left: 100px;
		color: #ec008c;

	}


	#jquery-loader{
			border:none;
		padding-top:35px;
		background-color: transparent;
		text-align: center;
			background-image: url(../../images/ajax-loader.gif);
		background-position: center center;
		background-repeat: no-repeat;
	}
	#jquery-loader-background{
		background-color: silver
	}

	div.downloadlink {
		text-align:center;
		padding: 15px 0;
	}

	div.downloadlink a {
		display:block;
		padding: 8px 12px;
		color: #FFF;
		background-color: #8fa5c6;
		margin: 0 auto;
		width: 300px;
		font-size: 16px;
	}

	td#ecard-cell p {
		color: #f68ccA;
		text-align: center;
		font-family: 'Litos';
		font-size: 32px;
		line-height: 40px;
	}
	td#ecard-cell p.customize-text{
		font-size: 29px;
	}
	td#ecard-cell span{
		font-weight: bold;
		display: block;
		text-align: center;
	}
	td#ecard-cell p a{
		font-family: Georgia, "Times New Roman", Times, serif;
		font-size: 14px;
		line-height: 25px;
	}
	td#ecard-cell p span {
		font-size: 30px;
		padding: 0px 4px;
	}
	td#ecard-cell p a {
		display:block;
		padding: 8px 12px;
		color: #FFF;
		background-color: #8fa5c6;
		float:right;
		margin: 0 0 0 8px;
	}

	#emailForm p.pink {
		color: #f60894;
	}
	div#cart-table {
		overflow-y: scroll;
		height: 100px;
		width: 300px;
	}
	div#cart-table table th {
		font-weight: bold;
	}

	div.cartWrapper {
		height: 115px;
		float: right;
		width: 300px;
		margin-top: 20px;
		margin-right: 5px;
	}
	p.subtotal {
		float:right;
		width: 100%;
		text-align: left;
		margin-left: 15px;
		font-size: 16px;
	}

	div.people {
		text-align: left;
		padding-left: 20px;
	}


	div.to-fields {
		margin-top: 5px;
		text-align: left;
		padding-left: 20px;
	}

	div.person {
		text-align: left;
		padding-left: 20px;
		margin-bottom: 5px;
	}
	div#people{
		padding-top: 20px;
		padding-bottom: 0;
	}
	p.addremove-controls {
		text-align: left;
		font-size: 22px;
		margin-left: 25px;
		margin-top: 20px;
		width: 360px;
		float: left;
	}

	#emailForm h3 {
		float:right;
		width: 107px;
		margin-top: 20px;
	}
	.ui-dialog-buttonset .ui-button span {
		/* background-color: #ffc2cf !important; */
	background-color: #FFFFFF !important;
}

.toSendDate {
    padding: 6px 12px;
}

.book-label {
   margin-bottom: 10px;
   margin-top: 0px;
}

/* color picker */
div.colorPicker-picker {
  height: 37px;
  width: 37px;
  padding: 0 !important;
  border: 1px solid #000;
  background: url(arrow.gif) no-repeat top right;
  cursor: pointer;
  line-height: 16px;
  font-size:0.75em;
  font-weight:bold;
  text-align: center;
}

div.colorPicker-palette {
  width: 110px;
  position: absolute;
  border: 1px solid #598FEF;
  background-color: #EFEFEF;
  padding: 2px;
  z-index: 9999;
}
  div.colorPicker_hexWrap {width: 100%; float:left }
  div.colorPicker_hexWrap label {font-size: 95%; color: #2F2F2F; margin: 5px 2px; width: 25%}
  div.colorPicker_hexWrap input {margin: 5px 2px; padding: 0; font-size: 95%; border: 1px solid #000; width: 65%; }

div.colorPicker-swatch {
  height: 12px;
  width: 12px;
  border: 1px solid #000;
  margin: 2px;
  float: left;
  cursor: pointer;
  line-height: 12px;
}

/** end color picker **/

#emailForm .close {
    padding: 6px;
}

.product-ecard #cart-table th,
.product-ecard #cart-table td{
	padding: 0 10px 0 0;
}
/** browser specific hacks **/

/** safari **/
#cardFrontDiv #cardFrontBottomAnimation { (;top: 281px;); }

/** firefox **/
@-moz-document url-prefix() {
    #align .ui-state-active img {
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'invert\'><feColorMatrix in='SourceGraphic' type='matrix' values='-1 0 0 0 1 0 -1 0 0 1 0 0 -1 0 1 0 0 0 1 0'/></filter></svg>#invert");
    }
}
.header-buttons {
	width: 100%;
	/*margin-bottom: 10px;*/
	color: #8fa5c6;
}

.font-format .font-title,.font-format .font-title h3,.header-buttons.font h3{
	font-size: 18px;
	width:100%;
	color:#8fa5c6;
	font-family: 'panatino', 'times new roman', serif;
}
.evites-index-index #ecards-second .open-crt-holder {
    /*margin-top: 0;*/
}

.egift-image-block {
	float: left;
	clear: left;
	display: block;
	width:500px;
}
.egift-image-block div h3 {
	width:100%;
	font-size: 18px;
	color: #8fa5c6;
	font-family: 'panatino', 'times new roman', serif;
	font-weight: bold;
	line-height: 1.25;
	margin-bottom: 7px;
}
.egift-image-block div .file-upload-wrapper {
	float:left;
	display: block;
	width: 360px;
	margin-left:30px;
}
.egift-image-block div .file-upload-wrapper .file-upload-input {
	float: left;
	display: block;
	line-height: 29px;
	border:1px solid #8fa5c6;
	font-size: 16px;
	padding-left:10px;
	width:225px;
    height: 31px;
}
.egift-image-block div .file-upload-wrapper .file-upload-button {
	float: left;
	display: block;
	height:31px;
	width:110px;
	text-align: center;
	color:#FFFFFF;
	line-height: 31px;
	border: none;
	text-transform: uppercase;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 13px;
	background-color: #8fa5c6;
}
.egift-image-block div button {
	float: left;
	display: block;
	height:31px;
	width:81px;
	margin-right:25px;
	text-align: center;
	color:#FFFFFF;
	line-height: 31px;
	border: none;
	text-transform: uppercase;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 13px;
	background-color: rgb(255,153,204);
}

textarea.cardTextArea {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    position: relative;
    font-family: 'times new roman', serif;
    border-style:none;
    font-weight: bold;
    font-style:normal;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    line-height: 120%;
}

textarea.cardTextArea.ecardsTextArea {
    position: absolute;
}

textarea#evite-title-own {
    overflow: hidden;
}

