<?php $_ecard = $this->getEcard(); ?>
<?php if ($_ecard->getAttributeSetId() == 33) : ?>
    <div id="cardTextDiv" class="openingChoice open-crt-holder evite-open-cart" >
        <div id="envelope">
            <img class="envelopeTopBack" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'envelope_top_back')->resize(660,341); ?>" alt="Envelope Top Back"/>
            <img class="envelopeBack" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'envelope_back')->resize(660,508); ?>" alt="Envelope Back" />
        </div>
        <img class="cardOpenSize2" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'card_back')->resize(388,555); ?>"  alt="Card open Back"/>

        <div id="evite-front-side" class="eviteInsideSize2Opening back-card">
            <div class="evite-rsvp">
                <span><?php echo $this->__('RSVP'); ?></span>
            </div>
            <div class="evite-attend">
                <input type="radio" name="ecard_text[attend]" value="yes" readonly />
                <label><?php echo $this->__('Will gladly attend'); ?></label>
            </div>
            <div class="evite-attend unable-attend">
                <input type="radio" name="ecard_text[attend]" value="no" readonly />
                <label><?php echo $this->__('Unable to attend'); ?></label>
            </div>
            <div class="evite-how">
                <span><?php echo $this->__('How many guests attending?'); ?></span>
                <input name="ecard_text[how]" id="evite-how" readonly />
            </div>
            <div class="evite-replay">
                <span><?php echo $this->__('Please RSVP by:'); ?></span>
                <input name="ecard_text[replay]" id="evite-reply" />
            </div>
            <div class="evite-remider">
                <span><?php echo $this->__('Send reminder after '); ?></span>
                <input name="ecard_text[remider]" id="evite-remider" value="<?php echo Mage::helper('evites')->getRemindDays() ?>" />
                <span><?php echo $this->__(' days'); ?></span>
            </div>
        </div>
    </div>
<?php else : ?>
    <div id="cardTextDiv" class="openingChoice single-crt-holder evite" style="display: block; cursor: default;">
        <div id="envelope">
            <img class="envelopeTopBack" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'envelope_top_back')->resize(660,341); ?>" alt="Envelope Top Back" />
            <img class="envelopeBack" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'envelope_back')->resize(660,508); ?>" alt="Envelope back"/>
        </div>
        <img class="cardOpenSize2" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'card_back')->resize(388,555); ?>" alt="Card Front Top">

        <div id="evite-front-side" class="eviteTextSize2NonOpening back-card">
            <div class="evite-rsvp">
                <span><?php echo $this->__('RSVP'); ?></span>
            </div>
            <div class="evite-attend">
                <input type="radio" name="ecard_text[attend]" value="yes" />
                <label><?php echo $this->__('Will gladly attend'); ?></label>
            </div>
            <div class="evite-attend unable-attend">
                <input type="radio" name="ecard_text[attend]" value="no"/>
                <label><?php echo $this->__('Unable to attend'); ?></label>
            </div>
            <div class="evite-how">
                <span><?php echo $this->__('How many guests attending?'); ?></span>
                <input name="ecard_text[how]" id="evite-how" readonly />
            </div>
            <div class="evite-replay">
                <span><?php echo $this->__('Please RSVP by:'); ?></span>
                <input name="ecard_text[replay]" id="evite-reply" />
            </div>
            <div class="evite-remider">
                <span><?php echo $this->__('Send reminder after '); ?></span>
                <input name="ecard_text[remider]" id="evite-remider" value="<?php echo Mage::helper('evites')->getRemindDays() ?>" />
                <span><?php echo $this->__(' days'); ?></span>
            </div>
        </div>
    </div>

<?php endif; ?>

<script type="text/javascript">
    //<![CDATA[
    jQuery(document).ready(function() {
        jQuery('input').change(function(){
            jQuery(this).removeClass('validate-error');
        });
    });
    //]]>
</script>
<script type="text/javascript">

	jQuery('#evite-reply').datetimepicker({
		timepicker:false,
		format:'m/d/Y',
		todayButton: false,
		mask:true,
		formatDate:'m/d/Y',
		onChangeMonth:function(current_time, $input){
			var timeR = current_time.dateFormat('m/d/Y');
			jQuery('#evite-reply').val(timeR);
		}
	});

</script>
