<?php $recipients = Mage::helper('base')->getAllRecipients() ?>
<div class="ecards-recipients">
    <div class="ecards-recipients-from">
        <div class="sender-block formDiv">
            <dl>
                <dd><?php echo $this->__('From: '); ?></dd>
                <dt><input type="text" name="ecard_from[name]" value="<?php echo Mage::getModel('customer/session')->getCustomer()->getName(); ?>" readonly /></dt>
                <dd><?php echo $this->__('Email: '); ?></dd>
                <dt><input type="email" name="ecard_from[email]" value="<?php echo Mage::getModel('customer/session')->getCustomer()->getEmail(); ?>" readonly /></dt>
            </dl>
        </div>
        <div id="ecards-recipients-method">
            <input type="radio" name="recipients_method" value="0" checked="checked" class="input-manually" id="input-manually"/><label for="input-manually"><?php echo $this->__('Input the recipients manually'); ?></label>
            <input type="radio" name="recipients_method" value="1" class="upload-csv" id="upload-csv"/><label for="upload-csv"> <?php echo $this->__('Upload with CSV or XLS file'); ?></label>
            <div class="recipients-notice">
                <p><?php echo $this->__('Phone number is optional for text messaging. <br> Cart will increase by 10¢ per eCard sent.'); ?></p>
            </div>
        </div>
        <div class="recipients-block-holder">
            <div class="ecards-recipients-to formDiv person">
                <dl>
                    <dd><?php echo $this->__('To: '); ?></dd>
                    <dt>
                        <input id="name-tags" class="name-recipient" type="text" name="ecard_to[0][name]" placeholder="<?php echo $this->__('Recipient'); ?>" />
                    <div class="validate-advice-block"><?php echo $this->__('Please enter a recipient'); ?></div>
                    <div id="name-container"></div>
                    </dt>
                    <dd><?php echo $this->__('Email: '); ?></dd>
                    <dt>
                        <input id="email-tags" class="email-recipient" type="email" name="ecard_to[0][email]" placeholder="<?php echo $this->__('recipient@address.com'); ?>" />
                    <div class="validate-advice-block"><?php echo $this->__('Please enter a valid email'); ?></div>
                    <div id="mail-container"></div>
                    </dt>

                    <dd><?php echo $this->__('Phone: '); ?></dd>
                    <dt>
                        <input id="phone-tags" class="phone-recipient" type="text" name="ecard_to[0][phone]" placeholder="" />
                    <div class="validate-phoneStrict"></div>
                    <div id="phone-container"></div>
                    </dt>
                    <dd><?php echo $this->__('Schedule: '); ?></dd>
                    <dt class="importantDates">
                        <input class="myDate" type="text" name="ecard_to[0][date]" size="10" value="<?php echo date('m/d/Y'); ?>" placeholder="click" readonly/>
                    </dt>
                </dl>
            </div>
            <p class="pink"><?php echo $this->__('Each time you "<span style="color: #000;">Add a Person</span>" it will duplicate the same eCard & message and your cart will increase. Click '); ?><span style="color: #8fa5c6;">NEXT</span><?php echo $this->__(' before you return to design a new eCard with message, or check out.'); ?></p>
            <p class="addremove-controls"><a href="#" class="add-persan"><?php echo $this->__('Add a Person'); ?></a></p>
        </div>
        <div id="ecards-recipients-csv">
            <p><?php echo $this->__('Please select the CSV or XLS file'); ?></p>
            <span>Click <a href="<?php echo Mage::getBaseUrl('media'); ?>example.csv" download>here</a> to download the example CSV file.</span>
            <input id="ecard-file" type="file" name="csv_file" accept="text/csv" />
            <input id="ecard_qty" type="hidden" name="ecard_qty" value="" />
        </div>
        <?php if(!(Mage::helper('base')->checkIsBuySingle())) : ?>
            <input id="ecard_count" type="hidden" name="ecard_count" value="<?php echo $this->getEcardsCount(); ?>" />
        <?php endif; ?>
    </div>

    <script type="text/javascript">
        //<![CDATA[
        jQuery(function() {
            var recipients = <?php echo json_encode($recipients); ?>;

            if (recipients) {
                var ecardRecipient = new Reminder(recipients);
            }
        });
        //]]>
    </script>