<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $_ecards = $this->getOrders(); ?>
<div class="page-title">
    <h1><?php echo $this->__('My eCards') ?></h1>
</div>
<div class="ecards-tab">
    <div class="tab ecards-new"><a href="<?php echo Mage::getUrl('ecards/customer/index'); ?>"><?php echo $this->__('Available eCards') ?></a></div>
    <div class="tab ecards-sent active"><?php echo $this->__('Sent eCards') ?></div>
</div>
<div class="account-tab-section">
<?php echo $this->getPagerHtml(); ?>
<?php if($_ecards->getSize()): ?>
    <table class="data-table ecard-sent" id="my-ecards-table">
        <col />
        <col />
        <col width="1"/>
        <col width="1" />
        <col width="1" />

        <thead>
        <tr>
            <th><?php echo $this->__('eCard') ?></th>
            <th><?php echo $this->__('Recipient') ?></th>
            <th><?php echo $this->__('Date') ?></th>
            <th class="action-order">&nbsp;</th>
        </tr>
        </thead>

        <tbody>
        <?php foreach ($_ecards as $_ecard): ?>
            <?php $product = $this->getProduct($_ecard->getEcardId()); ?>
        <tr>
            <td class="ecard-id">
                <img src="<?php echo $this->helper('catalog/image')->init($product, 'thumbnail')->resize(75, null); ?>" width="75" height="75" alt="<?php echo $this->escapeHtml($product->getName()) ?>" />
                <h3 class="product-name"><?php echo $this->escapeHtml($product->getName()) ?></h3>
            </td>
            <td class="ecards-recipient-name">
               <p><?php echo $_ecard->getToName(); ?></p>
				<p><?php echo $_ecard->getToEmail(); ?></p>
			</td>
            <td class="ecards-send-date">
               <span class="table-label"><?php echo $this->__('Date:') ?> </span><?php echo $this->formatDate($_ecard->getSendAt()); ?>
            </td>
            <td class="action-order">
                <span class="nobr">
                    <a href="<?php echo $_ecard->getToken(); ?>"><?php echo $this->__('Preview') ?></a>
                </span>
            </td>
        </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
    <script type="text/javascript">decorateTable('my-ecards-table');</script>
    <?php echo $this->getPagerHtml(); ?>
<?php else: ?>
    <p><?php echo $this->__('You don\'t have any eCards'); ?></p>
<?php endif ?>
</div>