<?php $_helper = Mage::helper('egifts/downloads'); ?>
<h1 class="logo"><strong><?php echo $this->getLogoAlt() ?></strong><a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>"><img src="<?php echo $this->getSkinUrl('tgof-logo.png'); ?>" alt="image alt text" /></a></h1>

<div class="page-title">
    <h1><?php echo $this->__('Enjoy Your Gift!'); ?></h1>
	<p><?php echo $this->__('This download is safe and secure.<br> Your eBook will download in 30 seconds.'); ?></p>
</div>

<div class="downloads-block">
	<div id="booksInstruction"><?php echo $this->__('<p style="margin: 0 0 10px;">Download Instructions:</br>
		<span>ePub files </span>are for Apple products. iPhone and iPads
		will auto download<br>
		<span>mobi files </span>are for Android, Kindle or smartphones.
		</p>
		<p>
		Please download the <span>mobi file</span> to your computer. Then from
		your registered email, please email the <span>mobi file</span> to your
		kindle email found in your settings on your Amazon Kindle
		App. Enter <span>convert </span>in the subject line. Send yourself the email.
		Your eBooks will show on the homepage. Enjoy!</p>'); ?></div>
    <ul>
        <?php foreach ($this->getGiftCollection() as $_gift) : ?>
            <li>
                <img src="<?php echo Mage::helper('catalog/image')->init($_gift, 'thumbnail')->resize(226, null); ?>" title="<?php echo $_gift->getName(); ?>" alt="Gift"/>
                <?php $links = $_helper->getDownloadableUrl($this->getId(), $_gift->getId()); ?>
                <?php if (count($links)) : ?>
                    <p><?php echo $_gift->getName(); ?> <span><?php echo $this->__('Select file'); ?></span></p>
                    <select id="link_<?php echo $_gift->getId(); ?>">
                        <?php foreach ($links as $_link) : ?>
                            <option value="<?php echo Mage::getUrl('downloadable/download/link', array('id' => $_link->getLinkHash(), '_secure' => true)); ?>"><?php echo $_link->getLinkTitle(); ?></option>
                        <?php endforeach; ?>
                    </select>
                    <a href="#" onclick="startDownload(<?php echo $_gift->getId(); ?>); return false;"><?php echo $this->__('Click here to download'); ?></a>
                <?php else : ?>
                    <p><?php echo $_gift->getName(); ?></p>
                    <p><?php echo $this->__('You don\'t have any download links available.'); ?></p>

                <?php endif; ?>

            </li>
        <?php endforeach; ?>
    </ul>
</div>

<script type="text/javascript">
    function startDownload(id) {
        var selectId = '#link_' + id;
        window.open(jQuery(selectId).val(), '_blank');
        jQuery.ajax({
            type: 'post',
            url: '<?php echo Mage::getUrl('egifts/view/report/') . 'id/' . $this->getId(); ?>',
            data: jQuery("#ecard-gifts ").serialize(),
            success: function(data){
                jQuery('#ajax-loader').hide();
                jQuery("#ecards-gifts-view").html(data.gift_view);
            }
        });
    }
</script>
