<?php $childCategory = $this->getChildCategories(); ?>
<?php $storeCode = Mage::app()->getStore()->getCode(); ?>
<?php
/*if (count($childCategory) > 1) {
    echo $this->__('Some banner will be here!');
}*/
?>
<div class="ecard-block">
<?php foreach ($childCategory as $category) : ?>
    <?php if ($category->getIsActive()) : ?>
        <?php if(count($childCategory) > 1): ?>
            <div id="cards-selection" class="page-title category-title">
                <h1><?php echo $category->getName(); ?></h1>
            </div>
        <?php endif ?>
        <?php
        $products = $category->getProductCollection()->addAttributeToSelect('*');
        if ($products->getSize()) {
            echo '<ul>';
            foreach ($products as $_product) : ?>
                <li><a href="<?php echo Mage::getUrl('egifts/index/index', array('_store' => $storeCode, 'id' => $_product->getId())); ?>"><img src="<?php echo Mage::helper('catalog/image')->init($_product, 'image')->resize(337,337); ?>" alt="eGift" /></a></li>
            <?php endforeach;
            echo '</ul>';
        }
        ?>
    <?php endif; ?>
<?php endforeach; ?>
</div>