


/*//////////////////// Chapter /////////////// */

div.chapter div{
	float:left;
	text-align:left;
	}

div.chapterImg {
	width:100%;
	}

div.chapterImg img{
	float:left;
	margin:0 30px 0 30px;}
	
div.chapterImg h1 {
	margin-top:50px;
	border:none !important}
	
div.chapterRec{
	padding:20px;
	}
	
	
/*////////////////////////////////////////////////Nav /////////////////*/

.nav-container{
	width:100%;
	}

.nav-container .container {
	background-color:white;
	}

.nav-container .container, .header-container .container, .main_wrapper .container {
	margin:0 auto 0 auto;
	padding:0;
	
	}
	
.nav-container .sf-menu{
	padding:0;
	margin:0 20px;
}

.nav-container .row, .nav-container .col-xs-12, 
.header-container .row, 
.header-container .col-xs-12,
.main_wrapper .col-xs-12,
.main_wrapper .row, 
.col2-right-layout .col-main, 
.main_wrapper .catalog-product-view .col-right,
.catalog-product-view .col-right
{
	padding:0;
	margin:0;
	}

.header-container {
	background:none;
	padding:20px 0 0 0}

.header-container .container{
	background-color:white;
	padding:20px;
	}
	
.main_wrapper .main {
	margin:0;
	}
	
.main_wrapper .breadcrumbs{
	display:none;
	padding:20px; 
	margin:0 0 20px 0;
	}
	
.products-grid li.item {
	text-align:left;
	padding:0;
	}
	
.products-grid .product-shop {
	padding:20px;
	}
	
.products-grid ul.add-to-links {
	width:100%;
	padding-top:20px;
	display:block;
	}
	
ul.products-grid ul.add-to-links li{
	width:50%;
	padding:0;
	}
	
ul.products-grid ul.add-to-links li a{
	text-decoration:underline;
	}

.col2-right-layout .col-main, .main_wrapper .catalog-product-view .col-right, .main_wrapper .col1-layout .col-main, .main_wrapper .homefeatures {
	margin:0;
	padding:0;
	}
	
.main {
	padding:20px 20px 0 20px;
	}
	
.main-container{
	margin:0 0 20px 0;
	}
	
div.homePage{
	float:left;
	width:100%;
	padding:20px;
	font-size: 36px; 
	line-height: 42px;
	border:2px solid #C8DBD9;
	font-family: 'Italianno','Georgia',serif;
	text-align:center;
	margin-bottom:20px;
	}

.homePage div{
	float:left;
	}
	
.homePage div.tulip{
	display:block;
	float:left;
	text-align:center;
	margin:30px 0 0 0;
	padding:0 0 40px 0;
	background:url("http://magento.thegatheringoffriends.com/media/wysiwyg/tulip.png") center bottom no-repeat;}


.homePage span img {
	margin:20px auto;
	width:200px;
	
	}

.homePage img{
	float:left;
	margin:0 40px 0 0;}
	
.homePanel, .category-title{
	clear:both;
	text-align:center;
	}

.category-title {
	margin:0;
	font-size:36px !important;
	color:#FFF;
	}


.homePanel{
	float:left;
	border:2px solid #C8DBD9;
	width:100%;
	margin-bottom:20px;
	}
	

.homePanel div{
	padding:20px 20px 20px 0 ;
	float:left;
	}
	
.homePanel div p{
	float:left;
	font-size: 30px; 
	padding:40px 0 0 0;
	line-height: 30px; 
	font-family: 'Italianno','Georgia',serif; 
	}
	
.homePanel div p a{
	display:block;
	background-color:#BDD3D0;
	padding:10px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	width:150px;
	line-height:19px;
	color:white;
	}	

.homePanel div p a:hover{
	color:
	}	


.homePanel div img {float:left;
margin:20px 10px 0 20px;}	

.homePanel .homePanelMid {
	border-right:2px dashed #EF74C6;
	border-left:2px dashed #EF74C6;}
	
/*//////////////////////////////////////*/

.products-grid a.product-image {
	margin:0 20px 20px 20px;
	border:2px solid #C8DBD9;
	width:250px;
	padding:10px;
	box-shadow:inset 0 0 11px rgba(0,0,0,0.05);
	}
	
.homefeatures ul.products-grid li{
	float:left;
	display:block;
	padding:0 ;
	width:250px;
	margin:-2px 43px 0 0;
	}
	
.homefeatures ul.products-grid li.last{
	margin:-1px 0 0 1px;
	}

	
.homefeatures ul.products-grid{
	margin:0;
	
}
	
.homefeatures .products-grid a.product-image
{
	background:none;
	border:none;
	padding:10px;
	width:100%;
	margin:0;
	border:2px solid #C8DBD9;
	box-shadow:inset 0 0 11px rgba(0,0,0,0.05);
	}	
	
.homefeatures .products-grid .grid_wrap {
	border:none;
	border:none;
	padding-bottom:20px;
	margin:0 ;
	}	
	

.page-title h1{
	padding:0;
	margin:0
	}

.toolbar {
	padding:0;
	margin:0;
	}
	
	
.col1-layout .product-view .product-shop {
    float: left;
    text-align: left;
    width: 40%;
}

#product-options-wrapper{
    text-align: left;

	}
	
.product-options-bottom{

    text-align: left;
 
	}
	
.product-view .product-shop {
    float: left;
    width: 59%;
    text-align: left;
}

.recipes {
	margin:0;
	}
	
.recipes .grid_wrap {
	margin:0;
	height:400px;
	}


.recipes .products-grid .grid_wrap {
    border-right:none;}

.recipes .products-grid .last .grid_wrap {
    border-right:2px solid #C8DBD9;}
	
.us { 
float:left;
margin-bottom:20px;
border:2px solid #C8DBD9;
padding:20px;
font-size: 14px; font-family: georgia, 'Times New Roman', times, serif; line-height: 16px; font-style: italic; text-align:left}


.us img {
	float:left;
	margin:0 40px 0 0;
	}
	
.us p{
	padding:0 40px 50px 40px;
	}
	
.us h1{
	padding:0;
	margin:0;
	}
	
.us .tulip{
	background:url("http://magento.thegatheringoffriends.com/media/wysiwyg/tulip.png") center bottom no-repeat;
	}
	
.col-main {
	width:100%;
	}
	
.header .logo {
	width:500px;
	margin:0 auto;
	padding:0;
	}
	

.header .logo img{
	margin:0;
	}

.header .logo strong{
	display:none;}
	

.header .social-media{
	margin:0;
	margin-top:-195px;
	}
	
.header .social-media a{
	display:inline-block;
	}
	
.header .social-media br {
	display:none;
	}