@font-face {
  font-family: 'Somebody';
  src: url('KGSomebodyThatIUsedtoKnow.ttf')  format('truetype'), url('KGSomebodyThatIUsedtoKnow.svg#KGSomebodyThatIUsedtoKnow') format('svg');
  font-weight: normal;
  font-style: normal;
}
