<?php $_ecard = $this->getEcard(); ?>
<?php $_ecardData = $this->getEcardData(); ?>
<?php $message = json_decode($_ecardData->getMessage(), true); ?>
<?php $reply = json_decode($_ecardData->getReplyText(), true); ?>
<div id="evetiContentDiv" class="<?php echo ($_ecard->getBackground()) ? 'ecard-background' : ''; ?>">
    <div id="cardPreview">
        <div id="previewDiv">
            <a href="#" id="previewButton"><?php echo $this->__('Click to view the card'); ?></a>

            <img id="envelopeFrontAnimation" class="envelopeFrontSet" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'envelope_front')->resize(360,273); ?>" alt="Envelope Front" />
            <div id="textPreview" class="envelopeFrontSet recipient-name">
                <p><?php echo $_ecardData->getToName(); ?></p>
            </div>

        </div>
        <div class="envDiv">
            <div id="envelopeMessage" ><a href="#""><?php echo $this->__('Click to open'); ?></a></div>
            <img id="envelopeBackAnimation" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'envelope_back')->resize(660,508); ?>" alt="Envelope Back"/>
			<div class="block1">
            <img id="envelopeTopBackAnimation" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'envelope_top_back')->resize(660,341); ?>" alt="Envelope Top Back" />
			</div>
        </div>
        <div class="open-card-block">
            <?php if ($_ecard->getAttributeSetId() == 33) : ?>
                <div id="cardDiv" class="open-card-block">
					<div class="block1">
                    <img id="cardOpenLeftAnimation" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'card_open_left')->resize(650,930); ?>" alt="Card Open Left"/>
                    <?php if(!empty($this->_leftSideCardImage)) : ?>
                        <div class="egift-image-block">
                            <div id="image_card_open_left">
                                <img src="<?php echo $this->getLeftSideCardImage() ?>" alt="" />
                            </div>
                        </div>
                    <?php endif; ?>
                    <img id="cardOpenRightAnimation" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'card_open_right')->resize(650,930); ?>" alt="Card Open Right"/>
					</div>
                    <div id="evite-front-side" class="eviteInsideSize2Opening evitesAnimation preview-evite">
                        <?php if (!$message['your']) : ?>
                        <div class="evite-join-us">
                            <span><?php echo $this->__('Please join us to celebrate'); ?></span>
                        </div>
                        <div class="evite-name">
                            <input readonly class="cardTextNameAnimation text_nameAnim_size2Opening" placeholder="<?php echo $this->__('name:'); ?>" value="<?php echo $message['name']; ?>" />
                        </div>
                        <div class="evite-title">
                            <textarea readonly class="cardTextTitleAnimation text_titleAnim_size2Opening textarea-resize" placeholder
                            ="<?php echo $this->__('event title:'); ?>" data-autoresize rows="1" maxlength="52"><?php echo $message['title']; ?></textarea>
                        </div>
                        <div class="evite-date">
                            <input readonly class="cardTextDateAnimation text_dateAnim_size2Opening" placeholder="<?php echo $this->__('date:'); ?>" value="<?php echo $message['date']; ?>" />
                        </div>
                        <div class="evite-time">
                            <input readonly class="cardTextTimeAnimation text_timeAnim_size2Opening" placeholder="<?php echo $this->__('time:'); ?>" value="<?php echo $message['time']; ?>" />
                        </div>
                        <div class="evite-place">
                            <textarea readonly class="cardPlaceNameAnimation text_placeAnim_size2Opening" placeholder="<?php echo $this->__('place:'); ?>"   data-autoresize rows="1"><?php echo $message['place']; ?></textarea>
                        </div>
                        <div class="evite-hosted">
                            <textarea readonly class="cardTextHostedAnimation text_hostedAnim_size2Opening textarea-resize" placeholder="<?php echo $this->__('hosted by:'); ?>"   data-autoresize rows="1"><?php echo $message['hosted']; ?></textarea>
                        </div>
                        <div class="evite-note">
                            <textarea readonly class="cardTextNoteAnimation text_noteAnim_size2Opening" placeholder="<?php echo $this->__('(Personal note or registered at)'); ?>"   data-autoresize rows="2"><?php echo $message['note']; ?></textarea>
                        </div>
                        <?php else : ?>
                                <div class="evite-own">
                                    <textarea readonly class="cardTextArea textAnim_size2NonOpening_" style="<?php echo json_decode($_ecardData->getMessageStyle()); ?>" placeholder="<?php echo $this->__('write text:'); ?>" ><?php echo $message['your']; ?></textarea>
                                </div>
                            <?php endif ?>
                    </div>
                    <p class="open-text" id="open-text1">Click to open card</p>
                    <p class="open-text" id="open-text2">Click to RSVP</p>
                    <div id="cardFrontDiv" class="eviteCardFrontDiv" >
                        <img id="cardFrontTopAnimation" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'card_front_top')->resize(650,465); ?>" alt="Card Front Top"/>
                        <img id="cardFrontBottomAnimation" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'card_front_bottom')->resize(650,465); ?>" alt="Card Front Bottom" />
                    </div>
					<p id="open-text4" class="open-text">Rotate Card</p>
                    <img id="cardBackAnimation" class="booksSet" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'card_back')->resize(650,930); ?>" alt="Card Back" />
                    <div id="booksPrintSize2Div" class="booksSet">
                        <div id="booksPrintSize2"  class="back-card">
                            <form id="ecard-gifts" action="<?php echo Mage::getUrl('evites/view/reply'); ?>" enctype="multipart/form-data" method="post">
                                <div class="evite-rsvp">
                                    <span><?php echo $this->__('RSVP'); ?></span>
                                </div>
                                <div class="evite-attend">
                                    <input type="radio" name="attend" value="yes" id="enabled" <?php if($reply['attend'] == 'yes') echo 'checked'; ?> />
									<label for="enabled"><?php echo $this->__('Will gladly attend'); ?></label>
                                </div>
                                <div class="evite-attend unable-attend">
                                    <input type="radio" name="attend" value="no" id="unable" <?php if($reply['attend'] == 'no') echo 'checked'; ?> />
                                    <label for="unable"><?php echo $this->__('Unable to attend'); ?></label>
                                </div>
                                <div class="evite-how">
                                    <span><?php echo $this->__('How many guests attending?'); ?></span>
                                    <input name="how" id="evite-how" value="<?php echo $reply['how']; ?>" />
                                </div>
                                <div class="evite-replay">
                                    <span><?php echo $this->__('Please RSVP by:'); ?></span>
                                    <input readonly value="<?php echo $message['replay']; ?>" />
                                </div>
                                <input type="hidden" name="ecard_id" value="<?php echo $_ecardData['entity_id']; ?>" >
                                <?php if(!$this->isReadOnly()): ?>
                                    <input type="submit" name="submit" value="<?php echo $this->__('Send'); ?>" class="add-to-cart-card"/>
                                <?php endif; ?>
                            </form>
                        </div>
                    </div>
                </div>
            <?php else : ?>
                <div id="cardDiv" class="single-card-block">
                    <div id="cardFrontDiv" class="eviteCardFrontDiv">
                        <img id="cardFrontTopAnimation"  src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'card_front_top')->resize(650,465); ?>" alt="Card Front Top"/>
                        <img id="cardFrontBottomAnimation"  src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'card_front_bottom')->resize(650,465); ?>" alt="Card Front Bottom" />
                        <div id="evite-front-side" class="eviteTextSize2NonOpening preview-evite">
                            <?php if (!$message['your']) : ?>
                                <div class="evite-join-us">
                                    <span><?php echo $this->__('Please join us to celebrate'); ?></span>
                                </div>
                                <div class="evite-name">
                                    <input readonly class="cardTextNameAnimation text_nameAnim_size2Opening" placeholder="<?php echo $this->__('name:'); ?>" value="<?php echo $message['name']; ?>" />
                                </div>
                                <div class="evite-title">
                                    <textarea readonly class="cardTextTitleAnimation text_titleAnim_size2Opening textarea-resize" placeholder="<?php echo $this->__('event title:'); ?>"  data-autoresize rows="1" maxlength="52"><?php echo $message['title']; ?></textarea>
                                </div>
                                <div class="evite-date">
                                    <input readonly class="cardTextDateAnimation text_dateAnim_size2Opening" placeholder="<?php echo $this->__('date:'); ?>" value="<?php echo $message['date']; ?>" />
                                </div>
                                <div class="evite-time">
                                    <input readonly class="cardTextTimeAnimation text_timeAnim_size2Opening" placeholder="<?php echo $this->__('time:'); ?>" value="<?php echo $message['time']; ?>" />
                                </div>
                                <div class="evite-place">
                                    <textarea readonly class="cardPlaceNameAnimation text_placeAnim_size2Opening" placeholder="<?php echo $this->__('place:'); ?>"  data-autoresize rows="1"><?php echo $message['place']; ?></textarea>
                                </div>
                                <div class="evite-hosted">
                                    <textarea readonly class="cardTextHostedAnimation text_hostedAnim_size2Opening textarea-resize" placeholder="<?php echo $this->__('hosted by:'); ?>"  data-autoresize rows="1"><?php echo $message['hosted']; ?></textarea>
                                </div>
                                <div class="evite-note">
                                    <textarea readonly class="cardTextNoteAnimation text_noteAnim_size2Opening" placeholder="<?php echo $this->__('(Personal note or registered at)'); ?>"  data-autoresize rows="2"><?php echo $message['note']; ?></textarea>
                                </div>
                            <?php else : ?>
                                <div class="evite-own">
                                    <textarea readonly class="cardTextArea textAnim_size2NonOpening_" style="<?php echo json_decode($_ecardData->getMessageStyle()); ?>" placeholder="<?php echo $this->__('write text:'); ?>" ><?php echo $message['your']; ?></textarea>
                                </div>
                            <?php endif ?>
                        </div>
                    </div>
                    <p id="open-text4"></p>
                    <p id="open-text7">Rotate Card</p>
                    <img id="cardBackAnimation" class="booksSet" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'card_back')->resize(650,930); ?>" alt="Card Back"/>
                    <div id="booksPrintSize2Div" class="booksSet">
                        <div id="booksPrintSize2"  class="back-card">
                            <form id="ecard-gifts" action="<?php echo Mage::getUrl('evites/view/reply'); ?>" enctype="multipart/form-data" method="post">
                                <div class="evite-rsvp">
                                    <span><?php echo $this->__('RSVP'); ?></span>
                                </div>
								<div class="evite-attend">
									<input type="radio" name="attend" value="yes" id="enabled" <?php if($reply['attend'] == 'yes') echo 'checked'; ?>/>
									<label for="enabled"><?php echo $this->__('Will gladly attend'); ?></label>
								</div>
								<div class="evite-attend unable-attend">
									<input type="radio" name="attend" value="no" id="unable" <?php if($reply['attend'] == 'no') echo 'checked'; ?> />
									<label for="unable"><?php echo $this->__('Unable to attend'); ?></label>
								</div>
                                <div class="evite-how">
                                    <span><?php echo $this->__('How many guests attending?'); ?></span>
                                    <input name="how" id="evite-how" value="<?php echo $reply['how']; ?>" />
                                </div>
                                <div class="evite-replay">
                                    <span><?php echo $this->__('Please RSVP by:'); ?></span>
                                    <input readonly value="<?php echo $message['replay']; ?>" />
                                </div>
                                <input type="hidden" name="ecard_id" value="<?php echo $_ecardData['entity_id']; ?>" >
                                <?php if(!$this->isReadOnly()): ?>
                                    <input type="submit" name="submit" value="<?php echo $this->__('Send'); ?>" class="add-to-cart-card"/>
                                <?php endif; ?>
                            </form>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
        </div>
        <div class="envDiv block1">
            <img id="envelopeBackNoBottomAnimation" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'envelope_back_no_bottom')->resize(660,508); ?>" alt="Envelope Back No Bottom"/>
            <img id="envelopeTopFrontAnimation" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'envelope_top_front')->resize(660,341); ?>" alt="Envelope Top Front"/>
        </div>
    </div>
</div>
<script type="text/javascript">
    //<![CDATA[
//    jQuery( document ).ready(function() {
//        jQuery('textarea').each(function(){
//            autosize(this);
//        }).on('autosize:resized', function(){
//            console.log('textarea height updated');
//        });
//    });
    jQuery(document).ready(function() {
        var elem = jQuery('.textarea-resize');
        elem.each(function()
        {
            var elm = jQuery(this);
            elm.height(49);
            var count = elm.val().length;
            if(count > 20){
                elm.height(79);
            }
        })
    });
    //]]>
</script>