<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $_ecards = $this->getOrders(); ?>
<div class="page-title">
    <h1><?php echo $this->__('My eCards') ?></h1>
</div>
<div class="ecards-tab">
    <div class="tab ecards-new active"><?php echo $this->__('Available eCards') ?></div>
    <div class="tab ecards-sent"><a href="<?php echo Mage::getUrl('ecards/customer/sent'); ?>"><?php echo $this->__('Sent eCards') ?></a></div>
</div>
<div class="account-tab-section">
<?php echo $this->getPagerHtml(); ?>
<?php if($_ecards->getSize()): ?>
    <table class="data-table" id="my-ecards-table">
        <col />
        <col width="1"/>
        <col width="1" />

        <thead>
        <tr>
            <th><?php echo $this->__('eCard') ?></th>
            <th><?php echo $this->__('Number of eCards') ?></th>
            <th class="action-order">&nbsp;</th>
        </tr>
        </thead>

        <tbody>
        <?php foreach ($_ecards as $_ecard): ?>
            <?php $product = $this->getProduct($_ecard->getEcardId()); ?>
        <tr>
            <td class="ecard-id">
                <img src="<?php echo $this->helper('catalog/image')->init($product, 'thumbnail')->resize(75, null); ?>" width="75" height="75" alt="<?php echo $this->escapeHtml($product->getName()) ?>" />
                <h3 class="product-name"><?php echo $this->escapeHtml($product->getName()) ?></h3>
            </td>
            <td class="ecards-count">
                <?php echo $_ecard->getCount(); ?>
            </td>
            <td class="action-order">
                <span class="nobr">
                    <a href="<?php echo Mage::getUrl('ecards/index/index', array('id' => $_ecard->getEcardId())); ?>"><?php echo $this->__('Send eCard') ?></a>
                </span>
            </td>
        </tr>
        <?php endforeach; ?>
        </tbody>
    </table>

    <script type="text/javascript">decorateTable('my-ecards-table');</script>
    <?php echo $this->getPagerHtml(); ?>
<?php else: ?>
    <p><?php echo $this->__('You don\'t have any eCards'); ?></p>
<?php endif ?>
</div>