<?php $gifts = $this->getGifts(); ?>
<?php $iterator = 0; ?>
<?php if ($gifts->getSize()) : ?>
    <div class="ecards-gifts">
    <div id="booksListDiv">
        <p id="booksInstruction"><?php echo $this->__('Click to add the image of your selected eBook(s) to the back of your card. Click again to remove it.'); ?></p>
        <?php if ($this->getMode() == 'grid') : ?>
            <ul>
            <?php foreach ($gifts as $_gift) :?>
                <li>
                    <label>
                    <input type="checkbox" name="gifts_ids[<?php echo $_gift->getId(); ?>]" onclick="getBackSide();"/>
                    <img src="<?php echo Mage::helper('catalog/image')->init($_gift, 'image')->resize(820, null); ?>" alt="gift" />
                    <span><?php echo $_gift->getName(); ?></span>
                    </label>
                </li>
                <?php echo (++$iterator%$this->getColumnSize() == 0) ? '</ul><ul>' : ''; ?>
            <?php endforeach; ?>
            </ul>
        <?php endif;?>
        </div>
        <div id="cardBackDiv">
            <div id="ecards-gifts-view" class="ecards-gifts-view">
                <?php echo $this->getChildHtml('gift_view'); ?>
            </div>
        </div>
    </div>
<?php else : ?>
    <p><?php echo $this->__('This eCard haven\'t any gifts'); ?></p>
<?php endif;?>
