<?php $_ecard = $this->getEcard(); ?>
<div class="tools-gift-block">
<div id="textTools" style="display: block;">
    <input id="style" type="hidden" name="ecard_style" />
	<div class="font-format">
		<div class="font-title"><h3>Format your Message</h3>
		</div>
		<div class="font-changes">
			<div id="spinnerDiv" title="Font Size"><span class="ui-spinner ui-widget ui-widget-content font-span ui-corner-all">
				<input id="spinner" name="value" value="18" style="color:#878787;" aria-valuenow="18" class="ui-spinner-input" autocomplete="off" role="spinbutton">
			</div>
			<div id="colorDiv" title="Color"><input id="color" type="hidden" name="color" value="#000000"></div>
			<div id="format" class="ui-buttonset"><input type="checkbox" id="check1" checked="" class="ui-helper-hidden-accessible">
				<label for="check1" title="Bold" class="bold-text ui-state-active ui-button ui-widget ui-state-default ui-button-text-only ui-corner-left" role="button">
					<span class="ui-button-text bold-span"><span style="font-weight:bold;color:#000;">B</span></span>
                </label>
                <input type="checkbox" id="check2" class="ui-helper-hidden-accessible">
				    <label for="check2" title="Italic" class="ui-button ui-widget ui-state-default ui-button-text-only ui-corner-right italick-span" role="button">
					    <span class="ui-button-text "><span style="font-style:italic;color:#fff;">i</span></span>
                    </label>
            </div>
			<div id="align" class="ui-buttonset">
                <input type="radio" id="radio1" name="radio" checked="" class="ui-helper-hidden-accessible">
                    <label for="radio1" class="align-left ui-state-active ui-button ui-widget ui-state-default ui-button-text-only ui-corner-left" role="button" title="Text align left">
                        <span class="ui-button-text "></span>
                    </label>
                <input type="radio" id="radio2" name="radio" class="ui-helper-hidden-accessible">
                    <label for="radio2" class="align-center ui-button ui-widget ui-state-default ui-button-text-only" role="button" title="Text align center">
                        <span class="ui-button-text"></span>
                    </label>
                <input type="radio" id="radio3" name="radio" class="ui-helper-hidden-accessible">
                    <label for="radio3" class="align-right ui-button ui-widget ui-state-default ui-button-text-only" role="button" title="Text align right" >
                        <span class="ui-button-text"></span>
                    </label>
                <input type="radio" id="radio4" name="radio" class="ui-helper-hidden-accessible">
                    <label for="radio4" class="align-justify ui-button ui-widget ui-state-default ui-button-text-only ui-corner-right" role="button"title="Text align justify">
                        <span class="ui-button-text"></span>
                    </label>
            </div>
            <a href="#" id="fit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" role="button" title="Fit to card">
                <span class="ui-button-icon-primary ui-icon ui-icon-arrow-4-diag"></span><span class="ui-button-text">Fit to card</span>
            </a>
		</div>
	</div>
</div>
<!-- ////////////////////////////////////// -->
<div class="egift-image-block"><?php if(Mage::getSingleton('core/session')->getIsCardDouble())echo Mage::helper('base')->getBlockImage(); ?></div>
<!-- ///////////////////////////////////// -->
</div>
<div id="fontsDiv" style="display: block;">
	<div class="header-buttons font">
		<h3>Select a Font</h3>
	</div>
	<div class="somediv">
		<div id="Somebody" class="fonts fontsOriginal" title="Somebody You Used To Know">Somebody</div>
		<div id="Tempus" class="fonts fontsOriginal" title="Tempus">Tempus</div>
		<div id="Litos" class="fonts fontsClicked" title="Litos">Litos</div>
		<div id="Kgeyeswideopen" class="fonts fontsOriginal" title="Kgeyeswideopen">Eyes Wide</div>
		<div id="Baskerville" class="fonts fontsOriginal" title="Baskerville">Baskerville</div>
		<div id="Myriad" class="fonts fontsOriginal" title="Myriad">Myriad</div>
	</div>
</div>

<?php if ($_ecard->getAttributeSetId() == 33) : ?>
<div id="cardTextDiv" class="openingChoice open-crt-holder" style="display: block; cursor: default; width: 100%;">
	<div id="envelope">
		<img class="envelopeTopBack" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'envelope_top_back')->resize(660,341); ?>" alt="Envelope Top Back"/>
		<img class="envelopeBack" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'envelope_back')->resize(660,508); ?>" alt="Envelope Back" />
	</div>
        <img class="cardOpenSize2" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'card_open_left')->resize(388,555); ?>" alt="Card open left"/>
    <!-- ////////////////////////////////////// -->
    <div id="image_upload"></div>
    <!-- ////////////////////////////////////// -->
        <img class="cardOpenSize2" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'card_open_right')->resize(388,555); ?>"  alt="Card open right"/>
        <textarea id="cardText" maxlength="750" name="ecard_text[text]" class="cardTextArea ecardsTextArea cardTextSize2Opening" placeholder="<?php echo $this->__( 'Click here to begin your message' ); ?>" onfocus="this.placeholder = ''" onblur="this.placeholder = '<?php echo $this->__( "Click here to begin your message" ); ?>'"></textarea>
   </div>
    <?php else : ?>
	<div id="cardTextDiv" class="openingChoice single-crt-holder" style="display: block; cursor: default;">
		<div id="envelope">
			<img class="envelopeTopBack" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'envelope_top_back')->resize(660,341); ?>" alt="Envelope Top Back" />
			<img class="envelopeBack" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'envelope_back')->resize(660,508); ?>" alt="Envelope back"/>
		</div>
		<img class="cardFrontTop" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'card_front_top')->resize(650,465); ?>" alt="Card Front Top">
		<img class="cardFrontBottom" src="<?php echo Mage::helper('catalog/image')->init($_ecard, 'card_front_bottom')->resize(650,465); ?>" alt="Card Front Bottom">
        <textarea id="cardText" maxlength="750" name="ecard_text[text]" class="cardTextArea ecardsTextArea cardTextSize2NonOpening" placeholder="<?php echo $this->__( 'Click here to begin your message' ); ?>" onfocus="this.placeholder = ''" onblur="this.placeholder = '<?php echo $this->__( "Click here to begin your message" ); ?>'"></textarea>
	</div>

    <?php endif; ?>

<script type="text/javascript">
    //<![CDATA[
    jQuery(document).ready(function() {
        jQuery('input').change(function(){
            jQuery(this).removeClass('validate-error');
        });
    });

    jQuery(document).ready(function() {
        jQuery('textarea').change(function(){
            jQuery(this).removeClass('validate-error');
        });
    });
    //]]>
</script>
