.website_config			{display:none;}
.website_config.active {display:block;}
#website_select option{padding:0 5px 0 5px;}

.save_changes_container{display:none; margin-top:11px;}

.active {display: block;}
.save_changes_container.fieldset{margin-top:0px;border-top: 0 !important;}
#settings_fieldset .grid table {border-right: 0 !important; border-top: 0 !important;}

.access_field{
	width: 200px;
	text-align: center;
}

.access_field *{
	margin: 0 auto;
}

.store_redirect_url {
	width: 570px;
}